[
  {
    "name": "Feature A",
    "defaultOn": false,
    "description": "description",
    "realmsOveride":[
          {
            "realmId": "1234567",
            "overrideStateOn": true
          },
          {
            "realmId": "987654",
            "overrideStateOn": true
          }
    ]
  }
]
