@import "../../../assets/css/_qbVariables";

$fieldtoken-width: 250px;

.fieldToken {
    border-radius: $radius-base;
    height: 30px;
    width: $fieldtoken-width;

    display: flex;
    align-items: center;

    background-color: $fieldtoken-background-color2;

    border: $stroke-width-thin solid $fieldtoken-border-color;

    transition: box-shadow 0.3s;

    &:hover, &.fieldTokenDragging {
        box-shadow: 0 2.5px 4px 0 $dragtoken-shadow-color;
    }

    .fieldTokenTitle {
        max-width: $fieldtoken-width;
        opacity: 1;

        transition: opacity 0.3s, max-width 0.3s;
    }

    &.fieldTokenCollapsed .fieldTokenTitle {
        opacity: 0;
        max-width: 0;
    }

    .fieldTokenIconContainer {
        width: 35px;
        height: 29px;
        border-radius: 2px;
        color: $fieldtoken-icon-color;
        background-color: $fieldtoken-background-color1;

        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.fieldTokenDragging {
        color: $dragtoken-text-color;
        background-color: $dragtoken-background-color2;
        border: $stroke-width-thin solid $dragtoken-background-color2;

        .fieldTokenIconContainer {
            background-color: $dragtoken-background-color1;
        }
    }

    .fieldTokenIcon {
        font-size: 18px;
    }

    .fieldTokenTitle {
        margin-left: $spacing-xx-small;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
