@import "../../../assets/css/_qbVariables";


.fieldToken {
    background-color: $dragtoken-background-color2;
    border: $stroke-width-thin solid $dragtoken-background-color2;
    border-radius: $radius-base;
    color: $dragtoken-text-color;
    height: 35px;
    width: 250px;

    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 $dragtoken-shadow-color;

    .fieldTokenIconContainer {
        width: 35px;
        height: 34px;
        border-radius: 2px;
        background-color: $dragtoken-background-color1;

        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fieldTokenIcon {
        font-size: 20px;
    }

    .fieldTokenTitle {
        margin-left: $spacing-tiny;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
