/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */
/* per our discussion around color we will keep the 2 levels of indirection on color. So that if we change the value
 * of $color-x we are replacing every use of it with a new color(i.e colorblind can't see $color-x, or for theme usage).
 * If we want to modify a category of colors use we will change the semantic category
 * ie from $icon_background: $color-x to $icon_background: $color-y
 * and the scss for color will refer to the semantic category not the color number
*/
/* see http://quickbase.design/colors/ */


//== Blacks and Greys - for General UI & Backgrounds
$color-black-800: #000000; // Semi-transparent overlays behind modals
$color-black-700: #404040; // Text on light backgrounds
$color-black-600: #969696; // Small tertiary type
$color-black-500: #b8b8b8; // Placeholder / Ghost text in form fields
$color-black-400: #c7c7c7; // Gray icons (disabled), Blackout dates, modals...
$color-black-300: #dcdcdc; // Track of scrollbar, horizontal and vertical dividers
$color-black-250: #edf0f3; // Global header, left navigation, token background
$color-black-200: #f5f5f5; // Shadows, backgrounds and environmental accents
$color-black-100: #ffffff; // Form fields, backgrounds, stage background


//== Blues - for Nav background, and table elements, dividers
$color-blue-800: #131f2b; // Tooltip background
$color-blue-700: #193048; // Trowser footer
$color-blue-600: #486c8f; // Numerical badges, Secondary buttons on Trowser Footer
$color-blue-500: #7090ab; // All icons on deep-sea or white
$color-blue-400: #c0d0e4; // Dividers in table headers, Sort by column, date picker hover
$color-blue-300: #e3eaf3; // Table row inline edit selection state
$color-blue-200: #f3f8fe; // Table row hover state, Bottom gradient color in stage background
$color-blue-100: #fafbfc; // page background


//== Teals - for Custom Theming, accents, insights
$color-teal-800: #007e89;
$color-teal-700: #009aad;
$color-teal-600: #00b0c2; // Date picker header & selected/todays date or time
$color-teal-500: #00c4d8;
$color-teal-400: #13dbf1;
$color-teal-300: #95edf6;
$color-teal-200: #caf6fb;
$color-teal-100: #effcfe;


//== Indigo
$color-indigo-800: #2544a7; // Hit states (checkmarks, buttons, radio buttons)
$color-indigo-700: #365ebf; // QuickBase blue, Primary buttons, active state stroke on fields, link


//== Cyan
$color-cyan-800: #254a6d; // Table header labels, flyouts header background, disabled primary button
$color-cyan-700: #007da9; // Page action icons, Field labels (view & edit mode)
$color-cyan-600: #0098cd; // Hover states for nav & nav icon
$color-cyan-500: #00abf4; // Selected state for nav, selected nav table icon
$color-cyan-300: #b2e6fc;
$color-cyan-100: #e5f6fe; // Table header background


//== Green — for confirmation, success, insights
$color-green-800: #356a2e;
$color-green-700: #2ca01c; // confirmation text, field validation success stroke
$color-green-600: #56b349; // confirmation icon
$color-green-500: #92ce85; // confirmation notification stroke
$color-green-200: #e1eed3; // confirmation notification background, field validation success glow


//== Orange — for warnings, alerts, insights
$color-orange-800: #ec5500;
$color-orange-700: #e77700;
$color-orange-600: #e59200; // Base of 1 of 6 highlight themes
$color-orange-500: #f2b835;
$color-orange-200: #fbe0a3;


//== Red - for errors, overdue, insights
$color-red-800: #a9282d;
$color-red-700: #d93b42; // error icon, field label if in error, validation error
$color-red-600: #ec6466;
$color-red-500: #f87878;
$color-red-200: #fbbbbb; // glow of field level error validation (50%)


//== Pink - for guidance, insights
$color-pink-800: #871b45;
$color-pink-700: #a32763; // WalkMe (guidance bar background, launcher)
$color-pink-600: #c72f79;


//-------------------------------------------------------------------
// BEGIN COLOR VARIABLES TO BE ELIMINATED
// These variables are deprecated. Do not use them anymore.
//-------------------------------------------------------------------

// These colors are not part of the official color palette.
// They all need to be changed or added to the palette.
// Name is: badcolor<n>-<variable>
// These are isolated here so we can easily find all the colors
// outside the palette in one place.
// Do not change the values of these variables. Change the code
// using them and then delete the variable.
$badcolor1-color6:          #d2dce7;
$badcolor2-color13:         #f6f8fb;
$badcolor3-color14:         #f9fafb;
//$badcolor4-color15:         #f0f3f9;
$badcolor5-color18:         #cccccc;
//$badcolor6-color24:         #002b48;
$badcolor7-color25:         #555555;
//$badcolor8-color28:         #264a6d;
$badcolor9-color29:         #bfcfe3;
$badcolor10-nav-hover-bg:                   #0097cd;
//$badcolor11-icon-badge-color:               #2d6c92;
//$badcolor12-icon-mail-color:                #f7a21a;
//$badcolor13-icon-duplicate-color:           #c75ac2;
$badcolor14-top-nav-title-icon-color:       #009aae;
//$badcolor15-secondary-bar-page-actions-bg:  #476b90;
//$badcolor16:                #dddddd;
//$badcolor17:                #333333;
$badcolor18:                #f3f3f3;
$badcolor19:                #a52363;
$badcolor20:                #5f8ba7;
$badcolor21:                #6e8ba8;
$badcolor22:                #f2f9fe;
$badcolor23:                #464242;

//-------------------------------------------------------------------
// END COLOR VARIABLES TO BE ELIMINATED
//-------------------------------------------------------------------


//-------------------------------------------------------------------
// BEGIN NEW SEMANTIC NAMES
// These are the new semantic names. We are not using them yet.
// They are defined here so that if the names happen to conflict
// with a semantic name that was already created in the code,
// but used differently than expected, the value defined here
// will be changed by a definition later in this file. We do it
// this way so as to not break the existing UI. In a future pass
// through the code, we will begin using the new names everywhere
// and remove any conflicts that may exist outside this section.
//-------------------------------------------------------------------

//== FRAMEWORK / GENERAL

// universal
$default-text-ondark-color:     $color-black-100;
$default-text-onlight-color:    $color-black-700;
$text-color: $default-text-onlight-color;   // This is overriding a bootstrap variable. We need to keep it until we go through bootstrap in another pass.

$default-hover-color:           $color-cyan-600;
$page-background-color:         $color-black-200;

// general
$border-focused-color:          $color-indigo-800;
$border-nofocus-color:          $color-black-400;
$border-shadow-base-color:      $color-indigo-700;
$formBuilder-border-color:      $color-black-400;
$ghost-text-color:              $color-black-500;
$required-asterisk-color:       $color-blue-500;
$dropdown-hover-color:          $color-blue-300;
$selected-color:                $color-cyan-500;
$error-color:                   $color-red-700;
$error-background-color:        $color-black-100;   // not in XD spreadsheet
$alert-color:                   $color-orange-500;  // not in XD spreadsheet
$success-color:                 $color-green-600;   // not in XD spreadsheet
$modal-icon-color:              $color-orange-500;  // new spec has this set to $color-orange-200 (to be updated later) // should be set to $alert-color

// text
//TBD

// icon font
$iconfont-on-dark-normal-color:         $color-black-100;
$iconfont-on-dark-hover-color:          $color-black-250;
$iconfont-on-dark-disabled-color:       $color-black-300;

$iconfont-on-light-normal-color:        $color-blue-500;    // new spec has this set to $color-cyan-700 (to be updated later)
$iconfont-on-light-alternate-color:     $color-black-700;
$iconfont-on-light-disabled-color:      $color-black-400;   // not in XD spreadsheet

// this old color needs to be merged with one of the iconfont colors above???
$icon-color-hover:                      $color-cyan-600;    // not in XD spreadsheet

$report-columnheaderarrow-normal-color: $color-cyan-800;
$mail-icon-normal-color:                $color-orange-600;
$print-icon-normal-color:               $color-green-600;
$copy-icon-normal-color:                $color-pink-600;
$edit-icon-normal-color:                $color-teal-600;
$delete-icon-normal-color:              $color-red-700;
$add-record-background-color:           $color-orange-500;
$inline-icon-normal-color:              $color-black-300;
$inline-icon-hover-color:               $color-blue-300;

$chevron-normal-color:                  $color-black-700;

// borders
$card-border-color:                     $color-black-500;

// backgrounds
$inline-row-selected-background-color:  $color-blue-200;
$tooltip-background-color:              $color-black-700;

// dividers
$table-divider-color:                   $color-black-400;
$global-divider-color:                  $color-black-400;

// buttons
$primary-background-color:              $color-indigo-700;
$secondary-background-color:            $color-black-200;
$secondary-stroke-color:                $color-black-300;
$primary-hover-color:                   $color-indigo-800;
$secondary-hover-color:                 $color-black-400;
$primary-on-dark-background-color:      $color-indigo-700;
$primary-on-dark-hover-color:           $color-indigo-800;
$secondary-on-dark-background-color:    $color-black-200;
$secondary-on-dark-hover-color:         $color-black-400;
$secondary-on-dark-stroke-color:        $color-black-300;

// calendar
$selected-choice-color:                     $color-cyan-500;    // comment in spreadsheet that this needs to be replaced by $selected-color
$datepicker-today-background-color:         $color-orange-500;

$datepicker-date-hover-background-color:    $color-blue-300;    // not in XD spreadsheet
$datepicker-select-button-color:            $color-blue-600;    // not in XD spreadsheet
$datepicker-select-active-color:            $color-cyan-500;    // not in XD spreadsheet
$datepicker-background-color:               $color-black-100;   // not in XD spreadsheet
$datepicker-today-background-color:         $color-orange-500;  // not in XD spreadsheet

$today-link-background-color:               $color-black-250;

// used by multi-choice field editor... not sure why it's here... or why it's got such a generic name for that component.
$hover-color:                           $color-blue-200;    // new spec has this set to $color-blue-300; (to be updated later)   // comment in spreadsheet that this needs to be replaced by $dropdown-hover-color

// elements
$microtext-link-color:                  $color-indigo-700;
$microtext-normal-color:                $color-black-600;

// top navigation
$topnav-title-icon-color:               $badcolor14-top-nav-title-icon-color;   // not in XD spreadsheet
$topnav-icon-color:                     $iconfont-on-light-normal-color;        // not in XD spreadsheet
$topnav-hover-color:                    $color-black-100;                       // not in XD spreadsheet
$topnav-hover-background-color:         $badcolor10-nav-hover-bg;               // not in XD spreadsheet
$topnav-header-background-color:        $color-blue-300;                        // not in XD spreadsheet

// left navigation
$leftnav-background-color:              $color-black-250;
$leftnav-background-stroke-color:       $color-black-500;
$leftnav-app-background-color:          $color-cyan-500;
$leftnav-brandarea-background-color:    $color-black-100;
$leftnav-brandarea-stroke-color:        $color-black-500;
$leftnav-app-icon-color:                $color-black-100;
$leftnav-table-selected-color:          $color-cyan-500;
$leftnav-table-default-color:           $color-black-700;
$leftnav-tablenames-color:              $color-black-700;
$leftnav-selected-nub-color:            $color-cyan-500;

// current left navigation variables to be merged with the new ones above
$left-nav-color: $color-black-100;                              // not in XD spreadsheet
$left-nav-link-color: $color-blue-500;                          // not in XD spreadsheet
$left-nav-link-hover-color: $color-black-100;                   // not in XD spreadsheet
$left-nav-hover-background-color: $color-cyan-800;              // not in XD spreadsheet
$left-nav-selected-background-color: $color-teal-600;           // not in XD spreadsheet
$left-nav-heading-color: $badcolor9-color29;                    // not in XD spreadsheet
$left-nav-background-color: $color-blue-700;                    // not in XD spreadsheet
$left-nav-selected-table-color: $color-black-100;               // not in XD spreadsheet
$left-nav-right-icon-separator-color: $color-blue-600;          // not in XD spreadsheet
$left-nav-right-icon-separator-hover-color: $color-teal-400;    // not in XD spreadsheet
$left-nav-horizontal-icon-border-color: $color-blue-800;        // not in XD spreadsheet

// Stage - This is the area below the top nav and above the page contents that the user cares about.
$stage-background-color:                $color-black-100;       // not in XD spreadsheet
$stage-headline-icon-color:             $color-cyan-500;        // not in XD spreadsheet
$stage-headline-color:                  $color-black-700;       // not in XD spreadsheet
$stage-breadcrumb-separator-color:      $color-black-400;       // not in XD spreadsheet

// these are on the stage
$page-actions-icon-color:               $color-cyan-700;        // not in XD spreadsheet

// secondary bar
$secondary-bar-color:                           $color-black-100;                       // not in XD spreadsheet
$secondary-bar-background-color:                $badcolor14-top-nav-title-icon-color;   // not in XD spreadsheet
$secondary-bar-icon-action-icon-color:          $color-black-100;                       // not in XD spreadsheet
$secondary-bar-page-actions-background-color:   $color-blue-600;                        // not in XD spreadsheet

// Card view
$card-view-table-actions-container-background-color:    $color-black-100;               // not in XD spreadsheet
$card-view-shadow-color:                                rgba($color-blue-600, 0.2);     // not in XD spreadsheet

//== COMPONENTS

// search boxes
$search-input-color:                    $badcolor7-color25;     // not in XD spreadsheet

//breadcrumbs
$breadcrumbs-mouse-normal-color:        $color-cyan-500;
$breadcrumbs-touch-background-color:    $color-black-250;
$breadcrumbs-touch-normal-color:        $color-black-700;

// checkboxes and radio buttons
$booleansymbol-inside-on-normal-color:  $color-black-700;
$booleansymbol-inside-on-hover-color:   $color-cyan-600;
$booleansymbol-inside-off-hover-color:  $color-black-400;
$booleansymbol-background-color:        $color-black-100;

// old checkbox colors that need to be merged with the ones directly above
$checkbox-background-checked-color:     $color-cyan-500;    // not in XD spreadsheet
$checkbox-background-unchecked-color:   $color-black-100;   // not in XD spreadsheet
$checkbox-border-color:                 $color-black-500;   // not in XD spreadsheet
$checkbox-checkmark-editable-color:     $color-black-100;   // not in XD spreadsheet
$checkbox-checkmark-readonly-color:     $color-cyan-500;    // not in XD spreadsheet
$checkbox-shadow-color:                 rgba($color-indigo-700, 0.25);  // not in XD spreadsheet


// general colors for changed areas
$field-background-changed-base-color:   $color-orange-200;
$field-border-changed-color:            $color-orange-200;
$field-changed-focus-color:             $color-orange-500;
$field-shadow-changed-focus-base-color: $color-orange-500;
$field-label-normal-color:              $color-blue-600;    // new spec has this set to: $color-blue-500 (to be updated later)

// email / phone / URL link
$link-normal-color: $color-indigo-700;
$link-hover-color:  $color-cyan-600;
$link-press-color:  $color-cyan-600;

// user field
$user-picker-deactivated-label-color:      $color-black-600;   // not in XD spreadsheet
$user-picker-user-label-color:             $color-black-700;   // not in XD spreadsheet
$user-picker-email-label-color:            $color-black-600;   // not in XD spreadsheet

$field-user-data-color:                     $color-black-700;   // not in XD spreadsheet

// clear icon in a field (usually a circled x symbol)
$field-clearmini-icon-normal-color:                $color-black-500;   // not in XD spreadsheet
$field-clearmini-icon-hover-color:                 $color-cyan-600;    // not in XD spreadsheet

// URL button
$urlbutton-background-normal-colorstop1-color:          $color-black-200;
$urlbutton-background-normal-colorstop2-color:          $color-black-100;
$urlbutton-border-color:                                $color-black-300;
$urlbutton-border-focus-color:                          $color-indigo-800;  // not in XD spreadsheet
$urlbutton-background-hover-color:                      $color-black-100;
$urlbutton-background-press-color:                      $color-black-200;
$urlbutton-background-disable-base-color:               $color-black-200;
$urlbutton-text-normal-color:                           $color-indigo-700;
$urlbutton-text-hover-color:                            $color-cyan-600;
$urlbutton-text-disabled-base-color:                    $color-indigo-700;
$urlbutton-background-changed-colorstop1-base-color:    $color-orange-200;
$urlbutton-background-changed-colorstop2-color:         $color-black-100;
$urlbutton-background-changed-pressed-base-color:       $color-orange-200;
$urlbutton-background-changed-hover-color:              $color-black-100;
$urlbutton-background-focus-colorstop1-color:           $color-black-800;   // not in XD spreadsheet
$urlbutton-background-focus-colorstop2-color:           $color-black-100;   // not in XD spreadsheet

// Do we really want mixins like this here just for URL fields/buttons? Shouldn't these be replaced with generic button mixins for any and all buttons?
@mixin urlButtonBackgroundGradient() {
    background: linear-gradient(to top, $urlbutton-background-normal-colorstop1-color, $urlbutton-background-normal-colorstop2-color);
}

@mixin urlButtonDisabled() {
    opacity: 0.4;
}

@mixin urlButtonBackgroundFocusGradient() {
    background: linear-gradient(to top, rgba($urlbutton-background-focus-colorstop1-color, 0.05), rgba($urlbutton-background-focus-colorstop2-color, 0.05));
}

// Formula Field
$formula-background-empty-color:            $color-blue-300;    // spreadsheet has this set to: $color-black-300; (to be updated later)
$formula-spinner-color:                     $color-black-700;

// Grid
$grid-row-hover-color:                          $color-blue-200;
$grid-initiate-inline-edit-pencil-base-color:   rgba($color-black-700, 0.2);
$grid-icon-hover-color:                         $color-cyan-700;
$grid-onpencil-row-border-color:                $color-cyan-700;
$grid-column-header-background-color:           $color-cyan-100;
$grid-column-header-border-color:               $color-cyan-300;
$grid-column-icon-normal-color:                 $color-blue-400;
$grid-column-icon-hover-color:                  $color-cyan-700;
$grid-lefticon-normal-color:                    $color-black-300;
$grid-lefticon-hover-color:                     $color-cyan-700;
$grid-line-color:                               $color-black-400;
$inline-edit-shadow-color:                      $color-black-300;
$cell-edit-background-edit:                     $color-blue-200;

// pagination
$arrow-normal-color:                        $color-black-700;
$arrow-disabled-color:                      $color-black-300;
$pageicon-normal-color:                     $color-cyan-700;
$pageicon-hover-color:                      $color-cyan-600;
$pageicon-disabled-color:                   $color-black-300;
$pagination-mobile-panel-background-color:  $color-black-200;
$pagination-mobile-panel-border-color:      $color-black-400;
$pagination-mobile-panel-text-color:        $color-blue-500;
$pagination-mobile-topbar-text-color:       $color-black-100;

// report
// We need to resolve the pagination color conflicts with the colors in the prior section
$report-background-color:                   $badcolor2-color13; // not in XD spreadsheet
$pagination-iconfont-normal-color:          $color-cyan-700;    // not in XD spreadsheet
$pagination-iconfont-disabled-color:        $color-black-400;   // not in XD spreadsheet
$pagination-iconfont-hover-color:           $color-cyan-300;    // not in XD spreadsheet

// Report grouped headers
$grid-group-row-header-background-color:    $color-blue-200;    // not in XD spreadsheet

// report icon colors - should these move up with all the other iconfont colors???
$report-icon-table-color:               $color-red-500;     // not in XD spreadsheet
$report-icon-summary-color:             $color-blue-600;    // not in XD spreadsheet
$report-icon-pie-color:                 $color-orange-500;  // not in XD spreadsheet
$report-icon-calendar-color:            $color-green-600;   // not in XD spreadsheet
$report-icon-grid-edit-color:           $color-pink-600;    // not in XD spreadsheet
$report-icon-timeline-color:            $color-orange-700;  // not in XD spreadsheet
$report-icon-map-color:                 $color-teal-500;    // not in XD spreadsheet

$report-search-bar-background-color:    $badcolor20;        // not in XD spreadsheet
$report-group-background-color:         $color-black-100;   // not in XD spreadsheet
$report-link-color:                     $color-black-700;   // not in XD spreadsheet
$report-container-bg:                   $color-black-100;   // not in XD spreadsheet

// rating
$rating-selected-color:     $color-orange-500;
$rating-unselected-color:   $color-black-400;
$rating-hover-color:        $color-orange-200;

// menus
$menu-header-color:         $color-black-800;   // not in XD spreadsheet
$menu-item-disabled-color:  $color-black-400;   // not in XD spreadsheet

// Facet list
// Why is the facet list any different than any other menu? Don't we need a combined menu spec for all these menus?
$facetmenu-background-color:                $color-black-100;               // not in XD spreadsheet
$facetmenu-border-color:                    $color-black-400;               // not in XD spreadsheet
$facetmenu-nooptions-color:                 $color-black-400;               // not in XD spreadsheet
$facetmenu-clear-button-color:              $color-black-600;               // not in XD spreadsheet
$facetmenu-show-more-color:                 $color-blue-600;                // not in XD spreadsheet
$facetmenu-facet-token-color:               $color-blue-600;                // not in XD spreadsheet
$facetmenu-facet-token-background-color:    $color-blue-300;                // not in XD spreadsheet
$facetmenu-item-hover-background-color:     rgba($color-black-300, 0.5);    // not in XD spreadsheet

// popover dialogs (sort and group)
$popover-text-color:                        $color-black-700;           // not in XD spreadsheet
$popover-title-color:                       $popover-text-color;        // not in XD spreadsheet
$popover-background-color:                  $color-black-100;           // not in XD spreadsheet
$popover-shadow-color:                      rgba($badcolor23, 0.15);    // not in XD spreadsheet

// Error message popup
$error-message-border-color:                $color-black-400;   // not in XD spreadsheet
$error-message-header-background-color:     $error-color;       // not in XD spreadsheet
$error-message-content-background-color:    $color-black-100;   // not in XD spreadsheet
$error-message-content-text-color:          $color-blue-600;    // not in XD spreadsheet
$error-message-header-text-color:           $color-black-100;   // not in XD spreadsheet

// trowsers
$trowser-color: $color-black-800;                                   // not in XD spreadsheet
$trowser-icons-color: $color-black-100;                             // not in XD spreadsheet
$trowser-header-background-color: $color-blue-600;                  // not in XD spreadsheet
$trowser-footer-background-color: $color-blue-700;                  // not in XD spreadsheet
$trowser-action-separator-color: $color-blue-600;                   // not in XD spreadsheet
$trowser-header-nav-icon-hover-background-color: $color-cyan-800;   // not in XD spreadsheet

// QBPanel - an expandable/collapsable panel
$panel-background-color:        $color-black-100;           // not in XD spreadsheet
$panel-header-icon-color:       $color-black-700;           // not in XD spreadsheet
$panel-header-icon-hover-color: $icon-color-hover;          // not in XD spreadsheet
$panel-shadow-color:            rgba($color-blue-600, 0.2); // not in XD spreadsheet

// tabs on QBForms
$tabs-underline-background-color:   $color-indigo-700;  // not in XD spreadsheet
$tabs-disabled-color:               $badcolor5-color18; // not in XD spreadsheet
$tabs-active-color:                 $color-black-600;   // not in XD spreadsheet

// FormBuilder - Drag & Drop
$dragtoken-background-color1: $color-pink-800;
$dragtoken-background-color2: rgba($color-pink-700, 0.9);
$dragtoken-text-color: $color-black-100;
$dragtoken-shadow-color: rgba($color-black-800, 0.5);
// dragtoken-active-gradient is defined in qbVariables because of a circular dependency on stroke-width

// app users
$add-user-button: $color-orange-500;
$app-role-divider: $color-orange-500;
//-------------------------------------------------------------------
// END NEW SEMANTIC NAMES
//-------------------------------------------------------------------


//-------------------------------------------------------------------
// BEGIN SEMANTIC NAMES TO CLEANUP
// Below are semantic names that are inconsistently used or have
// not been reviewed for what to do with them.
//-------------------------------------------------------------------

$input-bg-color: $color-black-100;
$input-text-focus-border-color: $color-indigo-800;
$input-text-normal-border-color: $color-black-400;
$input-text-error-border-color: $error-color;
$tootip-error-color: $error-color;
$field-input-shadow-color: rgba($color-indigo-700, 0.25);

$selection-badge-color: $color-blue-600;
$selected-check-color: $color-green-700;

$input-border-focus-color: $color-indigo-700;
@mixin focus-shadow($color: $input-border-focus-color) {
    box-shadow: 0 0 2px 1.5px rgba($color, 0.25);
    outline: none;
}

//-------------------------------------------------------------------
// END SEMANTIC NAMES TO CLEANUP
//-------------------------------------------------------------------
