$font-family: 'Helvetica Neue LT Roman', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 12px;
$font-color: #404040;

$margin-spacer: 10px;

.custom-row{
  display: block!important;
}

.custom-row-card {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
  border-bottom: 1px solid lightgrey;
  position: relative;
  padding: 5px 10px 15px 10px;
  .card {
    flex: 1;
    width: 100%;
  }
  .glyphicon{
    position: absolute;
    right: $margin-spacer * 2;
    top: $margin-spacer * 2;
  }
  .flexRow{
    display: flex;
    flex-direction: row;
  }
  .fieldRow{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-y: hidden;
  }
  .fieldRow.collapsed{
    max-height: 45px;
  }
  .fieldRow.expanded{
    max-height: 100%;
  }
  .top-card-row{
    font-size: $font-size+2;
  }
  .field {
    padding: $margin-spacer $margin-spacer $margin-spacer 0;
    flex: 1 1 50%;
    .fieldLabel {
      display: block;
      color: #6e8ba8;
    }
    .fieldValue {
      display: block;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: $font-size+2;
    }
    &:nth-child(n+3) {
      .fieldValue {
        white-space: normal;
      }
    }
  }


  @media (min-device-width: 300px) and (orientation: landscape) {
    .field {
      flex-basis: 33%;
      display: block;
      &:nth-child(n+3) {
        .fieldValue {
          white-space: nowrap;
        }
      }
      &:nth-child(n+4) {
        white-space: normal;
      }

    }
  }
}
.custom-row-card.expanded {
  box-shadow: 2px 2px 4px lightgrey, 2px 2px 10px lightgrey;
  border: 0;
  background: #fff;
}

.reportContainer{
  background: #f5f5f5;/* Temporary background to show off inset white stying */
}