/* ugly styles for example */
.custom-row-card{
    border-color: grey;
    border-style: solid;
    border-width: 1px 0 1px 0;
    font-size: large;
}

.custom-row-card .card{
    margin-left: 1%;
    margin-right: 1%;
}

.custom-row-card .show-more-card{
    margin-left: 1%;
    margin-right: 1%;
    display: block;
    border-color: grey;
    border-style: solid;
    border-width: 1px 0 0px 0;
    font-size: large;
}

.custom-row-card .hide-more-card{
    display: none;
}

.top-card-row{
    margin-top: 1%;
    margin-bottom: 1%;
}

.bottom-card-row{
    margin-bottom: 1%;
}

.custom-row-card .card-row .right-col{
    margin-left: 10%;
}

.card{
    width: 95%;
}

.card, .card-expand{
    display: inline-block;
    vertical-align: middle;
}

.custom-row-card .card-row .left-col, .custom-row-card .card-row .right-col{
    display: inline-block;
    vertical-align: middle;
}

.custom-row-card .card-row .left-col .left-col-value{
    display: flex;
}

.custom-row-card .card-row .right-col .right-col-value{
    display: flex;
}

.name {
    visibility: hidden;
}