@import '../../../../src/assets/css/qbVariables';

$header-cell-border: $color5;
$header-cell-border-bottom: $color6;
$header-cell-background-color: $color7;
$header-cell-color: $color8;

$row-background-color-hover: $color1;
$row-cell-vertical-border: $color9;
$row-cell-horizontal-border: $color4;

$footer-background: $color2;
$footer-next-button-hover: $color10;
$footer-next-button: $color2;

.QBGriddle {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;

  table{
    table-layout: auto; /* by default griddle sets this to "fixed" layout but we dont want same width columns*/
  }

  .griddle-container { /* Temporary margin so the footer doesnt overlap the grid. Should be resolved by the layout in time. */
    margin-bottom: 70px;
    border: 0px;
  }


  tr:hover td {
    &:not(.footer-container) {
      background-color: $row-background-color-hover;
    }
  }
  tr {
    th{
      padding: 5px 8px 2px 8px;
      color: $header-cell-color;
      font-size: $font-size-h5;
      -webkit-font-smoothing: antialiased;
      border-color: $header-cell-border;
      border-right: 1px solid $header-cell-border;
      border-bottom: 2px solid $header-cell-border-bottom;
      background-color: $header-cell-background-color;
      &:last-of-type{
        border-right: 0px;
      }
    }
    td {
      word-wrap: break-word;
      padding: 5px 8px;
      border-width: 1px;
      border-left-style: dotted;
      border-right-style: dotted;
      border-bottom-style: solid;
      border-top-style: solid;
      border-left-color: $row-cell-vertical-border;
      border-right-color: $row-cell-vertical-border;
      border-bottom-color: $row-cell-horizontal-border;
      border-top-color: $row-cell-horizontal-border;
      height: 30px; /* this doesnt seem right - pass through props if possible*/
      &:nth-child(1){
        border-left: 0px;
      }
      &:last-of-type{
        border-right: 0px;
      }
    }
  }
  td.Bold{
    font-weight: bold;
  }
  .NoWrap{
    white-space: nowrap;
  }
  td.AlignRight, th.AlignRight {
    text-align: right;
  }

  .footer-container {
    background-color: $footer-background;
    .griddle-footer{
      .pager{
        margin-right: 2px;
      }
      .next {
        a{
          padding: 5px 15px;
          line-height: 1.42857;
          text-decoration: none;
          color: #365EBF;
          border-style: solid;
          border-width: 1px;
          border-color: $row-cell-vertical-border;
          background-color: $footer-next-button;
          font-size: 14px;
          margin: 0;
          border-radius: 2px;
          &:hover{
            color: $footer-next-button-hover;
          }
        }
      }
    }
  }
}

