@import '../../assets/css/qbVariables';

$table-icon-font-size: $font-size-h3;
$table-icon-heading-spacer: $spacing-xxx-small;

.formStage {
    .formHeader {
        .qbIcon {
            font-size: $table-icon-font-size;
            margin-right: $table-icon-heading-spacer;
        }
        > * {
            vertical-align: middle;
        }
    }
    .editableStage {
        margin-left: $table-icon-font-size + $table-icon-heading-spacer + 16px;
        .titleField {
            display: inline-block;
            padding: 5px 11px 5px 11px;
            border: $stroke-width-thin solid $color-black-300;
            color: $color-black-700;
            border-radius: 4px;

            .selectedOption {
                > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &:hover {
                border: $stroke-width-thin solid $color-purple-600;
                color: $color-purple-600;
            }
        }
        .recordTitleFieldDescription {
            margin-bottom: 10px;
        }
    }
}