@import '../../assets/css/qbVariables';

.formBuilderContainer {
    background-color: $color-orange-500;

    .notDragging {
        opacity: 1;
        max-height: 500px;

        transition: opacity 0.5s, max-height 0.5s;
    }

    .dragging {
        opacity: 0;
        max-height: 0;

        transition: opacity 0.25s, max-height 0.25s;
    }

    .droppablePlaceholder {
        height: 50px;
        width: 100%;
    }

    .dropHovering {
        background-color: $color-teal-500;
        opacity: 0.4;

        transition: opacity 0.5s, background-color 1s;
    }

    .notDropHovering {
        background-color: $color-orange-500;
        opacity: 1;

        transition: opacity 0.5s, background-color 1s;
    }

    .formItem-enter {
        opacity: 0.01;
    }

    .formItem-enter.formItem-enter-active {
        opacity: 1;
        transition: opacity 1s;
    }

    .formItem-leave {
        opacity: 1;
    }

    .formItem-leave.formItem-leave-active {
        opacity: 0.01;
        transition: opacity 1s;
    }
}