@import '../../assets/css/qbVariables';

.formBuilderContainer {
    // When using the touch-backend, the user-select: none property turns off text selection while dragging.
    // Our auto-prefixer doesn't appear to support this one so added prefixes for user-select manually.
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    // For the purpose of current form builder, we lock the height of the textarea so that the height can
    // be used in determining the height of the field editing tools
    // !important is needed because this value is set as an inline style in the multilineTextFieldValueEditor
    textarea {
        height: 150px !important;
    }

    .dragAndDropField {
        max-width: $form-edit-input-width;

        @include small-breakpoint {
            max-width: inherit;
        }
    }

    .draggableField {
        opacity: 1;
        z-index: 1;
        transition: opacity 0.5s;

        /* When in builder mode we need to push out the
        left padding to make room for the editing tools */
        margin-left: $spacing-tiny;

        &:active {
            .formElement.fieldLabel {
                //need to add a zindex of 1 to show the field label during an active state
                z-index: 3;
            }
        }
    }

    .draggableField, .droppableField {
        position: relative;
    }

    .dragging {
        opacity: 0.9;
        transition: opacity 0.5s;
    }

    /**
     *  The element cache is always hidden. It contains copies of elements that are being dragged to support
     *  an issue with touch events. See formBuilder.js for more information.
     */
    .elementCache {
        display: none;
    }

    .selectedFormElement {
        //This opacity is needed to work for 'tabbing'
        opacity: 1;
        outline: none;
        border: $stroke-width-thin solid $border-focused-color;

        .deleteFieldIcon {
            .qbIcon {
                opacity: 1;
                color: $color-red-700;
            }
        }

        .fieldPreferencesIcon {
            .qbIcon {
                opacity: 1;
                color: $color-cyan-700;
            }
        }
    }
}
