@import '../../assets/css/_qbVariables';
@import '../../assets/css/_qbColorVariables';

.modal-content {
  border-top: none;
  border-bottom: none;
  border-left: 30px white solid;
  border-right: 30px white solid;
  border-radius: 2px;

  @include small-breakpoint {
    border-left: 10px white solid;
    border-right: 10px white solid;
    border-radius: 0px;
  }
}
.modal-dialog {
  margin: 200px auto;
  width: 450px;

  @include small-breakpoint {
    margin: 0px auto;
    width: 100%;
  }
}

#modalText {
  font-size: $font-size-h4;
}

.alert{
  margin-left: -15px;
  font-size: 44px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: $color-orange-500;

  @include small-breakpoint {
    font-size: 44px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: $color-orange-500;
  }
}

//#smallButtonStay {
//  width: 100%;
//  margin-left: 0px;
//}

//#smallDoNotSaveButton{
//  margin-top: 10px;
//  margin-bottom: 10px;
//  margin-left: 0px;
//  width: 100%;
//}

//#smallSaveButton{
//  width: 100%;
//}

//#smallModalText {
//  font-size: $font-size-h4;
//  padding-bottom: 100px;
//}

.smallAlert{
  font-size: 44px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: $color-orange-500;
}