@import '../../assets/css/_qbVariables';

.modal-content {
  border-top: none;
  border-bottom: none;
  border-left: 30px white solid;
  border-right: 30px white solid;

  @include small-breakpoint {
    border-left: 10px white solid;
    border-right: 10px white solid;
    border-radius: 0px;
  }
}

.modal-footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

.modal-title{
 height: 50px;
}
.modal-dialog {
  margin: 200px auto;
  width: 450px;

  @include small-breakpoint {
    margin: 0px auto;
    width: 100%;
  }
}

.modal-body {
  padding: 0px;
  margin-top: -15px;
  height: 44px;
  margin-left: 60px;

  @include small-breakpoint {
    margin-top: -15px;
    height: 54px;
  }
}

#buttonStay {
  float: left;
  margin-left: -15px;
}

#doNotSaveButton{
  margin-right: 5px;
}

#saveButton{
  margin-right: -15px;
}

#modalText {
  padding-bottom: 100px;
}

.alert{
  margin-left: -15px;
  font-size: 44px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: orange;
}

#smallButtonStay {
  width: 100%;
  margin-left: 0px;
}

#smallDoNotSaveButton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  width: 100%;
}

#smallSaveButton{
  width: 100%;
}

#smallModalText {
  padding-bottom: 100px;
}

.smallAlert{
  font-size: 44px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: orange;
}