$light-blue: #C0D0E4;
$medium-blue: #486C8E;
$dark-blue: #193048;

.topBar {
  background-color: $light-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  color: $medium-blue;
}

.globalActions {
  flex-direction: row;
  display: flex;
  background-color: $medium-blue;
  color: #FFF;
  font-size: 1.3em;
  & > div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.loginStuff, .branding {
  align-self: center;
  line-height: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.leftNav {
  background-color: $dark-blue;
  color: #FFFFFF;
  flex: 0 0 170px;
  width: 170px;
}

.pageContent {
  flex-grow: 1;
  background-color: #DCDCDC;
}

.stage {
  padding: 10px;
  background-color: #F5F8FB;
  border-bottom: 1px solid #E7EFF6;
  position: relative;
}

.stageClose {
  position: absolute;
  bottom: -24px;
  right: 20px;
  background-color: #F5F8FB;
  border-bottom: 1px solid #E7EFF6;
  border-right: 1px solid #E7EFF6;
  border-left: 1px solid #E7EFF6;
  border-radius: 0 0 3px 3px;
  width: 30px;
  line-height: 29px;
  height: 25px;
  text-align: center;
  color: $dark-blue;
}

.apps-container {
  margin: 0;
  height: 100%;
}