/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */

$color1:    #f3f8fe;
$color2:    #ffffff;
$color3:    #486c8f;
$color4:    #dcdcdc;
$color5:    #c0d0e4;
$color6:    #d2dce7;
$color7:    #e3eaf3;
$color8:    #486c8f;
$color9:    #969696;
$color10:   #243F7F;
$color11:   #404040;
$color12:   #f5f5f5;
$color13:   #f6f8fb;
$color14:   #f9fafb;

$left-nav-bg: #193048;


//== Report Toolbar
$toolBar-borderColor:              $color7;
$toolBar-backgroundColor:          $color13;
$toolBar-input-borderColor:        $color4;
