/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */

$color1:    #f3f8fe;
$color2:    #ffffff;
$color3:    #486c8f;
$color4:    #dcdcdc;
$color5:    #c0d0e4;
$color6:    #d2dce7;
$color7:    #e3eaf3;
$color8:    #486c8f;
$color9:    #969696;
$color10:   #243F7F;
$color11:   #404040;
$color12:   #f5f5f5;
$color13:   #f6f8fb;
$color14:   #f9fafb;
$color15:   #f0f3f9;


$left-nav-bg: #193048;
$icon-color: #7090ab;
$icon-color-hover: #0098cd;

$header-bg: #e3eaf3;
$nav-hover-bg: #0097CD;
$nav-hover-fg: #fff;
$nav-link-fg: #fff;
$nav-border: #ccc;

$report-container-bg: #fff;
//tabs underline color
$tabsUnderLine: #365ebf;


$icon-badge-color: #2d6c92;
$icon-edit-color: #00b0c2;
$icon-print-color: #5bc93d;
$icon-mail-color: #ff9e1e;
$icon-duplicate-color: #df45ac;
$icon-delete-color: #ff3c46;
$icon-pickles-color: #c0c0c0;

//== Stage
$stage-backgroundColor:           $color2;

//== Report
$report-backgroundColor:          $color13;

//== Report Toolbar
$toolBar-borderColor:              $color7;
$toolBar-backgroundColor:          $color15;
$toolBar-input-borderColor:        $color4;

