/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */
/* per our discussion around color we will keep the 2 levels of indirection on color. So that if we change the value
 * of $color-x we are replacing every use of it with a new color(i.e colorblind can't see $color-x, or for theme usage).
 * If we want to modify a category of colors use we will change the semantic category
 * ie from $icon_background: $color-x to $icon_background:$color-y
 * and the scss for color will refer to the semantic category not the color number
*/
/* see http://quickbase.design/colors/ */



//== Blacks and Greys - for General UI & Backgrounds
$color-black-800: #000000; // Semi-transparent overlays behind modals
$color-black-700: #404040; // Text on light backgrounds
$color-black-600: #969696; // Small tertiary type
$color-black-500: #b8b8b8; // Placeholder / Ghost text in form fields
$color-black-400: #c7c7c7; // Gray icons (disabled), Blackout dates, modals...
$color-black-300: #dcdcdc; // Track of scrollbar, horizontal and vertical dividers
$color-black-250: #edf0f3; // Global header, left navigation, token background
$color-black-200: #f5f5f5; // Shadows, backgrounds and environmental accents
$color-black-100: #ffffff; // Form fields, backgrounds, stage background


//== Blues - for Nav background, and table elements, dividers
$color-blue-800: #131f2b; // Tooltip background
$color-blue-700: #193048; // Trowser footer
$color-blue-600: #486c8f; // Numerical badges, Secondary buttons on Trowser Footer
$color-blue-500: #7090ab; // All icons on deep-sea or white
$color-blue-400: #c0d0e4; // Dividers in table headers, Sort by column, date picker hover
$color-blue-300: #e3eaf3; // Table row inline edit selection state
$color-blue-200: #f3f8fe; // Table row hover state, Bottom gradient color in stage background
$color-blue-100: #fafbfc; // page background


//== Teals - for Custom Theming, accents, insights
$color-teal-800: #007e89;
$color-teal-700: #009aad;
$color-teal-600: #00b0c2; // Date picker header & selected/todays date or time
$color-teal-500: #00c4d8;
$color-teal-400: #13dbf1;
$color-teal-300: #95edf6;
$color-teal-200: #caf6fb;
$color-teal-100: #effcfe;


//== Indigo
$color-indigo-800: #2544a7; // Hit states (checkmarks, buttons, radio buttons)
$color-indigo-700: #365ebf; // QuickBase blue, Primary buttons, active state stroke on fields, link


//== Cyan
$color-cyan-800: #254a6d; // Table header labels, flyouts header background, disabled primary button
$color-cyan-700: #007da9; // Page action icons, Field labels (view & edit mode)
$color-cyan-600: #0098cd; // Hover states for nav & nav icon
$color-cyan-500: #00abf4; // Selected state for nav, selected nav table icon
$color-cyan-300: #b2e6fc;
$color-cyan-100: #e5f6fe; // Table header background


//== Green — for confirmation, success, insights
$color-green-800: #356a2e;
$color-green-700: #2ca01c; // confirmation text, field validation success stroke
$color-green-600: #56b349; // confirmation icon
$color-green-500: #92ce85; // confirmation notification stroke
$color-green-200: #e1eed3; // confirmation notification background, field validation success glow


//== Orange — for warnings, alerts, insights
$color-orange-800: #ec5500;
$color-orange-700: #e77700;
$color-orange-600: #e59200; // Base of 1 of 6 highlight themes
$color-orange-500: #f2b835;
$color-orange-200: #fbe0a3;


//== Red - for errors, overdue, insights
$color-red-800: #a9282d;
$color-red-700: #d93b42; // error icon, field label if in error, validation error
$color-red-600: #ec6466;
$color-red-500: #f87878;
$color-red-200: #fbbbbb; // glow of field level error validation (50%)


//== Pink - for guidance, insights
$color-pink-800: #871b45;
$color-pink-700: #a32763; // WalkMe (guidance bar background, launcher)
$color-pink-600: #c72f79;


//-------------------------------------------------------------------
// BEGIN NEW SEMANTIC NAMES
// These are the new semantic names. We are not using them yet.
// They are defined here so that if the names happen to conflict
// with a semantic name that was already created in the code,
// but used differently than expected, the value defined here
// will be changed by a definition later in this file. We do it
// this way so as to not break the existing UI. In a future pass
// through the code, we will begin using the new names everywhere
// and remove any conflicts that may exist outside this section.
//-------------------------------------------------------------------

//== general
$border-focused-color:      $color-indigo-800;
$border-nofocus-color:      $color-black-400;
$border-shadow-base-color:  $color-indigo-700;
$ghost-text-color:          $color-black-500;
$required-asterisk-color:   $color-blue-500;
$selected-choice-color:     $color-cyan-500;
$dropdown-hover-color:      $color-blue-200;
$selected-color:            $color-cyan-500;
$error-color:               $color-red-700;
$modal-icon-color:          $color-orange-200;

//== elements
$microtext-link-color:      $color-indigo-700;
$microtext-normal-color:    $color-black-600;

//== checkboxes and radio buttons
$booleansymbol-inside-on-normal-color:  $color-black-700;
$booleansymbol-inside-on-hover-color:   $color-cyan-600;
$booleansymbol-inside-on-press-color:   $color-cyan-600;
$booleansymbol-inside-off-hover-color:  $color-black-400;
$booleansymbol-inside-off-press-color:  $color-black-400;
$booleansymbol-background-color:        $color-black-100;

//== general colors for changed areas
$field-background-changed-base-color:   $color-orange-200;
$field-border-changed-color:            $color-orange-200;
$field-changed-focus-color:             $color-orange-500;
$field-shadow-changed-focus-base-color: $color-orange-500;
$field-label-normal-color:              $color-blue-500;

//== email / phone / URL link
$link-normal-color: $color-indigo-700;
$link-hover-color:  $color-cyan-600;
$link-press-color:  $color-cyan-600;

//== URL button
$urlbutton-background-normal-colorstop1-color:          $color-black-200;
$urlbutton-background-normal-colorstop2-color:          $color-black-100;
$urlbutton-border-color:                                $color-black-300;
$urlbutton-background-hover-color:                      $color-black-100;
$urlbutton-background-press-color:                      $color-black-200;
$urlbutton-background-disable-base-color:               $color-black-200;
$urlbutton-text-normal-color:                           $color-indigo-700;
$urlbutton-text-hover-color:                            $color-cyan-600;
$urlbutton-text-disabled-base-color:                    $color-indigo-700;
$urlbutton-background-changed-colorstop1-base-color:    $color-orange-200;
$urlbutton-background-changed-colorstop2-color:         $color-black-100;
$urlbutton-background-changed-pressed-base-color:       $color-orange-200;
$urlbutton-background-changed-hover-color:              $color-black-100;

//== Formula Field
$formula-background-empty-color:    $color-black-300;
$formula-spinner-color:             $color-black-700;

//== pagination
$iconfont-normal-color:                     $color-black-400;
$iconfont-hover-color:                      $color-cyan-600;
$iconfont-pressed-color:                    $color-cyan-600;
$iconfont-disabled-color:                   $color-black-400;
$pagination-mobile-panel-background-color:  $color-black-200;
$pagination-mobile-panel-border-color:      $color-black-400;
$pagination-mobile-panel-text-color:        $color-blue-500;
$pagination-mobile-topbar-text-color:       $color-black-100;

//== rating
$rating-selected-color:     $color-orange-500;
$rating-unselected-color:   $color-black-400;
$rating-hover-color:        $color-orange-200;

//-------------------------------------------------------------------
// END NEW SEMANTIC NAMES
//-------------------------------------------------------------------



//-------------------------------------------------------------------
// BEGIN COLOR VARIABLES TO BE ELIMINATED
// These variables are deprecated. Do not use them anymore.
//-------------------------------------------------------------------

// These colors are not part of the official color palette.
// They all need to be changed or added to the palette.
// Name is: badcolor<n>-<variable>
// These are isolated here so we can easily find all the colors
// outside the palette in one place.
// Do not change the values of these variables. Change the code
// using them and then delete the variable.
$badcolor1-color6:          #d2dce7;
$badcolor2-color13:         #f6f8fb;
$badcolor3-color14:         #f9fafb;
$badcolor4-color15:         #f0f3f9;
$badcolor5-color18:         #cccccc;
$badcolor6-color24:         #002b48;
$badcolor7-color25:         #555555;
$badcolor8-color28:         #264a6d;
$badcolor9-color29:         #bfcfe3;
$badcolor10-nav-hover-bg:                   #0097cd;
$badcolor11-icon-badge-color:               #2d6c92;
$badcolor12-icon-mail-color:                #f7a21a;
$badcolor13-icon-duplicate-color:           #c75ac2;
$badcolor14-top-nav-title-icon-color:       #009aae;
$badcolor15-secondary-bar-page-actions-bg:  #476b90;

//-------------------------------------------------------------------
// END COLOR VARIABLES TO BE ELIMINATED
//-------------------------------------------------------------------


//----- semantic color usage
$error-color: $color-red-700;
$text-color: $color-black-700;
$icon-color: $color-blue-500;
$icon-disabled-color: $color-black-400;
$menu-item-disabled-color: $color-black-400;
$data-color: $color-black-700;
$input-bg-color: $color-black-100;
$input-text-focus-border-color: $color-indigo-800;
$input-border-focus-color: $color-indigo-700;
$input-text-normal-border-color: $color-black-400;
$input-text-error-border-color: $error-color;
$tootip-error-color: $error-color;
$input-email-normal-text-color: $color-cyan-500;
$field-label-normal-color: $color-blue-600;
$selected-color: $color-cyan-500;
$hover-color: $color-blue-200;


//================
$left-nav-bg: $color-blue-700;
$icon-color-hover: $color-cyan-600;
$topnav-icon-color: $icon-color;
$page-actions-icon-color: $color-cyan-700;
$header-bg: $color-blue-300;
$nav-hover-bg: $badcolor10-nav-hover-bg;
$nav-hover-fg: $color-black-100;
$nav-link-fg: $color-black-100;
$nav-border: $badcolor5-color18;
$small-header-bg: $color-black-100;
$report-container-bg: $color-black-100;
//tabs underline color
$tabsUnderLine: $color-indigo-700;
$icon-badge-color: $badcolor11-icon-badge-color;
$icon-edit-color: $color-teal-600;
$icon-print-color: $color-green-700;
$icon-mail-color: $badcolor12-icon-mail-color;
$icon-duplicate-color: $badcolor13-icon-duplicate-color;
$icon-delete-color: $color-red-700;
$icon-pickles-color: $color-black-700;
$selection-badge-color: $color-blue-600;
$link-normal-color: $color-indigo-700;
$link-hover-color: $color-cyan-600;
$link-press-color: $color-cyan-600;
$selected-check-color: $color-green-700;

//== Stage
$stage-backgroundColor: $color-black-100;
$stage-headline-icon-color: $color-cyan-500;
$stage-headline-color: $color-black-700;

//== Report
$report-backgroundColor: $badcolor2-color13;
$pagination-iconfont-normal-color: $color-cyan-700;
$pagination-iconfont-disabled-color: $color-black-400;
$pagination-iconfont-hover-color: $color-cyan-300;
$pagination-text-normal-color: $color-black-700;

//== Report grouped headers
$grid-group-row-header-bkgrd-color: $color-blue-200;
$grid-group-row-header-border-top: $color-blue-300;
$grid-group-row-header-divider: $color-black-500;

//== Report Toolbar
$toolBar-borderColor: $color-blue-300;
$toolBar-backgroundColor: $badcolor4-color15;
$toolBar-input-borderColor: $color-black-300;

//==CardView
$pagination-mobile-panel-background-color: $color-black-200;
$pagination-mobile-panel-border-color: $color-black-400;
$pagination-mobile-panel-text-color: $color-blue-500;
$pagination-mobile-topbar-text-color: $color-black-100;

//==Facet list
$facetMenu-backgroundColor: $color-black-100;
$facetSelected-color: $selected-check-color;
$facetMenu-BorderColor: $color-black-400;
$facetMenu-NoOptionsColor: $color-black-400;
$facetMenu-clearButtonColor: $color-black-600;
$facetMenu-showMoreColor: $color-blue-600;
$facetMenu-facetTokenTextColor: $color-blue-600;
$facetMenu-facetTokenBackgroundColor: $color-blue-300;
$facetMenu-itemHoverColor: rgba($color-black-300, 0.5);

//===Sort & Group Popover
$popover-text: $color-black-700;
$popover-title: $popover-text;
$popover-background: $color-black-100;

//==report icon colors
$report-icon-table-color: $color-red-500;
$report-icon-summary-color: $color-blue-600;
$report-icon-pie-color: $color-orange-500;
$report-icon-calendar-color: $color-green-600;
$report-icon-grid-edit-color: $color-pink-600;
$report-icon-timeline-color: $color-orange-700;
$report-icon-map-color: $color-teal-500;
$search-input-fg: $badcolor7-color25;
$popup-fg: $color-black-700;
$top-nav-title-icon-color: $badcolor14-top-nav-title-icon-color;
$secondary-bar-fg: $color-black-100;
$secondary-bar-bg: $badcolor14-top-nav-title-icon-color;
$secondary-bar-page-actions-bg: $badcolor15-secondary-bar-page-actions-bg;

//==recordtrowser
$nav-icon-hover-bg: $color-cyan-800;

@mixin focus-shadow($color: $input-border-focus-color) {
    box-shadow: 0 0 2px 1.5px rgba($color, 0.25);
    outline: none;
}
//== Field labels used on report card view and forms
$fieldLabel-color: $color-blue-600;
$required-asterisk-color: $color-blue-500;

//== Fields
$clearmini-normal-color: $color-black-500;
$clearmini-hover-color: $color-cyan-600;
$checkbox-background-checked-color: $color-cyan-500;
$checkbox-background-unchecked-color: $color-black-100;
$checkbox-border-color: $color-black-500;
$checkbox-checkmark-editable-color: $color-black-100;
$checkbox-checkmark-readonly-color: $color-cyan-500;
$datepicker-header-bg: $color-teal-600;
$datepicker-header-fg: $color-black-100;
$datepicker-date-hover-bg: $color-blue-300;
$datepicker-select-button-fg: $color-blue-600;
$datepicker-select-button-bg: $color-blue-300;
$datepicker-select-active: $color-cyan-500;
$datepicker-bg: $color-black-100;
$datepicker-bg-today: $color-orange-500;

// UrlField
$urlButton-background-normal-colorstop1-color: $color-black-200;
$urlButton-background-normal-colorstop2-color: $color-black-100;

@mixin urlButtonBackgroundGradient() {
    background: linear-gradient(to top, $urlButton-background-normal-colorstop1-color, $urlButton-background-normal-colorstop2-color);
}

@mixin urlButtonDisabled() {
    opacity: 0.4;
}
$urlButton-background-focus-colorstop1-color: $color-black-800;
$urlButton-background-focus-colorstop2-color: $color-black-100;

@mixin urlButtonBackgroundFocusGradient() {
    background: linear-gradient(to top, rgba($urlButton-background-focus-colorstop1-color, 0.05), rgba($urlButton-background-focus-colorstop2-color, 0.05));
}
$urlButton-border-focus-color: $color-indigo-800;
$urlButton-border-color: $color-black-300;
$urlButton-background-hover-color: $color-black-100;
$urlButton-background-focus-colorstop1-color: $color-black-800;
$urlButton-background-focus-colorstop2-color: $color-black-100;
$user-picker-deactivated-label-fg: $color-black-600;
$user-picker-user-label-fg: $color-black-700;
$user-picker-email-label-fg: $color-black-600;

//== QBPanel
$panel-border-color: $color-black-300;
$panel-background-color: $color-black-100;
$panel-header-icon-color: $color-black-700;
$panel-header-icon-hover-color: $icon-color-hover;

//Error message popup
$errorMessage-border-color: $color-black-400;
$errorMessage-header-background: $error-color;
$errorMessage-content-background: $color-black-100;
$errorMessage-content-text-color: $color-blue-600;
$errorMessage-header-text-color: $color-black-100;

// QBModal
$modal-icon-color: $color-orange-500;
$default-text-onlight-color: $color-black-700;
