/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */
/* see http://quickbase.design/colors/ */

$color1:    #f3f8fe; // wispy-water
$color2:    #ffffff; // white
$color3:    #486c8f;
$color4:    #dcdcdc; // rabbit
$color5:    #c0d0e4; // periwinkle
$color6:    #d2dce7;
$color7:    #e3eaf3; // clear-day
$color8:    #486c8f;
$color9:    #969696; // walrus
$color10:   #243F7F;
$color11:   #404040; // charcoal
$color12:   #f5f5f5; // kitten
$color13:   #f6f8fb;
$color14:   #f9fafb;
$color15:   #f0f3f9;
$color16:   #2ca01c; // lazy-lizard
$color17:   #f3f5f8;
$color18:   #cccccc;
$color19:   #c7c7c7; // porpoise
$color20:   #486c8f; // dull-sapphire
$ghost:     #b8b8b8;

$left-nav-bg: #193048; // deep-sea
$icon-color: #7090ab; // dragon-foot
$icon-color-hover: #0098cd; // caribbean
$topnav-icon-color: $icon-color;

$header-bg: $color7;
$nav-hover-bg: #0097CD;
$nav-hover-fg: $color2;
$nav-link-fg: $color2;
$nav-border: $color18;

$report-container-bg: $color2;
//tabs underline color
$tabsUnderLine: #365ebf;

$icon-badge-color: #2d6c92;
$icon-edit-color: #00b0c2;
$icon-print-color: #2ca01c;
$icon-mail-color: #f7a21a;
$icon-duplicate-color: #c75ac2;
$icon-delete-color: #d93b42;
$icon-pickles-color: #404040;

$selection-badge-color: $color20;

$text-link-color: #337ab7;

//== Stage
$stage-backgroundColor:           $color2;
$stage-headline-icon-color: #009aad;

//== Report
$report-backgroundColor:          $color13;

//== Report Toolbar
$toolBar-borderColor:              $color7;
$toolBar-backgroundColor:          $color15;
$toolBar-input-borderColor:        $color4;

//==Facet list
$facetMenu-backgroundColor:             $color2;
$facetSelected-color:                   $color16;
$facetMenu-BorderColor:                 $color19;
$facetMenu-NoOptionsColor:              $color19;
$facetMenu-clearButtonColor:            $color9;
$facetMenu-showMoreColor:               $color8;
$facetMenu-facetTokenTextColor:         $color20;
$facetMenu-facetTokenBackgroundColor:   $color7;
$facetMenu-itemHoverColor:              rgba($color4, 0.5);

//==report icon colors
$report-icon-table-color: #f87878;
$report-icon-summary-color: $color20;
$report-icon-pie-color: #f2b835;
$report-icon-calendar-color: #56b349;
$report-icon-grid-edit-color: #c72f79;
$report-icon-timeline-color: #e77700;
$report-icon-map-color: #00c4d8;

$search-input-fg: #555555;
$popup-fg: #404040;

$top-nav-title-icon-color: #009AAE;
$secondary-bar-fg: #fff;
$secondary-bar-bg: #009AAE;
$secondary-bar-page-actions-bg: #476B90;
