/* This file should contain ALL the colors used in QuickBase. This may be used to create themes in future. */

$color1:    #f3f8fe;
$color2:    #ffffff;
$color3:    #486c8f;
$color4:    #dcdcdc;
$color5:    #c0d0e4;
$color6:    #d2dce7;
$color7:    #e3eaf3;
$color8:    #486c8f;
$color9:    #969696;
$color10:   #243F7F;
$color11:   #404040;
$color12:   #f5f5f5;
$color13:   #f6f8fb;
$color14:   #f9fafb;
$color15:   #f0f3f9;
$color16:   #2ca01c;
$color17:   #f3f5f8;
$color18:   #cccccc;
$color19:   #c7c7c7;


$left-nav-bg: #193048;
$icon-color: #7090ab;
$icon-color-hover: #0098cd;

$header-bg: $color7;
$nav-hover-bg: #0097CD;
$nav-hover-fg: $color2;
$nav-link-fg: $color2;
$nav-border: $color18;

$report-container-bg: $color2;
//tabs underline color
$tabsUnderLine: #365ebf;

$icon-badge-color: #2d6c92;
$icon-edit-color: #00b0c2;
$icon-print-color: #2ca01c;
$icon-mail-color: #f7a21a;
$icon-duplicate-color: #c75ac2;
$icon-delete-color: #d93b42;
$icon-pickles-color: #404040;

$selection-badge-color: #486c8f;


//== Stage
$stage-backgroundColor:           $color2;

//== Report
$report-backgroundColor:          $color13;

//== Report Toolbar
$toolBar-borderColor:              $color7;
$toolBar-backgroundColor:          $color15;
$toolBar-input-borderColor:        $color4;

//==Facet list
$facetMenu-backgroundColor:         $color2;
$facetSelected-color:               $color16;
$facetMenu-BorderColor:             $color19;
$facetMenu-NoOptionsColor:          $color19;
$facetMenu-clearButtonColor:        $color9;
$facetMenu-showMoreColor:           $color8;
$facetMenu-facetTokenTextColor:     $color2;
$facetMenu-facetTokenBackgroundColor:   $selection-badge-color;