/* This file should contain all shared variables for QuickBase styling. */
@import 'customVariables';
@import 'qbColorVariables';

/* QuickBase font stack */
$font-family: $font-family-sans-serif;  /* default font face */
$font-size:   $font-size-base;          /* base/default body font size */
$font-color:  $color11;                 /* default font color */

/* nav vars */
$left-nav-padding: 15px;