/* This file should contain all shared variables for QuickBase styling. */
@import 'customVariables';
@import 'qbColorVariables';

$font-family: 'Open Sans', sans-serif;  /* default font face */

$font-size:               $font-size-base;          /* base/default body font size */
$font-color:              $color11;                 /* default font color */

$global-actions-border: 1px solid rgba(255, 255, 255, 0.3);
$top-nav-height:40px;

