$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

h5 {
    font-size: $font-size-h5;
    font-weight: 900;
}
