.report-content {
    float:left;
    min-height: 200px;
}


.report-stage .report-content .left {
    float: left;
    width: 68%;
    border-right: 1px solid #dcdcdc;
}
/* line 12, ../_report.scss */
.report-stage .report-content .left.stage-closed {
    border-right: 0px;
}
/* line 15, ../_report.scss */
.report-stage .report-content .left div {
    margin-left: 40px;
    margin-right: 30px;
}
/* line 18, ../_report.scss */
.report-stage .report-content .left div.header {
    font-size: 22px;
    font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
    color: #404040;
    line-height: 22px;
    margin-top: 3px;
}
/* line 25, ../_report.scss */
.report-stage .report-content .left div.subheader {
    margin-top: 7px;
    font-size: 14px;
    color: #6e8ba8;
    text-transform: inherit;
    font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
}
/* line 32, ../_report.scss */
.report-stage .report-content .left div.content {
    margin: 35px 30px 35px 0px;
    font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
    color: #404040;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
/* line 42, ../_report.scss */
.report-stage .report-content .right {
    float: left;
    width: 30%;
}
/* line 45, ../_report.scss */
.report-stage .report-content .right .reminder {
    white-space: nowrap;
    padding: 1px 20px 15px 40px;
}
.report-stage .report-content .right .reminder .button-container {
    margin-top:20px;
}
/* line 48, ../_report.scss */
.report-stage .report-content .right .reminder .icon {
    width: 50px;
    height: 60px;
    background: url('../images/images-sf23742373d.png') 0 -30px no-repeat;
}
/* line 53, ../_report.scss */
.report-stage .report-content .right .reminder .header {
    margin-top: 10px;
    margin-left: 17px;
    font-size: 1.2rem;
    font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
    color: #404040;
}
/* line 60, ../_report.scss */
.report-stage .report-content .right .reminder .subheader {
    font-size: 12px;
    height: 18px;
    margin-top: 2px;
    margin-left: 17px;
    color: #6e8ba8;
    text-transform: uppercase;
    font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
}

