@import '../../../assets/css/qbVariables';


.filterSearchBox { /* input box for filtering records containing the string */
  padding: .8rem;
  width: 25em;
}

.facetsMenuButton {  /* icon button to bring up list of filters */
  margin-left: 3.5rem;
}

.facetsMenu { /* the container is shown when filter icon is clicked */
  display: block;
  position: relative;
}
.facetsMenu * { /* the container is shown when filter icon is clicked */
  margin: 0;
  padding: 0;
}

.facetsMenu.hidden { /* the container hidden when filter icon is closed */
  display: none;
}

.facets { /* collection of facets, contains facet elements */
  width : 400px;
  border: 1px solid #f6f6f6;
  outline: 1px solid #dedede;
  box-sizing : border-box;
  position: relative;
  font-style: normal;
  font-size: 13px;
  text-align: left;
}
.facet .facetFieldName { /* a facet's field name */
  font-family: 'Roboto Bold', Roboto;
  border-bottom: 1px solid #e4e4e4;
  padding: 0.5rem;
}

.facet.collapsed .facetValues{ /* a facet is collapsed its value options are hidden */
  display: none;
}

.facet .facetValues{ /* a facet is open/expanded its values show */
  display: block;
}

.facetValues  { /* The collection of facet values for a field */
  list-style-type: none;
  margin : 0;
  margin-top: .2rem;
  font-family:'Roboto Light', 'Roboto';
  font-weight: 200;
}
.facetValues li { /* a specific value for a facet field */
  padding: 0.5rem;
  color: #333333;
  border-bottom: 1px solid #e4e4e4;
}