@import "../../../src/assets/css/qbVariables";

.gridWrapper {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;

    @include not-small-breakpoint {
        .loadedContent {
            padding: 0 10px;
        }
    }
}

.swipeable {
    position: relative;
}
