@import '../../../src/assets/css/qbVariables';

.gridWrapper {
  display:flex;
  flex: 1 1 auto;
  overflow:auto;

  @include not-small-breakpoint {
    .loadedContent {
      padding: 0 10px;
    }
  }
}

.swipeable {
  position: relative;
}

.requiredInput {
  display: inline-block;
  line-height: .3;
  padding-left: 2px;
  font-size: 18px;
}