@import '../../assets/css/_qbVariables';

//This is the style used for the creation dialog. The current creation dialog that uses these styles are
//app creation and table creation

.dialogCreationPanelInfo {
    .title {
        color: $color-black-700;
        font-size: $font-size-large;
        padding-top: 25px;
        padding-bottom: $spacing-x-small;
    }
    .description {
        color: $color-black-500;
        font-size: 16px;
    }
    .sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2px;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;

        .iconSelection {
            position: relative;
            .iconChooser {
                position: absolute;
                background-color: $color-black-100;
                z-index: 1;
            }
            .iconChooser.closed {
                transition: all 300ms ease-in;
                height: 41px;
                width: 64px;
            }
            .iconChooser.open {
                transition: all 300ms ease-in;

                width: 200%;
                height: 256px;
            }
        }

        .iconChooser .showAllToggle:focus {
            /* we currently dont have button styles implemented. In the meantime match the focus styling to input box's */
            @include text-input-focus;
        }

        .suggestedIcons {
            margin-left: 100px;
            .iconList {
                margin-top: 12px;
                height: 32px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                max-width: 240px;
                button {
                    padding: 0;
                    text-align: center;
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    border: 0;
                    background-color: inherit;
                    font-size: 24px;
                    color: $color-black-700;
                    margin-right: 24px;
                    margin-bottom: 12px;

                }
                button:hover {
                    background-color: $color-cyan-600;
                    color: $color-black-100;
                    border-radius: $radius-base;
                }

            }
        }
    }
}