@import '../../../assets/css/qbVariables';

.addChildLinkContainer {
    display: flex;
    flex-direction: row;
    padding-left: 10px;

    .addChildLink.btn {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        color: $link-normal-color;
        background-color: $color-black-200;

        .qbIcon {
            padding-right: 5px;
        }
    }
}
