@import '../../../assets/css/qbVariables';

.linkContainer {
    display: flex;
    flex-direction: column;

    .reportDetail {
        font-size: 14px;
        color: $field-label-normal-color;
        padding-bottom: 10px;
    }

    .linkInRecord.btn {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        color: $link-normal-color;
        background-color: $color-black-200;

        .qbIcon {
            padding-right: 5px;
        }
    }
}

.addChild {
    padding-left: 10px;
}
