@import '../../assets/css/qbVariables';

@include small-breakpoint {
    .recordTrowser {
        .trowserFooter .saveButtons {
            display: flex;
            flex: 1;
        }
    }
}

.recordTrowser {
    .trowserFooter .saveButtons {
        display: flex;
    }
    .trowserHeader {
        .breadcrumbs {
            .iconActions {
                display: inline-block;
                /*this is temporary fix because the icons have built in padding which is incorrect*/
                margin-left: -8px;
                margin-right: 10px;

                .btn {
                    &:hover {
                        background-color:#0097CD;
                        color: #fff;
                    }
                    background-color:inherit;
                    color: #fff;
                    padding:0;
                    .qbIcon {
                        font-size: 24px;
                    }
                    &.prevRecord, &.nextRecord {
                        .qbIcon {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
