@import '../../assets/css/qbVariables';

.record-content {
    padding: 0 10px;
}
.recordContainer {
    width: 100%;
    background-image: linear-gradient(to top, $color13 0%, $color14 100%);
    background-color: $color12;
    display: flex;
    flex-direction: column;

    .recordStageHeadline {
        display:flex;
        flex-direction:column;
        justify-content:center;

        .title {
            font-size: $font-size-h3;
        }
        .tableHomepageLink {
            display:flex;
            align-items:center;
        }

        .iconActions {

            .iconActionButton {
                width: auto;
                .qbIcon {
                    width: 18px;
                }
            }
            .iconActionButton:first-of-type {
                margin-left: -4px;
            }
            .iconActionButton:last-of-type {
                margin-right:10px;
            }
        }
        .iconActionButton[disabled] {
            color: $icon-disabled-color;
        }
        .iconActionButton {
            color: $pagination-iconfont-normal-color;
            font-size:24px;
        }
        .iconActionButton:not([disabled]):hover {
            background-color: inherit;
            color: $pagination-iconfont-hover-color;

        }

    }
    .recordActionsContainer {
        display: flex;
        justify-content: space-between;

        .secondaryFormActions {
            flex: 1 1 auto;
        }
        .pageActions {
            flex: 0 0 auto;
        }
    }
    .qbFormContainer {
        flex:1 1 auto;
        position:relative;
        overflow:auto;

    }
    .loadedContent {
        overflow: auto;
    }
    .formContainer {
        overflow: auto;
        width:100%;
    }
    .divider.color-black-700 {
        color: $color-black-700;
    }
}

@include not-small-breakpoint {
    .smallHeader.recordHeader {
        display: none;
    }
}

@include small-breakpoint {
    .secondaryBar .iconActions.pageActions {
        padding-left: 6px;
        .iconActionButton {
            margin-right: 3px;
        }
        .dropdownToggle {
            margin-left: -4px;
        }
    }
    .secondaryBar .iconActions.pageActions .iconActionButton.addRecord {
        display:none; /* hide on small, use a floating add button */
    }

    .recordStageHeadline {
        .formName {
            font-size: $font-size-h4;
        }
    }
}

.next-enter {
    left:100%;
}

.next-enter.next-enter-active {
    left: 0;
    transition: all 200ms linear;
}

.next-leave {
    left: 0;
    opacity:1;
}

.next-leave.next-leave-active {
    left: -100%;
    opacity:.1;
    transition: all 200ms linear;
}

.previous-enter {
    left:-100%;
}

.previous-enter.previous-enter-active {
    left: 0;
    transition: all 200ms linear;
}

.previous-leave {
    left: 0;
}

.previous-leave.previous-leave-active {
    left: 100%;
    transition: all 200ms linear;
}


@include small-breakpoint {

}
