@import '../../assets/css/qbVariables';

.record-content {
    padding: 0 10px;
}
.recordContainer {
    width: 100%;
    background-image: linear-gradient(to top, $color13 0%, $color14 100%);
    background-color: $color12;
    display: flex;
    flex-direction: column;


    .recordStageHeadline {

        display: flex;
        flex-direction: column;
        justify-content: center;


    }
    .recordActionsContainer {
        display: flex;
        justify-content: space-between;

        .secondaryFormActions {
            flex: 1 1 auto;
        }
        .pageActions {
            flex: 0 0 auto;
        }
    }
    .qbFormContainer {
        flex: 1 1 auto;
        position: relative;
        overflow: auto;

    }
    .formContainer {
        overflow: auto;
        position: absolute;
        width: 100%;
    }
}


@include small-breakpoint {
    .secondaryBar .iconActions.pageActions .iconActionButton.addRecord {
        display: none; /* hide on small, use a floating add button */
    }
}

.next-enter {
    left: 100%;
}

.next-enter.next-enter-active {
    left: 0;
    transition: all 200ms linear;
}

.next-leave {
    left: 0;
    opacity: 1;
}

.next-leave.next-leave-active {
    left: -100%;
    opacity: .1;
    transition: all 200ms linear;
}

.previous-enter {
    left: -100%;
}

.previous-enter.previous-enter-active {
    left: 0;
    transition: all 200ms linear;
}

.previous-leave {
    left: 0;
}

.previous-leave.previous-leave-active {
    left: 100%;
    transition: all 200ms linear;
}
