@import '../../assets/css/qbVariables';

.recordTrowser .trowserHeader {

    .qbIcon {
        margin-right: 5px;
    }
    .iconActions {
        display: inline-block;

        margin-right: 20px;

        .btn {
            &:hover {
                background-color:#0097CD;
                color: #fff;
            }
            background-color:inherit;
            color: #fff;
            width: 32px;

            .qbIcon {
                font-size: 24px;
                margin:0;
            }
        }
    }
}
