@import '../../assets/css/qbVariables';

.recordTrowser {
    .trowserFooter {
        z-index: $zindex-trowserFooter;
    }

    .trowserFooter .saveButtons {
        display: flex;
    }

    .trowserHeader {
        .breadcrumbs {
            .iconActions {
                display: inline-block;
                /* this is temporary fix because the icons have built in padding which is incorrect */
                margin-right: $spacing-xxx-small;

                .btn {
                    &:hover {
                        color: $color-cyan-400;
                    }
                    background-color: inherit;
                    color: $color-black-100;
                    padding: 0;
                    width: 15px;

                    .qbIcon {
                        font-size: 24px;
                    }

                    &.prevRecord, &.nextRecord {
                        .qbIcon {
                            font-size: $size-iconfont-medium;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

.recordTrowserErrorPopRes {
    .trowserChildren {
        padding-bottom: 340px;
    }
}

@include small-breakpoint {
    .recordTrowser {
        .trowserFooter .saveButtons {
            display: flex;
        }
    }

    .recordTrowserErrorPopRes {
        .trowserChildren {
            padding-bottom: 200px;
        }
    }
}