@import '../../assets/css/qbVariables';

.recordHeader {
    .title {
        .stageHeadline {
            display: flex;
            align-items: center;
            color: $stage-headline-color;

            .iconActions {
                margin-right: 0px;
                font-size: 20px;
                margin-left: -10px;
            }
        }
    }
    .right {
        width: 40px;
    }
}
