@import '../../assets/css/qbVariables';

.record-content {
    padding: 0 10px;
}
.recordContainer {
    width: 100%;
    background-image: linear-gradient(to top, $color13 0%, $color14 100%);
    background-color: $color12;
    display: flex;
    flex-direction: column;


    .recordStageHeadline {

        display:flex;
        flex-direction:column;
        justify-content:center;
        .stageHeadline {
            display:flex;
            align-items:center;
            font-size: 12px;
            color: $stage-headline-color;

            .iconActions {
                margin-right:0px;
                font-size:20px;
            }
            .iconActionButton {
                height: 24px;
                width: 24px;

                .qbIcon {
                    &.rotate180 {
                        transform: translateY(-3px) rotate(180deg);

                    }
                }
            }

        }
        .stageHeadline .breadCrumbs {
            padding-left:5px;
        }
    }
    .recordActionsContainer {
        display: flex;
        justify-content: space-between;

        .secondaryFormActions {
            flex: 1 1 auto;
        }
        .pageActions {
            flex: 0 0 auto;
        }
    }
    .formContainer {
        overflow: auto;
    }
}

@include small-breakpoint {
    .secondaryBar .iconActions.pageActions .iconActionButton.addRecord {
        display:none; /* hide on small, use a floating add button */
    }
}

