@import '../../assets/css/qbVariables';

.recordContainer {
    width: 100%;
    background-image: linear-gradient(to top, $color13 0%, $color14 100%);
    background-color: $color12;

    .recordActionsContainer {
        display: flex;
        justify-content: space-between;

        .secondaryFormActions {
            flex: 1 1 auto;
        }
        .pageActions {
            flex: 0 0 auto;
        }
    }
}

@include small-breakpoint {
    .recordActionsContainer.secondaryBar {
        height:40px;

        background-color: $secondary-bar-bg;
    }
}