@import '../../assets/css/qbVariables';

.recordTitleFieldSection {
    .recordTitleFieldSelect {
        max-width: 250px;
        .Select-option:last-of-type {
            border-top: 1px solid $color-black-400;
        }
        .selectedOption, .pickerOption {
            > * {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .selectedOption {
            padding: 0 8px;

            .qbIcon {
                margin-right: 5px;
            }
        }
        .pickerOption {
            line-height: 100%;

            .optionLabel {
                margin-left: 20px;
            }
        }
    }
}
