@import '../../assets/css/_qbVariables';

.tableInfo {

    .title {
        color: $color-black-700;
        font-size: $font-size-large;
        padding-top: 25px;
        padding-bottom: $spacing-x-small;
    }
    .description {
        color: $color-black-500;
        font-size: 14px;
    }
    .sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2px;

        .iconSelection {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .iconChooser {
            flex-grow: 0;
            margin-right: 20px;
            .dropdown-toggle {
                border-radius: 0;
            }
            .dropdown-menu {
                min-width: inherit;
            }
        }
        .suggestedIcons {
            flex-grow: 1;
            .iconList {
                height: 32px;
                button {
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    border: 0;
                    background-color: inherit;
                    font-size: 16px;
                    transition: font-size 100ms ease-out;
                }
                button:hover {
                    font-size: 24px;
                    transition: font-size 100ms ease-in;
                }

            }
        }
    }
}
