.tableHomepageContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    .layout-stage {
        flex: 0 0 auto;

        .tableName {
            padding-left: 5px;
        }
    }
    .table-content {
        flex: 1 1 auto;
        padding: 0 10px;
    }
}
