@import '../../assets/css/_qbVariables';

.tableInfo {

    .title {
        color: $color-black-700;
        font-size: $font-size-large;
        padding-top: 25px;
        padding-bottom: $spacing-x-small;
    }
    .description {
        color: $color-black-500;
        font-size: 16px;
    }
    .sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2px;

        .iconSelection {
            position: relative;

            .iconChooser {
                position: absolute;
            }
            .iconChooser.closed {
                transition: all 300ms ease-in;
                height: 42px;
                width: 64px;
            }
            .iconChooser.open {
                transition: all 300ms ease-in;

                width: 766px;
                height: 142px;
            }
        }

        .suggestedIcons {
            margin-left: 100px;
            .iconList {
                margin-top: 12px;
                height: 32px;
                button {
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    border: 0;
                    background-color: inherit;
                    font-size: 20px;
                    color: $color-black-700;

                }
                button:hover {
                    background-color: $color-black-500;
                    color: $color-black-100;
                    border-radius: 3px;
                }

            }
        }
    }
}
