@import '../../assets/css/_qbVariables';

.tableCreationPanel {

    .title {
        color: $color-black-700;
        font-size: $font-size-large;
        padding-top: 25px;
        padding-bottom: $spacing-x-small;
    }
    .description {
        color: $color-black-500;
        font-size: 16px;
    }
}

.tableCreationDialog.tableMenuOpen .modal-body > *:first-child {
    overflow: visible;
}

@include not-small-breakpoint {

    .multiStepModal.tableCreationDialog .modal-dialog {

        .modal-body > *:first-child {
            height: 315px;
        }
        width: 840px;
    }
}

/* some initial small styles in case we support small */
@include small-breakpoint {

    .multiStepModal.tableCreationDialog .modal-dialog {

        .modal-body > *:first-child {
            height: 550px;
        }
        width: 420px;
    }
}
