<div style="margin:25px;" ng_show="showLayout">

    <div class="intuit-logo"></div>

    <p>Your QuickBase Applications</p>

    <div ng-repeat='app in apps'>
        <li style="font-size:14px;font-weight:bold; list-style-type: none;">{{$index+1}}. {{app.name}} ({{app.id}})</li>
        <div ng-repeat='table in app.tables'>
            <ul style="list-style-type: none;">
                <li style="font-size:14px;cursor:pointer;text-decoration: underline;color: -webkit-link;list-style-type: square;">
                    <a ng-click='goToTable(table)'>{{table.name}} ({{table.id}})</a>
                </li>
            </ul>
        </div>
        <div ng-show="!app.tables.length">
            <ul style="list-style-type: none;">
                <li style="font-size:14px;list-style-type: square;">
                    No report tables found.
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="noApps">
        <ul style="list-style-type: none;">
            <li style="font-size:14px;list-style-type: square;">
                No apps found.
            </li>
        </ul>
    </div>

</div>
