

<div style="margin:25px;" ng_show="showLayout">

    <div class="intuit-logo"></div>

    <!--
    <div ng-if="appId">
        <p>
            <div>Quickbase HomePages for Application X.</div>
            <a onclick="alert('Not yet implemented');" style="margin-left:20px; color:-webkit-link; text-decoration: underline; cursor:pointer;">Tables Home</a><br>
            <a ng-click="goToReports()" style="margin-left:20px; color:-webkit-link; text-decoration: underline; cursor:pointer;">Reports Home</a><br>
        </p>

        <p>
            <div>Direct report link(s)</div>
            <div style="padding:3px 0px;" ng-repeat='report in reports'>
                <a ng-click="goToReport(report)" style="margin-left:20px; color:-webkit-link; text-decoration: underline; cursor:pointer;">{{report.name}} (id:{{report.id}})</a>
            </div>
        </p>
    </div>

    <div ng-if="!appId">
        <p>Enter an appId and tableId<br>
        </p>

        AppId:    <input id="appId" type="text"/>
        TableId:  <input id="tableId" type="text"/>
        <input id="theButton" type="button" value="Go"
               onclick="window.location.href = '/qbapp#/' + document.getElementById('appId').value + '/' + document.getElementById('tableId').value;"/>

    </div>
     -->
    <p>Your QuickBase Applications</p>
    <div ng-repeat='app in apps'>
        <li style="font-size:14px;font-weight:bold; list-style-type: none;">{{$index+1}}. {{app.name}} ({{app.id}})</li>
        <div ng-repeat='table in app.tables'>
            <ul style="list-style-type: none;">
                <li style="font-size:14px;cursor:pointer;text-decoration: underline;color: -webkit-link;list-style-type: square;">
                    <a ng-click='goToTable(table)'>{{table.name}} ({{table.id}})</a>
                </li>
            </ul>
        </div>
        <div ng-show="!app.tables.length">
            <ul style="list-style-type: none;">
                <li style="font-size:14px;list-style-type: square;">
                    No report tables found.
                </li>
            </ul>
        </div>

    </div>


</div>
