@import '../../../src/assets/css/qbVariables';

.featureSwitches {
    margin: 20px;

    button {
        margin-right: 10px;
    }
    button:disabled {
        color: $color-black-500;
    }
    button.save:not(:disabled) {
        color: $default-text-ondark-color;
        background-color: $success-color;
    }

    .globalButtons {
        margin-top: 30px;
    }
}

.featureSwitchTable {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
    tbody tr:hover, tr:nth-child(odd):hover {
        background-color: $grid-row-hover-color;
    }
    th, td {
        height: 40px;

        input {
            width: calc(100% - 10px);
        }
    }

    tbody td {
        border-top: 1px solid $grid-line-color;

    }

    th:first-child,
    td:first-child {
        width: 40px;
        padding-left: 10px;
    }

    td.dateCell {
        width: 170px;
    }
}

