@import '../../../../src/assets/css/qbVariables';

.reportContent .noRowsExist {

    color: $color-black-700;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: $font-size-large;
    margin: 10px;
    border: 1px dashed $color-black-400;
    padding: 30px;

    .noRowsIconLine {
        margin-bottom: 30px;
    }
}
