@import '../../../../src/assets/css/qbVariables';

.reportContent .noRowsExist {

    color: $color-black-700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: $font-size-large;
    margin: $spacing-xxx-small;
    border: 1px dashed $color-black-400;
    padding: $spacing-medium1;

    .noRowsIconLine {
        margin-bottom: $spacing-medium1;
    }
}
