@import '../../../../assets/css/qbVariables';

.appPropertiesContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.field {
  padding-right: 25px;
  padding-bottom: 25px;
  max-width: 25%;
  flex:1 1 auto;
  .fieldLabel{
    display: block;
    color: $color-cyan-700;
  }
  .fieldValue {
    display:block;
    min-width: 0;
  }
}