@import '../../../../assets/css/qbVariables';

.duder {
    display: flex;
    align-items: center;

    .userStageHeadline {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $stage-headline-color;
        margin-bottom: 10px;

        .userHeadLine {
            height: 26px;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}