@import '../../../../../../reuse/client/src/assets/css/qbVariables';

.userManagementContainer {
    padding-left: 22px;
    padding-top: 30px;

    th {
        &:first-of-type {
            border-left: 1px solid $grid-column-header-border-color;
        }
    }

    td {
        background-color: $color-black-100;
    }
}