@import '../../../../assets/css/qbVariables';

// New semantic names - to be moved to _qbColorVariables.scss in a future pull.
$grid-column-header-background-color:           $color-cyan-100;
$grid-column-header-border-color:               $color-cyan-300;
$grid-line-color:                               $color-black-400;
$grid-header-cell-padding: 4px;
$grid-default-cell-padding: 6px;
$grid-font-size: $font-size-p;

.userManagementContainer {
    padding: 20px;
}

.userTBody {
    border-bottom: 1px solid $grid-line-color;
}

.userGrid {
    flex: 1 1 auto;
    overflow: auto;
    display: block;
    width: 100%;
    color: $default-text-onlight-color;
    -webkit-font-smoothing: antialiased;
    table-layout: fixed;

    th {
        min-width: 80px;

        position: relative;
        border-top: 1px solid $grid-column-header-border-color;
        border-right: 1px solid $grid-line-color;
        border-bottom: 1px solid $grid-column-header-border-color;
        padding: $grid-header-cell-padding;
        color: $color-blue-600;
        -webkit-font-smoothing: antialiased;
        background-color: $grid-column-header-background-color;
        cursor: default;

        &:last-of-type {
            border-right: 1px solid $grid-column-header-border-color;
        }
    }

    td {
        padding-left: $grid-default-cell-padding;
        padding-right: $grid-default-cell-padding;
        vertical-align: top;
        font-size: $grid-font-size;
        border-right: 1px solid $grid-line-color;
        border-top: 1px solid $grid-line-color;
        transition: border 100ms ease-out;

        &:first-of-type {
            border-left: 1px solid $grid-line-color;
        }
    }
}