@import '../../../../reuse/client/src/assets/css/qbVariables';

.globalAction.builder {

    .dropdown-menu {
        padding: 0;
    }

    .hasContextView .dropdown-menu:after {
        border-bottom-color: $color-black-200;
    }
}

.configMenu {
    display: flex;
    align-items: stretch;

    h3 {
        width: 100%;
        // The header adds up to 55px height so that
        // .configMenu__currentContext, .configMenu__Table can align properly
        margin: 17px 0 14px;
    }
}

.configMenu--configSet {
    padding: $spacing-xxx-small;

    ul {
        padding: 0;
    }

    li {
        line-height: $spacing-small;
        list-style: none;
        margin-bottom: 7px;
    }

    // Heading item with icon
    li:first-child {
        display: flex;
        margin-bottom: $spacing-xx-small;
        padding-left: 0;
        font-weight: bold;

        // hack to get icons to align –– if icons + labels ever get fixed, this can go
        .headingIcon {
            align-self: flex-end;
            margin-right: 4px;
            padding-bottom: 3px;
            font-size: $size-iconfont-medium;
        }
    }

    a {
        display: block;
        padding-left: 27px; // used to align with heading li
        white-space: nowrap;
        color: $default-text-onlight-color;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Aligns these sets with the Settings header
.configMenu__currentContext, .configMenu__Table {
    padding-top: 55px;
}

.configMenu__App, .configMenu__Table {
    width: 236px;
}

.configMenu__App {
    padding-top: 0;
    margin-left: $spacing-xxx-small;
}

.configMenu__currentContext {
    background-color: $color-black-200;
    width: 168px;
    padding-left: $spacing-medium1;
    li {
        a {
            padding-left: 0;
        }
    }
}
