.topNav {
    .globalActions {
        .globalAction.builder {
            padding-right: 10px;
            .configurationMenu {
                display: flex;
                a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.42857;
                    color: #333333;
                    white-space: nowrap;
                    &:not(.heading):hover {
                        text-decoration: none;
                        color: #262626;
                        background-color: #f5f5f5;
                    }
                    > * {
                        vertical-align: middle;
                    }
                }
                .tableConfig li:not(.heading){
                    margin-left: 30px;
                }
            }
        }
    }
}