@import '../../../../reuse/client/src/assets/css/qbVariables';

$settings-menu-header-height: 40px;
$settings-menu-padding-top: 10px;
$settings-menu-padding-left: 15px;

.topNav {
    .globalActions {
        .globalAction.builder {
            .dropdown-menu {
                margin: 0;
                padding: 0;
                cursor: default;
            }
            padding-right: 10px;
            .configurationMenu {
                display: flex;
                .menuHeader {
                    font-size: $font-size-h3;
                    color: $color-black-700;
                    height: $settings-menu-header-height;
                }
                a {
                    display: block;
                    clear: both;
                    font-weight: normal;
                    line-height: 25px;
                    color: $default-text-onlight-color;
                    white-space: nowrap;
                    &:not(.heading) {
                        cursor: pointer;
                        &:hover {
                            text-decoration: none;
                            background-color: $color-black-200;
                        }
                    }
                    &.heading {
                        font-weight: bold;
                        .headingIcon {
                            font-size: $size-iconfont-medium;
                        }
                    }
                    > * {
                        vertical-align: middle;
                    }
                }
                .configSet {
                    padding: $settings-menu-padding-top $settings-menu-padding-left;
                    &.withIcon {
                        a:not(.heading) {
                            margin-left: 26px;
                        }
                    }
                    &:not(:first-of-type) {
                        padding: $settings-menu-header-height + $settings-menu-padding-top $settings-menu-padding-left $settings-menu-padding-top * 2 $settings-menu-padding-left;
                    }
                    &.currentContext {
                        background-color: $color-black-200;
                    }
                }
            }
        }
    }
}