@import '../../assets/css/qbVariables';

$icon-action-icon-color:#fff;
$page-actions-background-color: #486c8f;

@include not-small-breakpoint {
    .secondaryBar .iconActions {
        display: none;
    }

    .iconActions {
        line-height:40px;
        display:inline-block;

        .iconActionButton {
            border:0;
            margin-right:2px;
            border-radius:0;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 40px;
            height: 40px;
            font-size: 20px;
            color: $topnav-icon-color;
            padding:0;
            &.dropdownToggle {
                width: 20px;
            }
        }

        .iconActionButton:hover {
            background: $nav-hover-bg;
            color: $nav-hover-fg;
            cursor: pointer;
        }
    }
}

@include small-breakpoint {
    .secondaryBar {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        justify-content:space-between;
        height:40px;
        background-color: $secondary-bar-bg;
        width:100%;
        .iconActions {
            flex: 0 0 auto;
            line-height: 40px;
            display: block;


            .iconActionButton {
                border:0;
                border-radius:0;
                padding: 0;
                padding-right:6px;
                padding-left:6px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 32px;
                font-size: 20px;
                color: $icon-action-icon-color;
                background-color: inherit;
            }
            &.pageActions .iconActionButton {
                background-color: $page-actions-background-color;
            }

        }
        .pageActions {
            background-color: $page-actions-background-color;
        }
    }
}
