@import '../../assets/css/qbVariables';

.touch .recordActions {
    font-size: 16px;
    padding: 0;
    height: 100%;
    width: 240px;

    a.iconLink {
        text-decoration: none;
    }

    a.iconLink.icon-edit {
        background-color: $edit-icon-normal-color;
    }

    a.iconLink.icon-print {
        background-color: $print-icon-normal-color;
    }

    a.iconLink.icon-mail {
        background-color: $mail-icon-normal-color;
    }

    a.iconLink.icon-duplicate {
        background-color: $copy-icon-normal-color;
    }

    a.iconLink.icon-delete {
        background-color: $delete-icon-normal-color;
    }

    a.iconLink {
        color: $color-black-100;
    }

    a.iconLink[disabled] {
        cursor: not-allowed;
        background-color: $icon-disabled-color;
    }
}

