@import "../../assets/css/qbVariables";

.touch .recordActions {
    padding: 0;
    width: 240px;
    height: 100%;
    font-size: 16px;

    a.iconLink {
        text-decoration: none;
    }
    a.iconLink.icon-badge {
        background-color: $icon-badge-color;
    }
    a.iconLink.icon-edit {
        background-color: $icon-edit-color;
    }
    a.iconLink.icon-print {
        background-color: $icon-print-color;
    }
    a.iconLink.icon-mail {
        background-color: $icon-mail-color;
    }
    a.iconLink.icon-duplicate {
        background-color: $icon-duplicate-color;
    }
    a.iconLink.icon-delete {
        background-color: $icon-delete-color;
    }
    a.iconLink.icon-pickles {
        background-color: $icon-pickles-color;
    }
    a.iconLink {
        color: #fff;
    }
}

