@import '../../assets/css/qbVariables';

.reportActions,.recordActions {
    display:flex;

    justify-content:space-between;
    line-height:32px;
    button {
        margin-right:8px;
    }
    a {
        cursor:pointer;
        margin:0 4px;
        text-decoration: none;
    }
    .selectedRowsLabel {
        padding:2px 8px;
        margin-right:10px;
        color:#fff;
        background-color: #7090ab;
        border-radius: 12px;
        font-size:10px;
        vertical-align:top;
    }
    .actionButtons {
        display:inline-block;
        margin: 0 20px;
    }
    .actionIcons {
        >* {
            font-size:16px;
            display:inline-block;
            width:32px;
            height:32px;
            margin:0;

            text-align:center;
            color: #fff;
        }

        a.iconLink {
            color:#fff;
            display:inline-block;
            height:32px;
            width:32px;
            margin:0;
        }

        div.dropdown {
            vertical-align:baseline;
        }
        display:inline-block;
    }

}
.reportActions {
    a.iconLink.icon-badge {
        color: $icon-badge-color;
    }
    a.iconLink.icon-edit {
        color: $icon-edit-color;
    }
    a.iconLink.icon-print {
        color: $icon-print-color;
    }
    a.iconLink.icon-mail {
        color: $icon-mail-color;
    }
    a.iconLink.icon-duplicate {
        color: $icon-duplicate-color;
    }
    a.iconLink.icon-delete {
        color: $icon-delete-color;
    }
    a.iconLink.icon-pickles {
        color: $icon-pickles-color;
    }
    a.iconLink {
        text-decoration:none;
    }
}

.recordActions {
    a.iconLink.icon-badge {
        background-color: $icon-badge-color;
    }
    a.iconLink.icon-edit {
        background-color: $icon-edit-color;
    }
    a.iconLink.icon-print {
        background-color: $icon-print-color;
    }
    a.iconLink.icon-mail {
        background-color: $icon-mail-color;
    }
    a.iconLink.icon-duplicate {
        background-color: $icon-duplicate-color;
    }
    a.iconLink.icon-delete {
        background-color: $icon-delete-color;
    }
    a.iconLink.icon-pickles {
        background-color: $icon-pickles-color;
    }
    a.iconLink {
        color: #fff;
    }
    a.iconLink:hover {
        text-decoration:none;
        background: #fff;
    }
    a.iconLink.icon-badge:hover {
        color: $icon-badge-color;
    }
    a.iconLink.icon-edit:hover {
        color: $icon-edit-color;
    }
    a.iconLink.icon-print:hover {
        color: $icon-print-color;
    }
    a.iconLink.icon-mail:hover {
        color: $icon-mail-color;
    }
    a.iconLink.icon-duplicate:hover {
        color: $icon-duplicate-color;
    }
    a.iconLink.icon-delete:hover {
        color: $icon-delete-color;
    }
    a.iconLink.icon-pickles:hover {
        color: $icon-pickles-color;
    }
}