.reportActions {
    display:flex;
    justify-content:space-between;
    line-height:32px;
    button {
        margin-right:8px;
    }
    a {
        cursor:pointer;
        margin:0 4px;
    }
    .selectedRowsLabel {
        padding:2px 6px;
        margin-right:10px;
        color:#fff;
        background-color: #7090ab;
        border-radius: 12px;
    }
    .actionButtons {
        display:inline-block;
        margin: 0 20px;
    }
    .actionIcons {
        a {
            display:inline-block;
            width:26px;
            height:24px;
            margin:0;
        }
        display:inline-block;
    }
}
