@import '../../assets/css/qbVariables';

.reportActions {
    display: flex;
    margin-left: 8px;
    justify-content: space-between;
    line-height: 32px;

    button {
        margin-right: 8px;
    }

    a {
        cursor: pointer;
        margin: 0 4px;
        text-decoration: none;
    }

    .selectedRowsLabel {
        padding: 2px 8px;
        margin-right: 10px;
        color: $color-black-100;
        background-color: $selection-badge-color;
        border-radius: 12px;
        font-size: 10px;
        font-weight: 500;
        vertical-align: top;
    }

    .actionButtons {
        display: inline-block;
        margin: 0 20px;
    }

    .actionIcons {
        > * {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin: 0;
            text-align: center;
            color: $color-black-100;
        }

        a.iconLink {
            color: $color-black-100;
            display: inline-block;
            height: 32px;
            width: 32px;
            margin: 0;
        }

        a.iconLink[disabled] {
            cursor: not-allowed;

            .qbIcon {
                color: $iconfont-on-light-disabled-color;
            }
        }

        div.dropdown {
            vertical-align: baseline;
        }
        display: inline-block;
    }
}

.reportActions {
    a.iconLink.icon-edit {
        color: $edit-icon-normal-color;
    }

    a.iconLink.icon-print {
        color: $print-icon-normal-color;
    }

    a.iconLink.icon-mail {
        color: $mail-icon-normal-color;
    }

    a.iconLink.icon-duplicate {
        color: $copy-icon-normal-color;
    }

    a.iconLink.icon-delete {
        color: $delete-icon-normal-color;
    }

    a.iconLink {
        text-decoration: none;
    }

    a.iconLink.icon-edit:hover {
        background-color: $edit-icon-normal-color;
    }

    a.iconLink.icon-print:hover {
        background-color: $print-icon-normal-color;
    }

    a.iconLink.icon-mail:hover {
        background-color: $mail-icon-normal-color;
    }

    a.iconLink.icon-duplicate:hover {
        background-color: $copy-icon-normal-color;
    }

    a.iconLink.icon-delete:hover {
        background-color: $delete-icon-normal-color;
    }

    a.iconLink:hover {
        text-decoration: none;
        color: $color-black-100;
    }

    a.iconLink[disabled]:hover {
        background-color: inherit;
    }
}

.reportActions {
    font-size: 20px;

    .actionIcons a.iconLink .qbIcon {
        line-height: 32px;
    }
}
$tableActionsContainerMinHeight: 52px;
$reportActionsMinHeight: $tableActionsContainerMinHeight;

@include not-small-breakpoint {
    .tableActionsContainer {
        min-height: $tableActionsContainerMinHeight;
    }

    .embeddedReportContainer .tableActionsContainer {
        min-height: 30px;
    }

    .reportActions {
        line-height: $reportActionsMinHeight;
        align-items: center;
    }
}
