[
  {
    "id": "e7c6f8c8-b0e0-4667-a83f-dd787906f10c",
    "name": "Feature A",
    "team": "Cthulu",
    "description": "Demo feature switch",
    "defaultOn": true,
    "overrides": [
      {
        "id": "d045b042-e1de-4b48-a187-f22b4943162f",
        "entityType": "realm",
        "entityValue": "12345",
        "on": false
      },
      {
        "id": "50535837-956f-4073-abbf-831a547d2ff6",
        "entityType": "app",
        "entityValue": "app1",
        "on": false
      }
    ]
  },
  {
    "id": "c25172a9-7380-466b-a400-8e388f019ef9",
    "name": "Feature B",
    "team": "Hydra",
    "description": "Another demo feature switch",
    "defaultOn": false,
    "overrides": []
  }
]
