@import "../../../reuse/client/src/assets/css/qbVariables";

$topnav-icon-color: #ffffff;
$topnav-header-background-color: #74489d;
$leftnav-background-stroke-color: #ced0d0;
$topnav-hover-background-color: #40caf8;

.standardLeftNav {
    border-right: none;
}

.standardLeftNav::after {
    content: "";
    border-left: 1px solid $leftnav-background-stroke-color;
    height: calc(100% - #{$top-nav-height});
    position: absolute;
    right: 0;
    bottom: 0;
}

.topNav {
    background-color: $topnav-header-background-color;
    border-bottom: none;
    max-height: $top-nav-height;
    .top {
        .iconLink {
            font-size: 14px;
            color: $topnav-icon-color;
        }
    }

    .globalActions {
        .link {
            > a, > div > a {
                display: inline-block;
                color: $topnav-icon-color;
                padding: 0 8px;

                .qbIcon {
                    vertical-align: middle;
                }
            }

            a:hover {
                color: $topnav-hover-background-color;

                span.reHelpButtonHover.qbIcon {
                    color: inherit;
                }
            }

        }
    }
}
