@import '../../../src/assets/css/qbVariables';


.saveOrCancelFooter {
    height: $trowser-footer-height;
    background-color: $trowser-footer-background-color;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-top: $stroke-width-thin  solid $trowser-footer-border-color;
    margin: 0 10px;

    .centerActions {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            height: 23px;
            line-height: 23px;
            padding: 0 30px;
            color: $color-black-100;
            border-left: 1px solid $trowser-action-separator-color;
            text-decoration: none;
            align-items: center;

            .qbIcon {
                font-size: 16px;
                margin-right: 10px;
            }
        }

        a:last-child {
            border-right: 1px solid $trowser-action-separator-color;
        }
    }
    //Future left button style for footer for settings page
    .leftActions {
        flex: 0 0 auto;
        align-self: center;
        margin-right: 38px;

        button {
            margin: 10px 0 10px 10px;
            font-size: $font-size-dialog-text;
        }
        display: flex;
        .qbIcon {
            font-size: $size-iconfont-medium;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    .rightIcons {
        flex: 0 0 auto;
        align-self: center;
        margin-right: 38px;

        button {
            margin: 10px 0 10px 10px;
        }
        display: flex;
    }

    .saveAlertButton {
        font-size: 22px;
        align-self: center;
        color: $color-red-700;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-color: transparent;
        border-color: transparent;
        margin: 4px 0px 0px 4px;
        padding: 0 0px 0px 1px;
    }

    button {
        min-width: $btn-min-width;
        height: $btn-height;
        border-radius: $border-radius-base;
        &:focus {
            outline: none;
            @include text-input-focus;

        }
    }

    .alternativeTrowserFooterButton {
        background-color: $trowser-footer-alternative-button-color;
        border: none;
        color: $trowser-footer-alternative-button-text-color;
    }

    .mainTrowserFooterButton {
        border: none;
        background-color: $trowser-footer-main-button-color;
    }
}
