@import '../../../../../reuse/client/src/assets/css/qbVariables';

.accountUsersContainer {
  .qbCell {
    vertical-align: middle;
    word-wrap: break-word;
    padding: {
      top: 6px;
      bottom: 6px;
    }
  }
  .qbHeaderCell {
    word-wrap: break-word;
  }
  .ScreennameColumn {
    max-width: 200px;
  }
  .EmailColumn {
    max-width: 180px;
  }
  .BoolColumn {
    max-width: 120px;
    min-width: 80px;
  }
  .qbGrid {
    display: table;
    table-layout: auto;
    display: flex;
    flex-direction: column;

    .gridHeaderCell {
      .gridHeaderLabel {
        max-height: 60px;
      }
    }
    .dropdown-menu {
      .qbIcon {
        font-size: .8em;
        width: .8em;
        position: absolute;
        left: 5px;
        top: calc(50% - .4em);
      }
      li {
        position: relative;
      }
    }
  }
  .accessStatusLabel {
    .qbIcon {
      font-size: $size-iconfont-medium;
      vertical-align: bottom;
    }
    &.paid {
      color: $color-green-600;
    }
    &.denied {
      color: $color-red-700;
    }
    &.deactivated {
      color: $color-black-600;
    }
    &.staff {
      color: $color-black-600;
    }
    &.none {
      color: $color-black-600
    }
  }
}
