@import '../../../assets/css/qbVariables';

.appRolesContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .appRolesPod {
    flex: 1 1 auto;

    .appRolesDivider {
      border-left: 3px solid $leftnav-background-color;
      height: 60px;
      flex: 1 1 auto;

      div {
        flex: 1 1 auto;
        margin-left: 15px;
      }

      .appRolesPodCount {
        font-weight: bold;
        font-size: 25px;
        padding-top: 10px;
      }

      .appRolesPodName {
        padding-top: 5px;
      }
    }
  }
}