@import '../../../../src/assets/css/qbVariables';
$report-background-color: $color-blue-200;
$card-expanded-background-color: $color-black-100;
$fieldLabel-font-size: $font-size-small;
$fieldValue-font-size: $font-size-base;
$card-border-color: $color-black-300;

/* TODO: move to qbVariables after figuring out relative urls */
$chevron_opened_icon: url('../../../../src/assets/images/chevron_opened.svg');
$chevron_closed_icon: url('../../../../src/assets/images/chevron_closed.svg');
$custom-row-card-padding-left: 10px;
$custom-row-card-padding-right: 5px;
$custom-row-card-horizontal-padding: $custom-row-card-padding-left + $custom-row-card-padding-right;

.swipeable.actionsOpen .custom-row-card {
    margin-left: -240px;
    margin-right: 240px;
}

.swipeable.recordActions {
    position: absolute;
    right: 0;
}

.custom-row-card {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    position: relative;
    padding: 5px $custom-row-card-padding-right 15px $custom-row-card-padding-left;
    background: $card-expanded-background-color;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;

    .card {
        flex: 1 1 auto;
        width: calc(100% - #{$card-view-checkbox-width} + #{$custom-row-card-horizontal-padding});
    }

    .flexRow {
        position: relative;
        display: flex;
        flex-direction: row;
        width: calc(100% + #{$custom-row-card-horizontal-padding});
    }

    .fieldRow.collapsed {
        max-height: 35px;
        -moz-transition: 0.35s;
        -ms-transition: 0.35s;
        -webkit-transition: 0.35s;
        transition: 0.25s;
        transition-timing-function: ease;
    }

    .fieldRow.expanded {
        max-height: 1024px;
        -moz-transition: 0.35s;
        -ms-transition: 0.35s;
        -webkit-transition: 0.35s;
        transition: 0.35s;
        transition-timing-function: ease;
    }

    .top-card-row {
        font-size: $fieldLabel-font-size;
        cursor: pointer;

        .topFieldValue {
            font-weight: bold;
            height: 18px;
            margin-right: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .field {
            position: relative;
        }
    }

    .fieldRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 5px 0;

        .field {
            flex: 1 1 auto;
            padding: 0 10px 10px 0;
            width: 50%;

            .fieldLabel {
                color: $field-label-normal-color;
                padding-bottom: 2px;
                display: block;
            }

            &:nth-child(n+3) {
                .fieldValue {
                    white-space: normal;
                }
            }
        }

        .fieldValue, .fieldLabel {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .card-expander {
        position: absolute;
        right: $custom-row-card-horizontal-padding;
        top: 0;

        .qbPanelHeaderIcon {
            top: 0;
        }

        .rotateDown {
            transition: all 0.25s linear;
            transform: rotate(90deg);
        }

        .rotateUp {
            transition: all 0.25s linear;
            transform: rotate(0deg);
        }
        //margin-top: $margin-spacer;
        .chevron_opened {
            display: block;
            width: 14px;
            height: 14px;
            background: $chevron_opened_icon 0 0 no-repeat;
        }

        .chevron_closed {
            display: block;
            width: 14px;
            height: 14px;
            background: $chevron_closed_icon 0 0 no-repeat;
            opacity: 0.7;
        }
    }

    @media (min-device-width: 300px) and (orientation: landscape) {
        .field {
            flex-basis: 100%;
            display: block;
            max-width: 100%;

            &:nth-child(n+3) {
                .fieldValue {
                    white-space: nowrap;
                }
            }

            &:nth-child(n+4) {
                white-space: normal;
            }
        }
    }
}

.custom-row-card.expanded {
    border: 0;
    -webkit-box-shadow: 0 0px 2px 2px $card-view-shadow-color;
    -moz-box-shadow: 0 0px 2px 2px $card-view-shadow-color;
    box-shadow: 0 0px 2px 2px $card-view-shadow-color;
}

.checkboxContainer {
    width: 40px;
    flex: 0 0 auto;
    padding-left: 10px;

    input {
        height: 100%;
        display: inline-block;
        position: absolute;
    }
}

.rowActions {
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;

    .recordActions {
        width: 100%;

        .actionIcons {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;

            .iconLink {
                flex: 1 1 auto;
                height: 100%;
                position: relative;

                .qbIcon {
                    position: absolute;
                    top: calc(50% - 8px);
                    left: 12px;
                }
            }
        }
    }

    &.closed {
        transition: width 100ms ease-in;
        width: 0;
    }

    &.open {
        transition: width 100ms ease-in;
        width: 240px;
    }
}

/* For mobile phones: */

@include small-breakpoint {
    .custom-row-card {
        .field {
            .fieldLabel {
                font-size: $font-size-small - 1;
            }
        }
    }
}
