@import '../../../../src/assets/css/qbVariables';

$margin-spacer: 10px;
$grid-default-cell-padding: 10px;
$grid-group-expand-icon-size: 18px;
$grid-default-group-padding: 0px;
$table-actions-container-bg: #fff;

.tableLoaderContainer {
    flex: 1 1 auto;
    overflow-y:scroll;
}
.cardViewList {
    display: block !important;
    width: inherit !important;
    margin-bottom: $margin-spacer;

    &.allowCardSelection {
        .custom-row-card .card-expander {
            display:none;
        }
    }
    .group-header {
        line-height: 30px;
        font-weight: 600;
        font-size: 14px;
        background-color: $grid-group-row-header-bkgrd-color;
        > span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .group-level--1 {
        >.group-header {
            display: none;
        }
    }
    .qbIcon {
        &.iconssturdy-caret-filled-down,
        &.iconssturdy-icon_caretfilledright {
            font-size: $grid-group-expand-icon-size;
        }
    }
    .group-level-0 {
        >.group-header{
            background-color: $color5;
        }
    }

    @for $i from 0 through 5 {
        .group-level-#{$i}{
            position: relative;
            >.group-header {
                padding-left: $grid-default-cell-padding + $i*($grid-default-group-padding+$grid-group-expand-icon-size/2) !important;
            }
            .custom-row-card {
                border-top: 1px solid #dcdcdc;
                padding-left: $grid-default-cell-padding + 2 + $grid-group-expand-icon-size + $i*($grid-default-group-padding+$grid-group-expand-icon-size/2) !important;
                margin-bottom: 0;
                &.expanded {
                  box-shadow: none;
                  -webkit-box-shadow: none;
                  -moz-box-shadow: none;
                }
            }
        }
    }
}

.tableActionsContainer {
    flex: 0 0 auto;
    position: relative;
    @include small-breakpoint {
        background-color: $table-actions-container-bg;
        &:not(.selectionActionsOpen) {
            background-color: $secondary-bar-bg;
        }
    }
}