@import '../../../../src/assets/css/qbVariables';

$report-background-color: $color1;
$card-expanded-background-color: $color2;

$fieldLabel-font-size: $font-size-small;
$fieldValue-font-size: $font-size-base;

$fieldLabel-color: $color3;
$card-border-color: $color4;

/* TODO: move to qbVariables after figuring out relative urls */
$chevron_opened_icon: url('../../../../src/assets/images/chevron_opened.svg');
$chevron_closed_icon: url('../../../../src/assets/images/chevron_closed.svg');

.swipeable.actionsOpen .custom-row-card {
    margin-left: -240px;
    margin-right: 240px;
}

.swipeable.recordActions {
    position: absolute;
    right: 0;
}

.custom-row-card {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    position: relative;
    padding: 5px 5px 15px 10px;
    background: $card-expanded-background-color;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
    .card {
        flex: 1 1 auto;
        width: 100%;
    }


    .flexRow {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .fieldRow.collapsed {
        max-height: 35px;
        -moz-transition: .35s;
        -ms-transition: .35s;
        -webkit-transition: .35s;
        transition: .25s;
        transition-timing-function: ease;
    }
    .fieldRow.expanded {
        max-height: 1024px;
        -moz-transition: .35s;
        -ms-transition: .35s;
        -webkit-transition: .35s;
        transition: .35s;
        transition-timing-function: ease;
    }
    .top-card-row {
        font-size: $fieldLabel-font-size;
        cursor: pointer;
        .field {
            position: relative;
        }
    }
    .fieldRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 5px 0;
        .field {
            flex: 1 1 50%;
            padding: 0 0 10px 0;
            .fieldLabel {
                color: $fieldLabel-color;
                padding-bottom: 2px;
                display: block;
            }
            .fieldValue {
                overflow: hidden;
                white-space: nowrap;
            }
            &:nth-child(n+3) {
                .fieldValue {
                    white-space: normal;
                }
            }
        }
    }
    .card-expander {
        position: absolute;
        right: 0;
        top: 0;
        .qbPanelHeaderIcon {
            top: 0;
        }
        .rotateDown {
            transition: all .25s linear;
            transform: rotate(90deg);
        }
        .rotateUp {
            transition: all .25s linear;
            transform: rotate(0deg);
        }
        //margin-top: $margin-spacer;
        .chevron_opened {
            display: block;
            width: 14px;
            height: 14px;
            background: $chevron_opened_icon 0 0 no-repeat;
        }

        .chevron_closed {
            display: block;
            width: 14px;
            height: 14px;
            background: $chevron_closed_icon 0 0 no-repeat;
            opacity: .7;
        }
    }

    @media (min-device-width: 300px) and (orientation: landscape) {
        .field {
            flex-basis: 100%;
            display: block;
            max-width: 100%;
            &:nth-child(n+3) {
                .fieldValue {
                    white-space: nowrap;
                }
            }
            &:nth-child(n+4) {
                white-space: normal;
            }

        }
    }
}

.custom-row-card.expanded {
    border: 0;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
    -moz-box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
}

.checkboxContainer {
    width: 40px;
    flex: 0 0 auto;
    input {
        height: 100%;
        display: inline-block;
        position: absolute;
    }
}


.rowActions {
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;

    white-space: nowrap;
    position: absolute;

    .recordActions {
        width: 100%;
        .actionIcons {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;

            .iconLink {
                flex: 1 1 auto;
                height: 100%;
                position: relative;
                .qbIcon {
                    position: absolute;
                    top: calc(50% - 8px);
                    left: 12px;
                }
            }
        }
    }
    &.closed {
        transition: width 100ms ease-in;
        width: 0;
    }
    &.open {
        transition: width 100ms ease-in;
        width: 240px;
    }
}

/* For mobile phones: */
@include small-breakpoint {
    .custom-row-card {
        .field {
            .fieldLabel {
                font-size: $font-size-small - 1;
            }
        }
    }
}
