{

  "rules": {
    // value key
    // 0 - turn the rule off
    // 1 - turn the rule on as a warning (doesn't affect exit code)
    // 2 - turn the rule on as an error (exit code will be 1)

    ////////// Possible Errors //////////

    "no-console": 1,                  // disallow use of console (off by default in the node environment) (recommended)
    "react/jsx-no-duplicate-props" : [2, {"ignoreCase" : true}] //disallow JSX elements with duplicate props (ignore case)
  }
}