@import '../../assets/css/qbVariables';


.filterSearchBox { /* input box for filtering records containing the string */
  padding: .8rem;
  width: 25em;
}

.reportToolbar {
  > div > div {
    position: relative;
  }
}


.facetsMenuButton {
  display: inline-block;

  .facetButtons {
    color: $icon-color;
  }
  &.popoverShown,
  .facetButtons:hover {
    color: $icon-color-hover;
  }
  .filterButton{
    font-size: 20px;
  }
  .filterButtonCaret {
    font-size: 16px;
  }
}

.facetMenuPopup {
    z-index: 10000;
    margin-left: -15px;
    border-radius: 3px;
    min-width: 300px;
    > .arrow {
      left: 13% !important;
    }

    .popover-content {
      padding: 0;
      margin: 0;
      max-height: 500px;
      overflow-y: auto;
    }

    .panel > .list-group .list-group-item,
    .panel > .panel-collapse > .list-group .list-group-item {
      border: none;
    }

    .noOptions {
      margin-left: 2em;
      color: $color18;
      font-family: "Lato", sans-serif;
    }

    .panel {
      margin-bottom: 0;
      border-radius: 0;
    }

    .facetMenu.panel {
      border: none;
    }

    .facetMenu.panel:last-child {
      border-bottom: none;
    }

    .panel-default > .panel-heading {
      background-color: $facetMenu-backgroundColor;
      border: none;
      box-shadow: none;
      border-top:  1px solid $color4;
      padding: 10px 15px 5px 15px;
    }

    .panel-default:first-child > .panel-heading {
      border-top:none;
    }

    .panel-default > .panel-heading .panel-title a {
      text-decoration:none;
    }

    .panel-default > .panel-heading .panel-title .facetName {
      font-size: 16px;
      margin: 0;
    }
    .selectionInfo.small {
      opacity: 0.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .panel-default {
      border: none;
      box-shadow: none;
    }

    .list-group-item {
      font-family: $font-family;
      padding-top: 4px;
    }

    .list-group-item:hover {
      background-color: $facetMenu-backgroundColor;
    }

    .list-group-item:focus {
      outline: none;
    }

    .list-group-item .checkMark {
      margin-left: auto;
    }

    .listMore {
      color: $color8;
      margin-left: 2.4em;
    }

    .checkMark {
      color: transparent;
    }

    .checkMark-selected {
      color: $facetSelected-color;
    }

    .clearFacet {
      float: right;
      color: $facetMenu-backgroundColor;
    }

    .selections .clearFacet {
      color: $color9;
    }
  }

.facetToken {
    display : inline-block;
    //border: 1px solid $color6;
    //border-radius: 5px;
    padding: 3px;

  .facetNameToken {
    margin-right: .5em;
  }

  .selectedToken {
    padding:2px 8px;
    margin-right:10px;
    color:#fff;
    background-color: $selection-badge-color;
    border-radius: 12px;
    font-size:10px;
    font-weight:500;
  }
  .clearFacet {
    padding-left: 11px;
  }
}



