@import '../../assets/css/qbVariables';


.filterSearchBox { /* input box for filtering records containing the string */
  padding: .8rem;
  width: 25em;
}


.reportToolbar {
  > .facetsMenuContainer > div {
    position: relative;
  }
}

.facetsMenuContainer {
  margin-left: .5em;
}

.facetsMenuButton {
  display: inline-block;
  &.withoutSelections {
    margin-top:10px;
  }
  .facetButtons {
    color: $icon-color;
      @include small-breakpoint {
          color:$secondary-bar-fg;
      }
  }

  &.popoverShown,
  .facetButtons:hover {
    color: $icon-color-hover;
    @include small-breakpoint {
        color: $secondary-bar-fg;
    }
  }
  .filterButton {
    font-size: 20px;
    &.qbIcon {
      display: inline;
    }
  }
  .filterButtonCaret {
    font-size: 16px;
  }
}

.facetsMenuContainer .facetMenuPopup.popover {
    border-radius: 3px;
    border-color : $facetMenu-BorderColor;
    min-width: 300px;
    max-width: 98%;
    > .arrow {
      left: 13%;
    }


    .popover-content {
      padding: 0;
      margin: 0;
      max-height: 500px;
      overflow-y: auto;
    }

    .panel > .list-group .list-group-item,
    .panel > .panel-collapse > .list-group .list-group-item {
      border: none;
    }

    .notActionable {
      cursor : not-allowed;
    }

    .noOptions {
      margin-left: 19px;
      color: $facetMenu-NoOptionsColor;
      font-family: "Lato", sans-serif;
      padding-top: .5em;
    }

    .panel {
      margin-bottom: 0;
      border-radius: 0;
    }

    .facetMenu.panel {
      border: none;
    }

    .facetMenu.panel:last-child {
      border-bottom: none;
    }

    .panel-default > .panel-heading {
      background-color: $facetMenu-backgroundColor;
      border: none;
      box-shadow: none;
      border-top:  1px solid $facetMenu-BorderColor;
      padding: 10px 15px 10px 15px;
      border-radius: 0;

      &:hover {
          background-color: $facetMenu-itemHoverColor;
      }
    }

    .panel-default:first-child > .panel-heading {
      border-top:none;
    }

    .panel-default > .panel-heading .panel-title a {
      text-decoration:none;
    }

    .panel-default > .panel-heading .panel-title .facetName {
      font-size: 16px;
      margin: 0;
    }
    .selectionInfo.small {
      opacity: 0.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .panel-default {
      border: none;
      box-shadow: none;
      margin-bottom: 0 !important;
    }

    .list-group-item {
      font-family: $font-family;
      padding-top: 4px;
    }

    .list-group-item:hover {
      background-color: $facetMenu-itemHoverColor;
    }

    .list-group-item:focus {
      outline: none;
      background-color: $facetMenu-backgroundColor;
    }

    .list-group-item .checkMark {
      margin-left: auto;
    }

    .listMore {
      color: $facetMenu-showMoreColor;
      padding-left: 2.4em;
      cursor: pointer;
    }

    .noFacetValues {
      padding : 1em;
    }

    .checkMark {
      color: transparent;
    }

    .checkMark-selected {
      color: $facetSelected-color;
    }

    .clearFacet {
      float: right;
      color: $facetMenu-backgroundColor;
      cursor: pointer;
    }

    .selections .clearFacet {
      color: $facetMenu-clearButtonColor;
    }
  }
.selectedFacets {
  display: inline;
}
.facetToken {
    display : inline-block;
    padding: 3px;

  .facetNameToken {
    margin-right: .5em;
    display: block;
    font-size: 85%;
  }

  .selectedToken {
    margin-right:10px;
    margin-top: 2px; //clm
    border-radius: 12px;
    font-size:10px;
    font-weight:500;
    background-color: $facetMenu-facetTokenBackgroundColor;
    color: $facetMenu-facetTokenTextColor;
    display: inline-block;

    .selectedTokenName {
      white-space: normal;
      padding: 2px 3px;

      span {
        white-space: nowrap;
        padding-left: .5em;
      }
      .clearFacet {
        cursor: pointer;
      }
    }
  }
}

@include small-breakpoint {
    .selectedFacets {
        display:none;
    }
    .reportContainer .reportToolsAndContentContainer .reportToolbar {

        input {
            color: $search-input-fg;
        }
        .popover-content {
            max-height: 454px;
        }
        .facetMenuPopup {
            display: block;
            left: -88px;
            min-width: 150px;
            max-width: 232px;
        }

        .facetsMenuContainer {
            flex: 0 0 auto;
        }

        .filterSearchBoxContainer {
            display:none;
        }

        .popover.bottom > .arrow {
            display: none;
        }

    }
}


