@import '../../assets/css/qbVariables';


.filterSearchBox { /* input box for filtering records containing the string */
  padding: .8rem;
  width: 25em;
}

.reportToolbar {
  > div > div {
    position: relative;
  }
}

.facetMenuPopup {
  z-index: 10000;
  margin-left: -15px;
  border-radius: 3px;
  min-width: 300px;
  > .arrow {
    left: 13% !important;
  }

  .popover-content {
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-y: auto;
  }

  .panel > .list-group .list-group-item,
  .panel > .panel-collapse > .list-group .list-group-item {
    border: none;
  }

  .panel {
    margin-bottom: 0;
    border-radius: 0;
  }
  .facetsMenuButton:hover {
    color:$icon-color-hover;
  }

  .facetMenu.panel {
    border: none;
  }

  .facetMenu.panel:last-child {
    border-bottom: none;
  }

  .panel-default > .panel-heading {;
    background-color: $facetMenu-backgroundColor;
    border: none;
    border-bottom: 1px solid $color4;
    border-top: 1px solid $color4;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .panel-default:first-child > .panel-heading {;
    border-top:none;
  }

  .panel-default {
    border: none;
  }

  .list-group-item {
    font-family: 'Lato', sans-serif;
    padding-top: 4px;
  }

  .list-group-item:hover {
    background-color: $facetMenu-backgroundColor;
  }

  .list-group-item:focus {
    outline: none;
  }
  .list-group-item .checkMark {
    margin-left: auto;
  }

  button.selected.list-group-item {
    color: $facetSelected-color;
  }
  .checkMark {
    color: $facetMenu-backgroundColor;
  }
  .checkMark-selected {
    color: $facetSelected-color;
  }
  .clearFacet {
    float: right;
    color: $facetMenu-backgroundColor;
  }
  .selections .clearFacet {
    color: $color9;
  }
  .selections .facetName {
    color: $facetSelected-color;
  }

}

