@import '../../assets/css/qbVariables';

.searchInputBox {
    position: relative;
    background-color: #fff;
    border-radius: 3px;

    .searchInput {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0.8rem 30px 0.8rem 5px;
        font-style: italic;
        color: $search-input-fg;
        text-overflow: ellipsis;
        width: 100%;
        height: 100%;
    }
    .searchIcon {
        position: absolute;
        right: 5px;
        top: calc(50% - #{$font-size-base/2});
        font-size: $font-size-base;
        width: 14px;
    }
}
