// Harmony colors (http://harmony.intuit.com/color)

// Grayscale color palette
    $lighter-gray: #f3f5f8; // Add drawer background, collapsible table row background
      $light-gray: #dcdcdc; // Blackout dates, track of scrollbar, horizontal and vertical dividers
            $gray: #c7c7c7; // Stroke around form fields
$medium-dark-gray: #b8b8b8; // Ghost text in form fields
       $dark-gray: #969696; // Gray Buttons, gray icons, small tertiary type (like time stamps)
                            // Dotted line horizontal and vertical dividers
     $darker-gray: #404040; // Text on light backgrounds

     $intuit-gray: $darker-gray;
       $blue-gray: #a2a9b0;

// Blue-gray color palette
      $lightest-slate: #f3f8fe; // Table Hover State
       $lighter-slate: #e3eaf3; // Table Headers, IPP Background
         $light-slate: #c0d0e4; // Blue Dividers, Sort by Column Active State
      $light-slate-50: #d9e4f1; // Background color for top section of an expanded grid row. Currently only used on DTX but Ariel asked to create a variable for this since he plans to use this elsewhere.
               $slate: #6e8ba8; // Trowser Header, Table Header Labels, Add Drawer Badge
   $medium-dark-slate: #3A4D61;
          $dark-slate: #193048; // Primary Navigation Background, Global Navigation Background
        $darker-slate: #131f2b; // Flyouts, Tooltips, Sticky Footer Background, Category Header in Side Navigation
       $darkest-slate: #0f1822; // Hovers State in Flyouts

       $flyouts-slate: #264a6d; // flyout background
       $divider-slate: #3c5c7c;
$trowser-header-slate: #486c8f;

       $lightest-blue: #f9fafb;
        $lighter-blue: #f6f8fb;
          $light-blue: #4376ef; // Primary Action Button on Dark Background
                $blue: #365ebf; // Hover State, Links, Primary Action Button on Light Background
           $dark-blue: #2c4d9c; // Hit State
           $icon-blue: #7090ab;
     $icon-hover-blue: #0098cd;
     $icon-light-blue: #869FD8;
    $button-text-blue: $blue;

     $green-blue: #0098CD;
     $darker-green-blue: #007DA9;
     $lighter-green-blue: #1a8ab2;

   $light-green: #f6fee6; // Confirmation Notification Background
         $green: #a5d001; // Confirmation Notification Stroke
    $dark-green: #4b9a18; // Confirmation Icon

  $light-yellow: #fffce5; // Subtotal Background
        $yellow: #fbe0a3; // Subtotal Stroke
   $dark-yellow: #f2b835; // Caution Icon
        $orange: #e77b07; // Special Date in Calendar

    $light-pink: #fefcfc; // Error Notification Background
          $pink: #ef797e; // Error Notification Stroke
           $red: #dc3c1e; // Error Icon

       $fuchsia: #c72f79; // Assistant Bar Background
  $dark-fuchsia: #a32763; // Assistant Indicator Split

         $white: #fff;    // White. Just Plain Ol' White
         $black: #000;    // Black. As Dark as It Gets
         $whiteSmoke: #f5f5f5;
         $colorOmen: #666;
         $leafGreen: #4b9a18;
         $greyBlue: #B0C0D0;
         $menuBorderBlue: #3fadd3;


$translucent-black: rgba(0,0,0,.15);
$light-translucent-black: rgba(0,0,0,.10);
$partial-black: $translucent-black;       // Drop Shadows
$half-black: rgba(0,0,0,.5);       //
$darker-half-black: rgba(0,0,0,.6);       // Navigation Hover
$translucent-white: rgba(255,255,255,.15); // Navigation Item Dividers
$translucent-gray: rgba(136,136,136,.15); // Navigation Item Dividers
$partial-white: rgba(255,255,255,.2);
$half-white: rgba(255,255,255,.5);
$almost-white: rgba(255, 255, 255, 0.7);

$insights-dark-blue: #4d5f89; // Section colors for insight charts
$insights-med-blue: #6c8eaf;
$insights-yellow: #f2b835;
$insights-red: #ce5133;
$insights-green: #a8cb24;
$insights-group-label: #68779b;

$navHighlightColor: $green-blue;

$trowser-footer-background-start: rgba(25, 48, 72, 0.6);
$trowser-footer-background-end: rgba(25, 48, 72, 0.9);

$grid-default-height: 45px;
$grid-compact-height: 30px;
//$grid-content-footer-font-size: $fontSizeMinus1;
$grid-content-footer-color: $darker-gray;
$grid-content-background-color: $white;
$grid-header-height: 32px;
//$grid-header-font-size: $fontSizeMinus2;
$grid-header-color: $slate;
$grid-header-background-color: $lighter-slate;
$grid-header-bottom-border-color: $light-slate;
$grid-row-hover: $lightest-slate;
$grid-selected-background-color: $lightest-slate;

$help-background-color: $flyouts-slate;
$help_divider_line_color: #e4e4e4;
$help-lightbox-title-color: $flyouts-slate;
$help-lightbox-link-color: $blue;
$help_lightbox_border_color: #c7c7c7;
$help_lightbox_bottom_border_color: #e3e3e3;
$help_lightbox_topics_border_color: #d4d4d4;

// sticky-footer
$footer-text-color: rgb(109, 141, 214);
$footer-border-color: #6b7685;

$nav-text: $white;
$left-nav-selected: $darker-slate;
$left-sub-nav-selected: $darkest-slate;


// General

$primary-color: #cfe5fa;                          // Base color for entire theme
$secondary-color: #efefef;                        // Base color for bar-backgrounds
$text-color: #000;                          // Text color for enabled widgets
$disabled-color: $lighter-gray;                       // Base for disabled backgrounds and borders
$error-color: $red;
$label-error-color: $red;



$alert-error-color: $error-color;
$alert-info-color: #0098cd;
$alert-warn-color: #f2b835;
$alert-confirm-color: #a5d001;
$alert-gray-color: #ccc;

$reviewTxnsColor: #eea528;

$companyIdColor: #fec82a;


$container-background-color: $white;                   // Backgrounds for various content areas such as TitlePane, ContentPane and Inputs (if changed, adjust selected tab to match)

$minor-selected-color: adjust-hue(saturate(darken($primary-color, 6), 19), 0);            // Color for various arrows and buttons
$base-border-color: adjust-hue(desaturate(darken($primary-color, 29), 44), -1);   // Augmented and used directly by variables to create border colors for various widgets
$unfocused-clickable-color: adjust-hue(saturate(lighten($primary-color, 5), 10), 0);        // Background color for enabled buttons, text inputs
$border-color: #c7c7c7;           // Border color for (enabled, unhovered) TextBox, Slider, Accordion, BorderContainer, TabContainer
$minor-border-color: $disabled-color;                 // Color of borders inside widgets: horizontal line in Calendar between weeks, around color swatches in ColorPalette, above Dialog action bar
$popup-border-color: $base-border-color;                // Border for Dialog, Menu, Tooltip.   Must also update tooltip.png (the arrow image file) to match


$disabled-border-color: $disabled-color;                // Border color for disabled/readonly Button etc. widgets
$disabled-background-color: $secondary-color;             // Disabled button, textbox, etc.
$disabled-text-color: darken($secondary-color, 43);                     // Text color for disabled/readonly widgets
$disabled-textbox-border-color: $light-gray;            // Disabled border color for TextBox, Select widgets, textarea.

$unselected-background-color: $secondary-color;             // Background color for unselected/unopened tab button, accordion pane, TitlePane, Menu items
$unselected-text-color: darken($secondary-color, 65);                   // Text color for unselected/unopened tab button, accordion pane, TitlePane, Menu items

$hovered-border-color: $base-border-color;                // Hover of textbox, tab label, BorderContainer splitter, Calendar, etc.
$hovered-background-color: $minor-selected-color; // Background color for hover of Button, MenuBar, Accordion pane, Calendar... anything that has a (non-white) color to start with and gets darker on hover
$hovered-text-color: $text-color;                   // Used for title of select Accordion pane, label of select tab, hovered Menu item, etc.

$pressed-border-color:  $base-border-color;               // During click on Calendar day, Slider up/down buttons, tab button, etc.
$pressed-background-color: adjust-hue(saturate(darken($primary-color, 16), 12), 0);         // Background color while clicking on Accordion/TitlePane title bar, tab button, Calendar day, Toolbar button, Tree row.

$selected-border-color: $base-border-color;               // Selected AccordionPane, tab of nested TabContainer (but plain TabContainer is special)
$selected-background-color: $primary-color;               // Selected Accordion pane, nested tab label, Tree row
$selected-text-color: $text-color;                    // title of selected Accordion pane, label of selected tab, hovered Menu item, etc.

$bar-background-color: $secondary-color;                // MenuBar, Toolbar, action bar at bottom of dialog
$pane-background-color: $container-background-color;          // Background color of Accordion panes, Dialogs, etc.
$popup-background-color: $container-background-color;         // Background for Dialog.   TODO: currently use for ColorPalette, maybe should change.



// Buttons
$button-border-color:  $base-border-color;                // Border for (stand-alone) buttons in normal, hovered, or active state
$button-background-color: $unfocused-clickable-color;         // Background color for (unhovered) buttons
$button-hovered-background-color: $minor-selected-color;  // Background color for hovered buttons
$button-pressed-background-color: $minor-selected-color;        // Background color for active buttons
$button-border-radius: 4px;                       // Rounded corner radius for buttons (except in toolbar)

// Input widgets
$focused-border-color: #365ebf;               // Focused textbox, editor, select, etc.
$hover-border-color: #a0a0a0;               // Hovered textbox, editor, select, etc.
$error-border-color: $error-color;                      // Border for textbox in error state
$error-focused-border-color: darken($error-color, 5);                 // Border of textbox in error state, and focused
$erroricon-background-color: $error-color;                  // Background color for exclamation point validation icon (for TextBox in error state)
$textbox-background-color: $container-background-color;         // Default background color of TextBox based widgets
$textbox-hovered-background-color: $unfocused-clickable-color;      // Background color when hovering a unfocused TextBox, Select, Editor, or other input widget
$textbox-focused-background-color: $textbox-background-color;
$textbox-error-background-color: $textbox-background-color;
$textbox-disabled-background-color: $disabled-background-color;

$textbox-padding: 2px;  // Padding for Textbox, Textarea, etc.

// CheckBox, RadioButton
$focus-outline-color: darken($secondary-color, 65);                     // Color for artificial focus outline around labels of checkboxes

// TabContainer
$nestedtab-hovered-background-color: $unfocused-clickable-color;
$nestedtab-hovered-border-color: $primary-color;
$nestedtab-selected-border-color: $selected-border-color;
$nestedtab-selected-background-color: $minor-selected-color;
$tab-disabled-background-color: $disabled-color;            // For disabled tabs of a TabContainer (not officially supported)
$tab-badge-notification-color: $trowser-header-slate;

// Arrow buttons (stand alone, or inside ComboBox / ComboButton / Spinner / etc.
$arrowbutton-background-color: $secondary-color;
$arrowbutton-hovered-background-color: $minor-selected-color;     // Color of arrow when hovering ComboBox.   But hovering Spinner doesn't change arrow color (TODO)
$arrowbutton-pressed-background-color: $minor-selected-color;
$arrowbutton-inner-border-color: $container-background-color;                 // Typically the arrows have an inner white border (a.k.a. padding) and then an outer black-ish border

// Slider
// Note: any changes here require corresponding changes in form/images/sliderThumbs.png
$slider-fullbar-background-color: $primary-color;             // Background color for part of slider bar before (to the left or below) the handle
$slider-remainingbar-background-color: $container-background-color;     // Background color for part of slider bar after (to the right or above) the handle
$slider-hovered-fullbar-background-color: $minor-selected-color;      // Background color for part of bar of hovered slider before (to the left or below) the handle
$slider-hovered-remainingbar-background-color: $container-background-color; // Background color for part of bar of hovered slider after (to the right or above) the handle
$slider-hoveredButton-background-color: $container-background-color;    // Background color of slider increment/decrement buttons when mouse is over slider but not over the buttons
$slider-focused-fullbar-background-color: $minor-selected-color;      // Background color for part of bar of focused slider before (to the left or below) the handle
$slider-focused-remainingbar-background-color: $container-background-color; // Background color for part of bar of focused slider after (to the right or above) the handle
$slider-button-hovered-background-color: $primary-color;          // Background color of slider increment/decrement buttons when mouse is over the buttons
$slider-button-pressed-background-color: $minor-selected-color;       // Background color of slider increment/decrement buttons while button is depressed

// Select, ComboBox
$select-dropdownitem-background-color: $container-background-color;     // Background color for items in the drop down list of a ComboBox/Select
$select-dropdownitem-hovered-background-color: $pressed-background-color; // Background color for the hovered item in the drop down list of a ComboBox/Select
$select-matchedtext-background-color: $minor-selected-color;        // Background color of text in ComboBox drop down that matches typed in phrase

// Menus
$menu-background-color: $popup-background-color;

// Calendar
$calendar-background-color: $primary-color;
$calendar-currentmonth-background-color: $container-background-color;   // Background color for days of the current month
$calendar-adjacentmonth-background-color: $unfocused-clickable-color;   // Background color used for days from previous or next month
$calendar-adjacentmonth-text-color: $base-border-color;           // Text color used for days from previous or next month
$calendar-date-pressed-border-color: $container-background-color;     // For some reason pressing a day of the month (as opposed to hovering it) makes the border go away, is this intentional?
$calendar-date-pressed-background-color: $pressed-background-color;
$calendar-date-selected-border-color: $selected-border-color;
$calendar-date-selected-background-color: $minor-selected-color;
$calendar-button-hovered-background-color: $unfocused-clickable-color;    // for hover or next/previous year, and month drop down (TODO: border and background are built in to calendarArrows.png, can't control from here)
$calendar-button-hovered-border-color: $container-background-color;     // for hover or next/previous year, and month drop down
$calendar-button-pressed-background-color: $pressed-background-color;
$calendar-button-pressed-border-color: $pressed-border-color;


// ProgressBar
$progressbar-border-color: $popup-border-color;               // Border color of progress bar
$progressbar-full-background-color:$minor-selected-color;         // Background color for part of progress bar indicating amount completed
$progressbar-empty-background-color: $container-background-color;     // Background color for part of progress bar indicating amount remaining
$progressbar-text-color: $text-color;                   // Color of progress bar text (ex: "35%").  Must contrast with both empty and full background colors.

// TimePicker
$timepicker-minorvalue-background-color: $secondary-color;  // For 3:15, 3:30, 3:45 but not 3:00 or 4:00
$timepicker-minorvalue-text-color: darken($secondary-color, 43);
$timepicker-majorvalue-background-color: $unfocused-clickable-color;  // For 3:00, 4:00, 5:00, etc.
$timepicker-value-hovered-background-color: $pressed-background-color;
$timepicker-value-hovered-text-color: $hovered-text-color;
$timepicker-arrow-hovered-background-color: $minor-selected-color;

// ColorPalette
$colorpalette-background-color: $container-background-color;
$swatch-border-color: $minor-border-color;
$swatch-hovered-border-color: #000;
$swatch-selected-border-color: #000;

// Dialog
$dialog-underlay-color: $container-background-color;      // the thing that grays out the screen when a dialog is shown
$dialog-titlebar-border-color: $container-background-color; // Inner border around the title sectionof a Dialog, inside the main border of the Dialog and the border between title and content
$dialog-titlebar-background-color: $minor-selected-color;

// Tooltip
//$tooltip-gradient-color: fade-in($primary-color, .1);   // a little swath of color at the bottom of tooltips

// BorderContainer
$splitter-hovered-background-color: $primary-color; // Color of splitter when user hovers it, before mouse down
$splitter-dragged-background-color: $minor-selected-color;  // Color of splitter while it's being dragged

// Toolbar
$toolbar-button-checked-background-color: $container-background-color;                // a toggled-on button in the toolbar
$toolbar-combobutton-hovered-unhoveredsection-background-color: adjust-hue(saturate(lighten($primary-color, 8), 19), -29);  // when user hovers a ComboButton in a Toolbar, the other half of the button turns this color
$toolbar-button-border-radius: 2px;     // Rounded corner radius for buttons for buttons in toolbar

// DnD
$dnd-avatar-background-color: $container-background-color;          // Background color of little Dialog-type box indicating dragged items
$dnd-avatar-header-background-color: #f58383;   // Title bar for dragged items
$dnd-avatar-candrop-header-background-color: #97e68d;// Title bar for dragged items when they can be dropped
$dnd-dropseparator-color: $base-border-color;         // Color of line indicating that user is about to drop between items A & B

// Document level
$document-text-color: #131313;                // Text color for document itself (text outside of widgets)
$document-shadedsection-background-color: $bar-background-color;// background color used for <pre>, <code>, and table header rows
$document-border-color: $disabled-color;                // Border for <pre>, <code>, tables, etc.

// Tooltip background color
$tooltip-color: #131f2b;

// Chart
$chart-tooltip-label-color: #91A1B1;
