
.dashboard {

  ul, ol, dl {
    list-style-type: none;
  }

  h5 {
    background-color: $gray;
  }
  h3 {
    background-color: $slate;
  }
  h4 {
    background-color: $slate;
  }
  .menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;

  }

  .menu:before {
    content: "[";
  }

  .menu:after {
    content: "]";
  }

  .menu > li {
    display: inline;
  }

  .menu > li:before {
    content: "|";
    padding-right: 0.3em;
  }

  .menu > li:nth-child(1):before {
    content: "";
    padding: 0;
  }

  ul, ol, dl {
    list-style-type: none;
    margin: 10px;
  }

  .content {
    float: left;
    height: 500px;
    min-height: 300px;
    //border: solid;
    position: relative;
    width: 66.67%;
    //min-width: 1000px;

  }
  .nav-content {
    background-color: $slate;
    width: 165px;
    float: left;
    position: relative;
    height: 1000px;

    button {
      margin: 20px;
      height: 51px;
    }

  }

  ul {
    a.ng-binding {
      cursor: pointer;
      color: $darker-slate;
    }
    a.ng-binding:hover {
       border-left-color: $white;
       box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), -1px 0 $translucent-white;
       background-image: -webkit-linear-gradient(top, $light-blue 0%, $blue 100%);
       background-image: linear-gradient(to bottom, $light-blue 0%, $blue 100%);
     }
  }

}
