@import "svgs";

$icons: sprite-map("images/*.png");
$arrow-sprite: image-url('sprites/arrow-sprite.png');

.attach-clip {
  background: sprite($icons, attach);
}

.intuit-logo {
  background: sprite($icons, intuitLogo);
}

@mixin arrow-sprite-png {
    background-repeat: no-repeat;
    background-image: $arrow-sprite;
}
