
.shell {
  font-family: "HelveticaNeue-Roman", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  min-width: 640px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: row;
}

.nav-target {
  width: 100%;
}

.nav-container {
  flex: 0 0 auto;
  display: flex;
  height: 100%;

  .nav-shell {
    width: 165px;
    min-width: 165px;
    background-color: $dark-slate;
    box-shadow: -3px 0px rgba(0, 0, 0, 0.15) inset;
    overflow: auto;
    transform: translate3d(0px, 0px, 0px);
    transition: width 0.5s ease 0s;
    &.split-shell {
      background-color: $whiteSmoke;
    }
  }

  .nav-links {
    position: relative;
    padding: 10px;

    li:hover {
      border-left-color: #fff;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), -1px 0 $translucent-white;
      background-image: -webkit-linear-gradient(top, $light-blue 0%, $blue 100%);
      background-image: linear-gradient(to bottom, $light-blue 0%, $blue 100%);
      cursor:pointer;
    }

    li {
      padding: 5px 3px 8px 15px;
      margin: 0px -9px;
      list-style-type: none;
      color: $light-slate;
      &.selected {
        color: $white;
      }
    }

    a {
      cursor:pointer;
      font-family: "HelveticaNeueRoman",Helvetica,Arial,sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -webkit-user-select: none;
      overflow: hidden;
    }

  }
}

.split-container {
  flex: 0 0 auto;
  display: flex;

  .split-shell {
    width: 165px;
    min-width: 165px;
    background-color: $whiteSmoke;
    box-shadow: -3px 0px $translucent-black inset;
    overflow: auto;
    transform: translate3d(0px, 0px, 0px);
    transition: width 0.5s ease 0s;
  }

  .split-links {
    position: relative;
    padding: 10px;

    a {
      cursor:pointer;
      color: $whiteSmoke;     //TODO
    }
    a.ng-binding:hover {
      border-left-color: $white;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), -1px 0 $translucent-white;
      background-image: -webkit-linear-gradient(top, $light-blue 0%, $blue 100%);
      background-image: linear-gradient(to bottom, $light-blue 0%, $blue 100%);
    }
  }
}

.drawer-container {
  flex: 0 0 auto;
  display: flex;

  .drawer-shell {
    padding-right: 10px;
    position: absolute;
    top: 0;
    border-left: 1px solid  $light-gray;
    -webkit-transition: transform 350ms cubic-bezier(0.32, 1.25, 0.32, 1);
    transition: transform 350ms cubic-bezier(0.32, 1.25, 0.32, 1);

    background: $lighter-gray;
    color: $light-gray;

    box-shadow: -3px 0px $translucent-black inset;

    //overflow: auto;
    //transform: translate3d(0px, 0px, 0px);
    height: 100%;
    &.small {
      width: 265px;
      min-width: 265px;
      right: -275px;
      //  small drawer does not cover heading/footer
      &.slide-in {
        -webkit-transform: translateZ(0) translateX(-275px);
        transform: translateZ(0) translateX(-275px);
      }
      .drawer-content {
        padding: 30px 20px 0px 20px;
      }
    }
    &.large {
      width: 565px;
      min-width: 565px;
      right: -575px;
      &.slide-in {
        -webkit-transform: translateZ(0) translateX(-575px);
        transform: translateZ(0) translateX(-575px);
      }
      .drawer-content {
        padding: 30px 45px 0px 30px;
      }
    }
    .drawer-header {
      width: 100%;
      height: 55px;
      position: relative;
      background-color: $lighter-gray;

      .drawer-title {
        height: 20px;
        font-size: 20px;
        position: absolute;
        top: 30px;
        left: 30px;
        font-family: "HelveticaNeue-Light";
        color:$darker-gray;
      }

      .drawer-close {
        display: block;
        width: 10px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.3s all ease;
        cursor: pointer;
      }
      .drawer-close:hover {
        color: $dark-blue;
      }

    }
    .drawer-footer {
      width: 100%;
      height: 55px;
      position: absolute;
      bottom: 0;
      text-align: right;
      padding: 12px 0px;
      background: $light-slate;
      opacity: .75;
      button {
        padding: 10px 10px;
        margin: 10px 10px;
      }
    }

    .drawer-content {
      background-color: $lighter-gray;
      scroll: auto;
    }
  }
}

.popout-container {
  flex: 0 0 auto;
  display: flex;

  .popout-shell {
    position: absolute;
    top: 0;
    border: 1px solid $light-gray;
    -webkit-transition: transform 350ms cubic-bezier(0.32, 1.25, 0.32, 1);
    transition: transform 350ms cubic-bezier(0.32, 1.25, 0.32, 1);

    background: $lighter-gray;
    color: $light-gray;
    min-width: 450px;
    min-height: 450px;

    .popout-header {
      width: 100%;
      height: 55px;
      position: relative;
      background-color: $dark-slate;

      .popout-title {
        height: 20px;
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: "HelveticaNeue-Light";
        color: $whiteSmoke;
      }

      .popout-close {
        display: block;
        width: 10px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        transition: 0.3s all ease;
        cursor: pointer;
      }
      .popout-close:hover {
        color: $dark-blue;
      }

    }

    .popout-content {
      background-color: $lighter-gray;
      padding: 20px;
      scroll: auto;
    }
  }
}

.layout-container {
  flex: 1 1 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .hide {
    display:none;
  }

  .layout-header {
    background-color: $lighter-slate;
    color: $slate;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0px 15px;

    .leftContent {
      float: left;
      font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      visibility: hidden;
    }
    .rightContent {
      float: right;
    }
  }

  .layout-stage {
    border-bottom: 1px solid $lighter-slate;
    background-image: linear-gradient(to top, $lighter-blue 0%, $lightest-blue 100%);
    box-sizing: border-box;
    position: relative;
    background-color: $lighter-gray;
    padding: 15px 15px 15px;
    margin-bottom: 20px;
    transition: padding 0.5s ease 0s;

    .layout-stage-content {
      transition: opacity .10s linear .20s, max-height .05s linear .20s;
    }

    &.stage-open {
      min-height: 180px !important;
    }

    &.stage-close {
      height: 40px !important;
      min-height: 40px !important;
      transition: height .20s linear .10s;

      .layout-stage-content {
          opacity: 0;
          max-height: 0;
          visibility: hidden;
          transition: visibility 0s .20s, opacity .20s linear;
      }

      .tab {
          background-position: -121px -20px;
      }
    }

    .tab {
      cursor: pointer;
      position: absolute;
      bottom: -24px;
      right: 0px;
      margin-right: 25px;
      height: 24px;
      width: 27px;
      border: 1px solid $lighter-slate;
      border-radius: 0px 0px 2px 2px;
      background-position: -80px -20px;
      background-size: 144px auto;
      background-color: $lighter-gray;
      outline: medium none;
      &.arrow {
        @include arrow-sprite-png;
      }
    }

  }

  .layout-content {
    padding: 24px 15px 0px;
    min-height: 200px;
  }

  .layout-footer {
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    .layout-footer-content {
      color: $darker-gray;
      padding: 10px;
    }
  }
}

.trowser-footer {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 12px 0px;
  background: $dark-slate;
  button {
    padding: 10px 10px;
    margin: 10px 20px;
  }
}

