.report {
  min-width: 640px;
  .report-header {
    margin: 25px;
    float: left;

    .left {
      float: left;
      width: 50%;
      div {
        font-size: 12px;
        padding: 10px 30px;
      }
      div.header {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .right {
      div {
        font-size: 12px;
      }
      font-size: 14px;
      float: left;
      width: 50%;
      .time {
        float: left;
        width: 50%
      }
      .reminder {
        float: left;
        width: 50%;
      }
    }

  }

  .report-content {
    float: left;
    clear: left;
    width: 100%;
    padding: 0px 0px;

    .grid-table {
      width: 100%;
      border-bottom-color: #cedcea;
      .grid-cell {
        padding: 3px;
        text-align: left;
        &.header {
          height: $grid-header-height;
          background-color: $grid-header-background-color;
          color: $grid-header-color;
        }
        &.data {
          font-size: 12px;
          &.currency {
            text-align: right;
          }
        }
      }
    }
  }
}
