@import "icons";

.report {

  min-width: 640px;

  .report-stage {
    .report-content {
      .left {
        float: left;
        width: 70%;
        div {
          margin-left: 40px;
          &.header {
            font-size: 1.2rem;
            font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
          }
          &.subheader {
            margin-top: 3px;
            font-size: 0.8rem;
            color: $slate;
            text-transform: inherit;
          }
          &.content {
            font-size: 0.8rem;
            margin: 20px 60px 20px 40px;
          }
        }
      }

      .right {
        float: left;
        width: 30%;
        .reminder {
          white-space: nowrap;
          border-left: 1px solid $light-gray;
          padding: 1px 20px 15px 40px;
          &.stage-closed {
            border-left: 0px;
          }
          .icon {
            width: 50px;
            height: 60px;
            background: sprite($icons, emailPointer) no-repeat;
          }
          .header {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 1.2rem;
            font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
          }
          .subheader {
            font-size: 0.7rem;
            margin-top: 2px;
            margin-left: 15px;
            color: $slate;
            text-transform: uppercase;
          }
          button {
            cursor: pointer;
            margin-top: 15px;
            margin-left: 15px;
            color: $white !important;
            border: 1px solid #ccc;
            border-radius: 2px;
            box-shadow: none;
            height: 34px;
            line-height: 34px;
            min-width: 170px;
            padding: 0 20px;
            font-size: 0.8rem;
            background-color: $light-blue;
            background-image: -webkit-linear-gradient(top, $light-blue 0%, $blue 100%);
            background-image: linear-gradient(to bottom, $light-blue 0%, $blue 100%);
            border-color: $dark-blue;
            font-family: "HelveticaNeue-Roman","HelveticaNeue","Helvetica Neue","Helvetica","Arial",sans-serif;
            letter-spacing: .0em;
          }
        }
      }
    }
  }

  .report-header {
    background-image: linear-gradient(to top, $lighter-blue 0%, $lightest-blue 100%);
    background-color: $lighter-gray;
    border: 1px solid $lighter-slate;
    box-sizing: border-box;
    position: relative;
    padding: 24px 15px 0px;
    transition: padding 0.5s ease 0s;
    min-height: 50px;
    height: 50px;

    .left {
      float: left;
      width: 50%;
      div {
        font-size: 12px;
        padding: 0px 30px 15px;
        &.header {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .right {
      font-size: 12px;
      float: left;
      width: 50%;
    }

  }

  .report-content {
    width: 100%;
    padding: 0px 0px;
  }
}
