@import "icons";

.report {

  min-width: 640px;

  .report-stage {
    .report-content {
      .left {
        float: left;
        width: 70%;
        div {
          font-size: 14px;
          margin-left: 40px;
          &.header {
            font-size: 16px;
            font-weight: bold;
          }
          &.subheader {
            margin-top: 3px;
            font-size: 12px;
            color: $slate;
            text-transform: inherit;
          }
          &.content {
            margin: 20px 60px 20px 40px;
          }
        }
      }

      .right {
        font-size: 12px;
        float: left;
        width: 30%;
        .reminder {
          white-space: nowrap;
          border-left: 1px solid $light-gray;
          padding: 2px 20px 15px 50px;
          .icon {
            width: 50px;
            height: 60px;
            background: sprite($icons, emailPointer) no-repeat;
          }
          .header {
            margin-top: 10px;
            margin-left: 18px;
            font-size: 18px;
          }
          .subheader {
            font-size: 10px;
            margin-top: 2px;
            margin-left: 18px;
            color: $slate;
            text-transform: uppercase;
          }
          button {
            cursor: pointer;
            margin-top: 15px;
            margin-left: 18px;
          }
        }
      }
    }
  }

  .report-header {
    background-image: linear-gradient(to top, $lighter-blue 0%, $lightest-blue 100%);
    background-color: $lighter-gray;
    border: 1px solid $lighter-slate;
    box-sizing: border-box;
    position: relative;
    padding: 24px 15px 0px;
    transition: padding 0.5s ease 0s;
    min-height: 50px;
    height: 50px;

    .left {
      float: left;
      width: 50%;
      div {
        font-size: 12px;
        padding: 0px 30px 15px;
        &.header {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .right {
      font-size: 12px;
      float: left;
      width: 50%;
    }

  }

  .report-content {
    width: 100%;
    padding: 0px 0px;
  }
}
