.report {

  min-width: 640px;

  .report-stage {
    .left {
      float: left;
      width: 50%;
      div {
        font-size: 12px;
        padding: 0px 30px 15px;
        &.header {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    .right {
      font-size: 12px;
      float: left;
      width: 50%;
      .time {
        float: left;
        width: 50%;
        .title {
          font-weight:bold;
          padding: 0px 5px 3px 0px;
        }
      }
      .reminder {
        float: left;
        width: 50%;
      }
    }
  }

  .report-header {
    background-image: linear-gradient(to top, $lighter-blue 0%, $lightest-blue 100%);
    background-color: $lighter-gray;
    border: 1px solid $lighter-slate;
    box-sizing: border-box;
    position: relative;
    padding: 24px 15px 0px;
    transition: padding 0.5s ease 0s;
    min-height: 50px;
    height: 50px;

    .left {
      float: left;
      width: 50%;
      div {
        font-size: 12px;
        padding: 0px 30px 15px;
        &.header {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .right {
      font-size: 12px;
      float: left;
      width: 50%;
    }

  }

  .report-content {
    width: 100%;
    padding: 0px 0px;
  }
}
