.report {
  min-width: 640px;
  .report-header {
    margin: 25px;
    .left {
      float:left;
      width: 50%;
      padding: 0px 50px;
      p {
        font-size: 12px;
      }
      p.header {
          font-size: 14px;
          font-weight: bold;
      }
    }

    .right {
      font-size: 14px;
      float:left;
      width: 50%;
      padding: 0px 50px;
      .time {
        float : left;
        width: 50%;
        padding: 0px 25px;
      }
      .reminder {
        float : left;
        width: 50%;
        padding: 0px 25px;
      }
    }

  }

  .report-content {
    float:left;
    clear:left;
    width: 100%;
    padding: 50px 70px;

    .grid-table {
      width:100%;
      border-bottom-color:#cedcea;
      .grid-cell {
        padding: 3px;
        text-align: left;
         &.header {
          height: $grid-header-height;
           background-color: $grid-header-background-color;
           color: $grid-header-color;
         }
         &.data {
           font-size: 12px;
           &.currency {
             text-align:right;
           }
         }
      }
    }
  }
}
