/* app css master stylesheet */
/* imports */
@import "colors";

body {
  margin: 0px;
}

.quickbase-app {

  @import "icons";

  .intuit-logo {
      width: 68px;
      height: 20px;
      background: sprite($icons, intuitLogo) no-repeat;
  }


  @import "dashboard";
  @import "grid";
  @import "layout";
  @import "report";

}
