@import '../../assets/css/qbVariables';

.formContainer {
    padding: 10px;
}

.formSection {
    display: block;

    .formTable {
        margin-left: 20px;
    }
    .fieldRow {

        padding: 5px 0;

        td {
            vertical-align:top;
            padding-bottom: 25px;
        }
        tr:last-child td {
            padding-bottom:0;
        }

        .formElement {
            word-wrap: break-word;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-right:20px;
        }

        /* separate field label td left of field */
        .fieldLabel {
            text-align:right;
            display: block;
            color: $fieldLabel-color;
            max-width: 10em;
            span {
                display: inline-block;
                vertical-align:top;
            }
            .requiredFlag-layout {
                padding-right: 2px;
            }
        }

        /* field label in field td */
        .field .fieldLabel {
            max-width: 20em;
            text-align:left;
            margin-bottom: 8px;
        }

        .field {
            margin-right: 40px;

            .dateCell {
                white-space:nowrap;
            }
        }

        td:last-child .field {
            margin-right: 0;
        }
    }
}

.editForm {
    .fieldLabel {
        margin-top: 5px;
    }
    .field .fieldLabel {
        margin-top: 0;
    }
    .formElement.field .viewElement {
        padding: 5px;
    }
}
/* For mobile phones: */
@include small-breakpoint {
    .formSection {
        display: block;

        .formTable {
            margin-left: 0px;
        }

        .fieldRow {
            td {
                padding-bottom: 20px;
            }
            .field {
                max-width: 100%;
                .fieldLabel {
                    font-size: $font-size-small;
                }
                .fieldValue {
                    font-size: $font-size-small;
                }
            }
        }
    }
}
