@import '../../assets/css/qbVariables';

$fieldLabel-color: $color3;

.formContainer {
    padding: 2%;
}

.fieldRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.field {
    //top right bottom left
    padding: 0 35px 20px 0;
    max-width: 25%;
    .fieldLabel {
        display: block;
        color: $fieldLabel-color;
        padding-bottom: 2px;
    }
    .fieldValue {
        display: block;
        min-width: 0;
    }
}

.qbPanelHeaderIcon {
    float: right;
    color: #404040;
}

.qbPanelHeaderIcon:hover {
    color: #0098cd;
}

/* For mobile phones: */
@include small-breakpoint {
    .field {
        max-width: 100%;
        .fieldLabel {
            font-size: $font-size-small;
        }
        .fieldValue {
            font-size: $font-size-small;
        }
    }
}

/* For tablet like devices: */
@include medium-breakpoint {
    .field {
        max-width: 60%;
    }
}