@import '../../assets/css/qbVariables';

.formContainer {
    padding: 10px;
}

.formSection {
    display: block;

    .fieldRow {

        padding: 5px 0;

        .formElement {
            margin: 0 35px 20px 0;
            word-wrap: break-word;
            max-width: 100%;
            .fieldLabel {
                display: block;
                color: $fieldLabel-color;
                padding-bottom: 2px;
            }
            &.labelAbove {
                flex-direction: column;
            }
            &.labelLeft {
                .fieldLabel {
                    padding-right: 5px;
                }
            }
        }
    }
}

/* For mobile phones: */
@include small-breakpoint {
    .qbPanelBody {
        .field {
            max-width: 100%;
            .fieldLabel {
                font-size: $font-size-small;
            }
            .fieldValue {
                font-size: $font-size-small;
            }
        }
    }
}
