@import '../../assets/css/qbVariables';

$edit-field-padding: 5px;

.formContainer {
    padding: 10px;
}

.formSection {
    display: block;

    .formTable {
        margin-left: 10px;

        /* Fields in cardview span the width of the small device */
        @include small-breakpoint {
            width: 100%;
        }
    }
    .qbPanelHeader {
        padding: 15px 0 15px 20px;
        .qbPanelHeaderIcon {
            top: 4px;
        }
    }
    &.closed {
        .qbPanelHeader {
            // if the section doesnt have a header, when its collapsed the height should be same as others
            min-height: 54px;
        }
    }
    .fieldRow {

        padding: 5px 0;

        td {
            vertical-align:top;
            padding-bottom: 25px;
        }
        tr:last-child td {
            padding-bottom:0;
        }

        .formElement {
            word-wrap: break-word;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-right:15px;
        }

        /* separate field label td left of field */
        .fieldLabel {
            text-align:right;
            display: block;
            color: $fieldLabel-color;
            max-width: 10em;
            span {
                display: inline-block;
                vertical-align:top;
            }
            .requiredFlag-layout {
                padding-right: 2px;
            }
        }

        /* field label in field td */
        .field .fieldLabel {
            max-width: 20em;
            text-align:left;
            margin-bottom: $edit-field-padding;
        }

        .field {
            margin-right: 40px;

            .dateCell {
                white-space:nowrap;
            }
        }

        td:last-child .field {
            margin-right: 0;
        }
    }
}

.editForm {
    .fieldLabel {
        margin-top: $edit-field-padding;
    }
    .field .fieldLabel {
        margin-top: 0;
    }
    .formElement.field .viewElement {
        padding: $edit-field-padding;
    }
    .fieldValueEditor {
        width: 280px;
        &.fieldInputWidth {
            width: inherit;
        }
        .checkbox {
            margin-top: $edit-field-padding;
        }
    }
    [type="text"].input, textarea.cellEdit {
        padding: $edit-field-padding;
    }
    [type="text"].input {
        width: 100%;
    }
    /* don't bleed through dropdowns */
    .input-group .form-control {
        z-index: inherit;
    }
}
/* For mobile phones: */
@include small-breakpoint {
    .formSection {
        display: block;

        .formTable {
            margin-left: 0px;
        }

        .fieldRow {
            td {
                padding-bottom: 20px;
            }
            .field {
                max-width: 100%;
                .fieldLabel {
                    font-size: $font-size-small;
                    margin-bottom: 0px;
                }
                .fieldValue {
                    font-size: $font-size-small;
                }
            }
        }
        .fieldValueEditor, textarea.cellEdit{
            width: 100%;
        }
    }
}
