@import '../../assets/css/qbVariables';

.formContainer {
    padding: 10px;
}

.formSection {
    display: block;

    .fieldRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 5px 0;

        .formElement {
            margin: 0 35px 20px 0;
            word-wrap: break-word;
            max-width: 100%;
            .fieldLabel {
                display: block;
                color: $fieldLabel-color;
                padding-bottom: 2px;
            }
            .fieldValue {
                display: block;
                min-width: 0;
            }
        }
    }
}

/* For mobile phones: */
@include small-breakpoint {
    .qbPanelBody {
        .field {
            max-width: 100%;
            .fieldLabel {
                font-size: $font-size-small;
            }
            .fieldValue {
                font-size: $font-size-small;
            }
        }
    }
}
