.formContainer{
  padding: 2%;
}
.fieldRow{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.field {
  padding-right: 25px;
  max-width: 25%;
  .fieldLabel{
    display: block;
    color:#6e8ba8;
  }
  .fieldValue {
    display:block;
    min-width: 0;
  }
}

@media (max-width: 700px) {
  /* For mobile phones: */
  .formContainer{
    font-size: large;
  }
  .field {
    padding-right: 25px;
    padding-bottom: 25px;
    max-width: 100%;
    .fieldLabel{
      display: block;
      color:#6e8ba8;
    }
    .fieldValue {
      display:block;
      min-width: 0;
    }
  }
}