//need to import colors and update accordingly where I changed css code.
@import '../../assets/css/qbVariables';

$activeTab-color: $color9;
$disabledTab-color: $nav-border;
$chevronFontSize: 16px;

.rc-tabs {
  outline: none;
  box-sizing: border-box;
  position: relative;
}
.rc-tabs-ink-bar {
  position: absolute;
  box-sizing: border-box;
  margin-top: -3px;
  background-color: $tabsUnderLine;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.rc-tabs-nav-container {
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.rc-tabs-tab-prev,
.rc-tabs-tab-next {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
  line-height: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}
.rc-tabs-tab-prev-icon,
.rc-tabs-tab-next-icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}
.rc-tabs-tab-prev-icon:before,
.rc-tabs-tab-next-icon:before {
  display: block;
}
.rc-tabs-tab-btn-disabled {
  cursor: default;
  color: $disabledTab-color;
}
.rc-tabs-nav-wrap {
  overflow: hidden;
}
.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  float: left;
  list-style: none;
  display: inline-block;
}
.rc-tabs-nav:before,
.rc-tabs-nav:after {
  display: table;
  content: " ";
}
.rc-tabs-nav:after {
  clear: both;
}
.rc-tabs-nav div.rc-tabs-tab-active > .rc-tabs-tab-inner,
.rc-tabs-nav div.rc-tabs-tab-active > .rc-tabs-tab-inner:hover {
  color: #404040;
  cursor: default;
}
.rc-tabs-nav div.rc-tabs-tab-disabled {
  cursor: default;
  color: $disabledTab-color;
}
.rc-tabs-nav div.rc-tabs-tab-disabled > .rc-tabs-tab-inner {
  cursor: default;
}
.rc-tabs-nav div.rc-tabs-tab-disabled > .rc-tabs-tab-inner:hover {
  color: $disabledTab-color;
}
.rc-tabs-nav .rc-tabs-tab {
  box-sizing: border-box;
  position: relative;
  display: block;
}
.rc-tabs-nav .rc-tabs-tab > .rc-tabs-tab-inner {
  transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 8px 20px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.rc-tabs-nav .rc-tabs-tab > .rc-tabs-tab-inner:hover {
  color: #404040;
}
.rc-tabs-tabpane-hidden {
  display: none;
}
.rc-tabs-content {
  position: relative;
  overflow: hidden;
}
.rc-tabs {
  /*slide*/
}
.rc-tabs-slide-horizontal-backward-enter {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.rc-tabs-slide-horizontal-backward-enter.rc-tabs-slide-horizontal-backward-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-horizontal-backward-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.rc-tabs-slide-horizontal-backward-leave.rc-tabs-slide-horizontal-backward-leave-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-horizontal-forward-enter {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.rc-tabs-slide-horizontal-forward-enter.rc-tabs-slide-horizontal-forward-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-horizontal-forward-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.rc-tabs-slide-horizontal-forward-leave.rc-tabs-slide-horizontal-forward-leave-active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-vertical-backward-enter {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.rc-tabs-slide-vertical-backward-enter.rc-tabs-slide-vertical-backward-enter-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-vertical-backward-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.rc-tabs-slide-vertical-backward-leave.rc-tabs-slide-vertical-backward-leave-active {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-vertical-forward-enter {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.rc-tabs-slide-vertical-forward-enter.rc-tabs-slide-vertical-forward-enter-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-slide-vertical-forward-leave {
  position: absolute;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.rc-tabs-slide-vertical-forward-leave.rc-tabs-slide-vertical-forward-leave-active {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
/*
 * we don't want a border on the bottom, commenting this out currently.
*/
.rc-tabs-top {
  //border-bottom: 2px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-tabs-bar {
  border-bottom: 1px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.rc-tabs-top .rc-tabs-nav-scroll {
  width: 99999px;
}
.rc-tabs-top .rc-tabs-nav-wrap {
  width: 100%;
}
.rc-tabs-top .rc-tabs-content {
  width: 100%;
}
.rc-tabs-top .rc-tabs-nav {
  transition: left 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-top .rc-tabs-tab-next {
  right: 2px;
}
/*
 * Updated to use Harmony Icons
*/
.rc-tabs-top .rc-tabs-tab-next-icon:before {
  font-family: "QuickBase-Sturdy";
  content: "\E902";
  font-size: $chevronFontSize;
  color: $icon-color;
}
.rc-tabs-top .rc-tabs-tab-prev {
  left: 0;
}
/*
 * Updated to use Harmony Icons
*/
.rc-tabs-top .rc-tabs-tab-prev-icon:before {
  font-family: "QuickBase-Sturdy";
  content: "\E8DD";
  font-size: $chevronFontSize;
  color: $icon-color;
}
.rc-tabs-top .rc-tabs-tab-prev,
.rc-tabs-top .rc-tabs-tab-next {
  margin-right: -2px;
  width: 32px;
  height: 100%;
  top: 0;
  text-align: center;
}
.rc-tabs-top .rc-tabs-ink-bar {
  height: 2px;
  bottom: 0;
  left: 0;
}
.rc-tabs-top .rc-tabs-ink-bar-transition-forward {
  transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
}
.rc-tabs-top .rc-tabs-ink-bar-transition-backward {
  transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-top .rc-tabs-nav .rc-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 30px;
  color: $activeTab-color;
}
