.layout-stage {
    border-bottom: 1px solid #e3eaf3;
    position: relative;
    margin-bottom:30px;

    .toggleStage {

        cursor: pointer;
        position: absolute;
        bottom: -24px;
        right: 4px;
        height: 24px;
        border: 1px solid #e3eaf3;
        border-radius: 0 0 2px 2px;
        background-color: #f3f5f8;
        outline: none;
    }

    .well {
        background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
        border:0;
        margin:0;
        padding: 10px 0;
    }
}



