@import '../../assets/css/qbVariables';

.layout-stage {
    border-bottom: 1px solid $header-bg;
    position: relative;
    margin-bottom:30px;
    background-color: $color2;
    .toggleStage {

        cursor: pointer;
        position: absolute;
        bottom: -24px;
        right: 4px;
        height: 24px;
        border: 1px solid $header-bg;
        border-radius: 0 0 2px 2px;
        background-color: $color17;
        outline: none;
    }

    .well {
        background-color: $color2;
        border:0 none transparent;
        margin:0;
        padding: 10px 0;
        box-shadow: none;
    }
}



