.layout-stage {
    border-bottom: 1px solid #e3eaf3;
    background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
    box-sizing: border-box;
    position: relative;
    background-color: #f3f5f8;
    padding: 15px 15px 15px;
    margin-bottom: 5px;
    transition: padding 0.5s ease 0s;

    margin-top:75px;
}
/* line 298, ../_layout.scss */
.layout-stage .layout-stage-content {
    transition: opacity .10s linear .20s, max-height .05s linear .20s;
}
/* line 302, ../_layout.scss */
.layout-stage .tab {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: -24px;
    right: 0px;
    margin-right: 25px;
    height: 24px;
    width: 27px;
    border: 1px solid #e3eaf3;
    border-radius: 0px 0px 2px 2px;
    background-position: -80px -20px;
    background-size: 144px auto;
    background-color: #f3f5f8;
    outline: medium none;
}
/* line 317, ../_layout.scss */
.layout-stage .tab.arrow {
    background-repeat: no-repeat;
    background-image: url('../../assets/images/arrow-sprite.png');
}
/* line 322, ../_layout.scss */
.layout-stage.stage-open {
    min-height: 245px !important;
}
/* line 326, ../_layout.scss */
.layout-stage.stage-close {
    height: 80px !important;
    min-height: 80px !important;
}
/* line 329, ../_layout.scss */
.layout-stage.stage-close .tab {
    background-position: -121px -20px;
}

/* line 334, ../_layout.scss */
.layout-stage .stage-closed {
    transition: height .50s linear .10s;
}
/* line 337, ../_layout.scss */
.layout-stage .stage-closed .stage-showHide-content {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: visibility 0s .20s, opacity .20s linear;
}





