@import '../../assets/css/qbVariables';

$breadCrumbsSeparatorColor: #c7c7c7;

.stageHeader {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height:70px;
    align-items:center;
    .stageLeft {
        flex:1 1 auto;
        padding-left:10px;
        white-space: nowrap;
        overflow:hidden;
        .stageHeadline {

        }
        .breadCrumbs {
            line-height:40px;
            display:flex;
            align-items:center;
            > .qbIcon {
                margin-right:6px;
            }
            > * {
                flex: 0 0 auto;

            }
            > *:last-child {
                flex: 0 1 auto;
                overflow:hidden;
                text-overflow:ellipsis;
            }
            .breadCrumbsSeparator {
                color: $breadCrumbsSeparatorColor;
            }
        }
        .qbIcon {
            font-size: 24px;
            color:$stage-headline-icon-color
        }
    }

    .stageRight {
        flex:0 0 auto;
    }
}
.layout-stage {
    border-bottom: 1px solid $header-bg;
    position: relative;
    margin-bottom:30px;
    background-color: $color2;

    .toggleStage {

        cursor: pointer;
        position: absolute;
        bottom: -24px;
        right: 4px;
        height: 24px;
        border: 1px solid $header-bg;
        border-radius: 0 0 2px 2px;
        background-color: $color2;
        z-index: $zindex-dropdown;
        color: $icon-color;
    }

    .well {
        background-color: $color2;
        border:0 none transparent;
        margin:0;
        padding: 0 0 10px 0;
        box-shadow: none;
    }
}



