@import '../../assets/css/qbVariables';

$breadCrumbsSeparatorColor: #c7c7c7;

.stageHeader {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    min-height:100px;


    .navLinks {
        display:flex;
        align-items:center;
        margin-bottom:10px;
        .qbIcon {
            font-size:22px;
            margin-right:10px;
        }

    }
    .stageLeft {
        flex:1 1 auto;
        padding-left:15px;
        padding-top:20px;
        white-space: nowrap;
        overflow:hidden;
        color: $stage-headline-icon-color;
        .stageHeadline {
            display:flex;
            align-items:center;
            font-size: 12px;
            color: $stage-headline-color;

            .iconActions {
                margin-right:0px;
                font-size:20px;
            }
            .iconActionButton {
                height: 24px;
                width: 24px;
            }
            .qbIcon {
                font-size: 22px;
                color:$stage-headline-color;
            }

            h3 {
                height:26px;
                margin:0;
                text-overflow:ellipsis;
                overflow:hidden;
            }
        }
        .breadCrumbs {
            line-height:40px;
            display:flex;
            align-items:center;
            overflow:hidden;
            > .qbIcon {
                margin-right:6px;
            }
            > * {
                flex: 0 0 auto;
            }
            > *:last-child {
                flex: 0 1 auto;
                overflow:hidden;
                text-overflow:ellipsis;
            }
            .breadCrumbsSeparator {
                color: $breadCrumbsSeparatorColor;
            }
        }

        .iconActionButton:not([disabled]):hover {
            .qbIcon {
                color: $nav-hover-fg;
            }
        }
    }

    .stageRight {
        padding-top:20px;
        flex:0 0 auto;
        .iconActionButton {
            color:$page-actions-icon-color
        }
    }
}
.layout-stage {
    border-bottom: 1px solid $header-bg;
    position: relative;
    margin-bottom:30px;
    background-color: $color2;

    .toggleStage {

        cursor: pointer;
        position: absolute;
        bottom: -24px;
        right: 4px;
        height: 24px;
        border: 1px solid $header-bg;
        border-top:0;
        border-radius: 0 0 2px 2px;
        background-color: $color2;
        color: $icon-color;
    }

    .well {
        background-color: $color2;
        border:0 none transparent;
        margin:0;
        padding: 0 0 10px 0;
        box-shadow: none;
    }
}



