.layout-stage {
    border-bottom: 1px solid #e3eaf3;
    position: relative;
    margin-bottom:35px;

    .toggleStage {

        cursor: pointer;
        position: absolute;
        bottom: -24px;
        right: 0px;
        margin-right: 25px;
        height: 24px;
        width: 27px;
        border: 1px solid #e3eaf3;
        border-radius: 0px 0px 2px 2px;
        background-position: -80px -20px;
        background-size: 144px auto;
        background-color: #f3f5f8;
        outline: medium none;
    }

    .well {
        //background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
        background-color: #f3f5f8;
        border:0;
        margin:0;
    }
}



