@import "../../../assets/css/_qbVariables";

.dragHandle {
    cursor: -webkit-grab;
    position: relative;
    margin-left: $spacing-x-tiny;
    margin-top: 12px;

    .dot {
        border-radius: 100%;
        background-color: $color-black-600;
        height: 2px;
        width: 2px;
        position: absolute;
    }

    @mixin getDotPosition($i) {
        top: $i * 3px;
    }

    @for $i from 0 through 3 {
        .dot#{$i} {
            @include getDotPosition($i);
        }

    }

    @for $i from 4 through 7 {
        .dot#{$i} {
            @include getDotPosition($i - 4);
            left: 3px;
        }
    }
}
