.mobileAddFooter {
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;

  //transform: bottom 1s;
  transition: bottom .5s ease-in;

  .glyphicon {
    font-size:32px;
    color:green;
    transform: rotate(0deg);
    transition: all .5s linear;
  }
}

.mobileNavOpen .mobileAddFooter {
  bottom: -50px;

  .glyphicon {
    transition: all .5s linear;
    transform: rotate(45deg);
  }

}