@import '../../assets/css/qbVariables';

.popupFooter {
    position:absolute;
    bottom:0;
    right: 30px;
    width:330px;
    background-color: $color-blue-300;

    .popupFooterTitle {
        display:flex;
        align-items:center;
        cursor: pointer;
        padding: 0 15px 0 15px;
        height: 40px;
        .popupFooterTitleLabel {
            font-weight: bold;
            flex:1 1 auto;
        }
        .popupFooterToggle {
            color: initial;
            flex:0 0 auto;
        }
    }
    .popupFooterMain {
        background-color: inherit;
        border:0;
        margin-bottom:0;
        label {
            font-weight:normal;
        }
        .v2v3radioTitle {
            font-weight: bold;
            padding-bottom:10px;
        }
        .popupFooterMainTip {
            padding-top:10px;
            font-weight: lighter;
            font-size: 12px;
        }
    }

    &.closed .popupFooterToggle {
        transition: transform .35s ease-in;
        transform: rotate(0deg);
    }

    &.open .popupFooterToggle {
        transition: transform .35s ease-in;
        transform: rotate(-180deg);
    }
}

@include small-breakpoint {
    .popupFooter {
        display: none;
    }
}
