@import '../../assets/css/qbVariables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.sortAndGroupContainer {
  margin-left: 10px;

  //the generated wrapper on sortAndGroupDialog
  > div:not(.sortAndGroupButton)  {
    position: relative;
  }

  .popover.bottom {
    margin-left: -12px;
    margin-top: -39px;
    > .arrow {
      display: none;
    }
  }

  .sortAndGroupButton .sortButtonSpan:hover {
    color: $icon-color-hover;
  }
}

.sortAndGroupDialog {
  height: 400px;
  width: 340px;
  background-color: $color2;
  z-index: $zindex-popover;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);
  -moz-box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);
  box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);

  .sortButtonSpan.btn.btn-default {
    margin-top: 0;
    margin-bottom: 0;
    color: $icon-color-hover;
  }

  .popover-content {
      padding: 10px;
  }

}


