@import '../../assets/css/qbVariables';

$trowser-fg: #000;
$trowser-icons-color: #fff;
$trowser-header-bg:#486c8f;
$trowser-footer-bg: #193048;
$action-separator-color: #486c8f;

.trowser  {
    position:absolute;
    z-index:9999;
    left:0;right:0;
    height:100%;
    color: $trowser-fg;
    max-height:0%;
    overflow:hidden;
    -webkit-transition: max-height ease 250ms;
    transition: max-height ease 250ms;
    padding:0;
    visibility:hidden;

    &.visible {
        max-height:100%;
        visibility:visible;
    }

    .rightIcons {
        color: $trowser-icons-color;
    }

    .trowserHeader {
        flex:0 0 auto;
        flex-basis:40px;
        color: #fff;
        background-color: $trowser-header-bg;
        display:flex;
        align-items:center;
        .qbIcon {
            font-size:15px;
            vertical-align: baseline;
            margin-left: 10px;
            margin-right: 10px;
        }
        .breadcrumbs {
            flex:1 1 auto;
            overflow:hidden;
            white-space:nowrap;
            h4 {
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
        .rightIcons {
            flex: 0 0 auto;
            button {
                height:40px;
                font-size: 18px;
                color: #fff;
                background-color: $trowser-header-bg;
                border-radius: 0;
                border: 0;
            }
            button:hover {
                background-color: $nav-hover-bg;
                color: $nav-hover-fg;
            }
        }
    }
    .trowserChildren {
        display:flex;
        flex-direction:column;
        flex: 1 1 auto;
    }
    .trowserFooter {
        color: #fff;
        flex:0 0 auto;
        flex-basis:54px;
        display:flex;
        flex-direction: row;
        background-color: $trowser-footer-bg;
        .leftActions {
            flex:0 0 auto;
        }
        .centerActions {
            display:flex;
            flex:1 1 auto;
            justify-content:center;
            align-items:center;
            a {
                display: flex;
                height: 23px;
                line-height: 23px;
                padding: 0 30px;
                color: #fff;
                border-left: 1px solid $action-separator-color;
                text-decoration:none;
                align-items: center;
                .qbIcon {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
            a:last-child {
                border-right:1px solid $action-separator-color;
            }
        }
        .rightIcons {
            flex:0 0 auto;
            align-self:center;
            button {
                margin: 4px 10px 4px 4px;
            }
        }
    }
    .trowserContent {
        display:flex;
        flex-direction: column;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        background-color:#F2F9FE;
        opacity:1;
        max-width:1440px;

    }
    .trowserBackground {
        position:absolute;
        top:0;
        width:100%;
        bottom:0;
        opacity:.4;
        background: black;
    }
}

.trowser.top {
    top:0;
}

.trowser.bottom {
    bottom:0;
}

/* 2 rows on small breakpoint */
@include small-breakpoint {
    .trowser .trowserFooter {
        flex-direction:column;
        flex-basis:80px;

        .centerActions {
            a {
                flex: 1;
                align-items: center;
                justify-content: center;
            }
            a:first-child {
                border-left:0;
            }
            a:last-child {
                border-right:0;
            }
        }
        .rightIcons {
            text-align:center;
            width:100%;
            button {
                width: 90%;
                margin-bottom:10px;
            }
        }
    }
}
