.trowser  {
    position:absolute;
    z-index:9999;
    left:0;right:0;
    height:100%;
    color: #000;
    max-height:0%;
    overflow:hidden;
    -webkit-transition: max-height ease 250ms;
    transition: max-height ease 250ms;
    padding:0;

    .rightIcons {
        color: #fff;
        float:right;
    }

    .trowserHeader {
        flex:0 0 auto;
        flex-basis:40px;
        background-color: #306d90;
        .rightIcons button {
            font-size: 18px;
            color: #fff;
            background-color: #306d90;
            border-radius: 0;
            border: 0;
        }
    }
    .trowserChildren {
        flex: 1 1 auto;
    }
    .trowserFooter {
        flex:0 0 auto;
        background-color: #002c46;
        flex-basis:40px;
        button {
            margin:4px;
        }
    }
    .trowserContent {
        display:flex;
        flex-direction: column;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:5px;
        margin:auto;
        background:#fdfdfd;
        opacity:1;
        max-width:1440px;

    }
    .trowserBackground {
        position:absolute;
        top:0;
        width:100%;
        bottom:0;
        opacity:.4;
        background: black;
    }
}

.trowser.top {
    top:0;
    &.visible {
        max-height:100%;
        -webkit-transition: max-height ease 250ms;
        transition: max-height ease 250ms;
    }
}
.trowser.bottom {
    bottom:0;
    &.visible {
        max-height:100%;
    }
}
