.trowser  {
    position:absolute;
    z-index:9999;
    left:0;right:0;
    height:100%;
    color: #000;
    max-height:0%;
    overflow:hidden;
    -webkit-transition: max-height ease 250ms;
    transition: max-height ease 250ms;
    padding:0;

    .rightIcons {
        color: #fff;
        float:right;
    }

    .trowserHeader {
        flex:0 0 auto;
        flex-basis:40px;
        color: #fff;
        background-color: #306d90;
        display:flex;
        align-items:center;
        .breadcrumbs {
            flex:1 1 auto;
            margin-left:16px;
        }
        .rightIcons {
            flex: 0 0 auto;
            button {
                font-size: 18px;
                color: #fff;
                background-color: #306d90;
                border-radius: 0;
                border: 0;
            }
            button:hover {
                color: #306d90;
                background-color: #fff;
            }
        }
    }
    .trowserChildren {
        flex: 1 1 auto;
        overflow-y:auto;
    }
    .trowserFooter {
        color: #fff;
        flex:0 0 auto;
        flex-basis:40px;
        display:flex;
        flex-layout: flex-row;
        background-color: #002c46;
        .leftActions {
            flex:0 0 auto;
        }
        .centerActions {

            display:flex;
            flex:1 1 auto;
            justify-content:center;
        }
        .rightIcons {
            flex:0 0 auto;
            button {
                margin: 4px;
            }
        }
    }
    .trowserContent {
        display:flex;
        flex-direction: column;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:5px;
        margin:auto;
        background:#fdfdfd;
        opacity:1;
        max-width:1440px;

    }
    .trowserBackground {
        position:absolute;
        top:0;
        width:100%;
        bottom:0;
        opacity:.4;
        background: black;
    }
}

.trowser.top {
    top:0;
    &.visible {
        max-height:100%;
        -webkit-transition: max-height ease 250ms;
        transition: max-height ease 250ms;
    }
}
.trowser.bottom {
    bottom:0;
    &.visible {
        max-height:100%;
    }
}
