@import '../../assets/css/qbVariables';

#alertIconTooltip {
    z-index: 99999;
}

.trowser {
    position: absolute;
    z-index: $zindex-trowser;
    left: 0;
    right: 0;
    height: 100%;
    color: $trowser-color;
    max-height: 100%;
    overflow: hidden;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
    padding: 0;

    &.visible {
        transform: translateY(0);
    }

    .rightIcons {
        color: $trowser-icons-color;
    }

    .trowserHeader {
        flex: 0 0 auto;
        flex-basis: 40px;
        color: $color-black-100;
        background-color: $trowser-header-background-color;
        display: flex;
        align-items: center;
        padding: 0 10px 0 20px;

        .qbIcon {
            font-size: 22px;
            vertical-align: middle;
        }

        .breadcrumbs {
            flex: 1 1 auto;
            overflow: hidden;
            white-space: nowrap;

            .breadcrumbsContent {
                overflow: hidden;
                text-overflow: ellipsis;

                * {
                    vertical-align: middle;
                }

                .primaryIcon {
                    margin-right: 10px;
                }
            }
        }

        button {
            height: 40px;
            font-size: 18px;
            color: $color-black-100;
            background-color: $trowser-header-background-color;
            border-radius: 0;
            border: 0;
        }

        .rightIcons {
            flex: 0 0 auto;
        }
    }

    .trowserChildren {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
    }

    .trowserLoadedContent {
        position: relative;
    }

    .trowserContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $badcolor22;
        opacity: 1;
        max-width: 1440px;
    }

    .trowserBackground {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        opacity: 0.4;
        background: $color-black-800;
    }
}

.trowser.top {
    top: 0;
}

.trowser.bottom {
    bottom: 0;
}

/* 2 rows on small breakpoint */

@include small-breakpoint {
    .trowser {
        .trowserHeader {
            padding: 0 10px;

            .rightIcons .btn {
                margin-top: -3px;
            }
        }

        .trowserFooter {
            flex-direction: column;
            flex: 0 0 auto;

            .centerActions {
                a {
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }

                a:first-child {
                    border-left: 0;
                }

                a:last-child {
                    border-right: 0;
                }
            }

            .rightIcons {
                text-align: center;
                align-self: flex-end;

                button {
                    width: 100%;
                }
            }

            .saveAlertButton {
                text-align: end;
            }
        }
    }
}
