<div class="loadingScreen">
    <div class="leftNav">
        <div class="logoArea"></div>
        <div class="appsListArea"></div>
    </div>

    <div class="mainBody">
        <div class="topNav"></div>

        <div class="header">
        </div>

        <div class="mainContent">
            <div class="table">
                <div class="tableHeader"></div>
                <div class="tableBody">
                    <div class="loading-circle">
                        <div class="loading-circle1 loading-circle-child"></div>
                        <div class="loading-circle2 loading-circle-child"></div>
                        <div class="loading-circle3 loading-circle-child"></div>
                        <div class="loading-circle4 loading-circle-child"></div>
                        <div class="loading-circle5 loading-circle-child"></div>
                        <div class="loading-circle6 loading-circle-child"></div>
                        <div class="loading-circle7 loading-circle-child"></div>
                        <div class="loading-circle8 loading-circle-child"></div>
                        <div class="loading-circle9 loading-circle-child"></div>
                        <div class="loading-circle10 loading-circle-child"></div>
                        <div class="loading-circle11 loading-circle-child"></div>
                        <div class="loading-circle12 loading-circle-child"></div>
                    </div>
                </div>
            </div>

            <div class="cards">
                <div class="loading-circle">
                    <div class="loading-circle1 loading-circle-child"></div>
                    <div class="loading-circle2 loading-circle-child"></div>
                    <div class="loading-circle3 loading-circle-child"></div>
                    <div class="loading-circle4 loading-circle-child"></div>
                    <div class="loading-circle5 loading-circle-child"></div>
                    <div class="loading-circle6 loading-circle-child"></div>
                    <div class="loading-circle7 loading-circle-child"></div>
                    <div class="loading-circle8 loading-circle-child"></div>
                    <div class="loading-circle9 loading-circle-child"></div>
                    <div class="loading-circle10 loading-circle-child"></div>
                    <div class="loading-circle11 loading-circle-child"></div>
                    <div class="loading-circle12 loading-circle-child"></div>
                </div>
            </div>
        </div>
    </div>
</div>