<div class="loadingScreen">
    <div class="leftNav">
        <div class="logoArea"></div>
        <div class="appsListArea"></div>
    </div>

    <div class="mainBody">
        <div class="topNav"></div>

        <div class="header">
        </div>

        <div class="mainContent">
            <div class="table">
                <div class="tableHeader"></div>
                <div class="tableBody">
                    <div class="qbLoader">
                        <div class="spinner" role="progressbar" style="position: absolute; width: 0px; z-index: 2000000000; left: 50%; top: 50%;">
                            <div class="qbLoaderCircle qbLoaderCircle-1">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-1"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-2">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-2"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-3">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-3"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-4">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-4"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-5">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-5"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-6">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-6"></div>
                            </div>
                            <div class="qbLoaderCircle qbLoaderCircle-7">
                                <div class="qbLoaderCircleInner qbLoaderCircleInner-7"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="cards">
            <div class="qbLoader">
                <div class="spinner" role="progressbar" style="position: absolute; width: 0px; z-index: 2000000000; left: 50%; top: 50%;">
                    <div class="qbLoaderCircle qbLoaderCircle-1">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-1"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-2">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-2"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-3">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-3"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-4">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-4"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-5">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-5"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-6">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-6"></div>
                    </div>
                    <div class="qbLoaderCircle qbLoaderCircle-7">
                        <div class="qbLoaderCircleInner qbLoaderCircleInner-7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
