@import '../../../../../reuse/client/src/assets/css/qbVariables';

.standardGridToolBar {
    display: flex;
    justify-content: space-between;
    color: $search-input-color;
    min-height: 52px;

    .standardGridSearch {
        flex-shrink: 0;
        min-width: 250px;
        max-width: 300px;
    }

    .standardGridNavigation {
        display: flex;
        align-items: center;
    }
}
