@import '../../assets/css/qbVariables';

.navShell .main .secondaryNav {
    order:0;
    flex: 0 0 auto;
    flex-basis: $top-nav-height;
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
    .btn  {
        background-color: #fff;
    }
}
.secondaryNav .navItem.topTitle {
    display: inline;
}

/* hide text not icons */
.secondaryNav .globalActions .navLabel {
    display: none;
}