@import '../../assets/css/qbVariables';

$top-nav-hover-bg: #0097CD;

.searchPopover {

  .buttonContainer {
    display:flex;
    justify-content:center;
  }
}

.topNav .navGroup .harmonyButtons .btn {
  background: $header-bg;
  border-color: #fff;
  border-bottom:0;
}

.topNav .dropdown {
  outline:none;
}
.topNav .dropdown-menu {
  right:0;
  left:auto;
}
.topNav .dropdown {

  a.dropdownToggle {
    display:inline-block;
    cursor:pointer;
    padding: 0 8px;
    color: $icon-color;
  }
}
.topNav .dropdown:hover {
  a.dropdownToggle {
    color:$icon-color-hover;
  }
}

.topNav .globalActions {
  display:inline-block;

  .link {
    cursor:pointer;
    a {
      display:inline-block;
      border-right: $global-actions-border;
      padding: 0 8px;
      color: #333;
    }
  }

  .link:hover {

    a {

    }
  }
  .globalActionsList {
    margin:0;
    padding:0;
    vertical-align:middle;
  }
  .globalAction {
    //height:$top-nav-height;
    border-right: 1px solid #fff;
  }
  .globalAction:first-child {
    border-left: 1px solid #fff;
  }
  .globalAction:hover {
    //height:$top-nav-height;
    .hi {
      color: $icon-color-hover;
    }
  }
  li {
    display:inline-block;
  }
}

/* hide text not icons */

.medium-breakpoint .topNav .globalActions span:not(.glyphicon),
.small-breakpoint .topNav .globalActions span:not(.glyphicon)
{
  display:none;
}
