@import '../../assets/css/qbVariables';

$global-action-fg: #333;
$top-nav-color: #193048;


.searchPopover {
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
}

.topNav {
    .qbIcon {
        font-size: 22px;
    }
}

.topNav  .btn {
    background: $header-bg;
    border: 0;
}


.topNav .navGroup .btn-group .btn:hover {
    background: $nav-hover-bg;
    span {
        color: $nav-hover-fg;
    }
}

.topNav .dropdown-menu {
    right: 0;
    left: auto;
}

.topNav .dropdown {

    a.dropdownToggle {
        display: inline-block;
        cursor: pointer;
        color: $topnav-icon-color;
    }
    a.dropdownToggle:hover {
        background-color: $nav-hover-bg;
        span {
            color: $nav-hover-fg;
        }
    }
}

.topNav .globalActions {
    display: inline-block;

    .link {
        cursor: pointer;
        > a {
            display: inline-block;
            color: $topnav-icon-color;
            padding: 0 8px;

            .qbIcon {
                vertical-align: middle;
            }
        }
    }

    .globalActionsList {
        margin: 0;
        padding: 0;
        vertical-align: middle;
        line-height: 40px;
    }
    .globalAction {
        border: 0;

        .qbIcon + span {
            margin-left: 6px;
        }
    }

    .globalAction:hover {
        background: $nav-hover-bg;
        > a {
            color: $nav-hover-fg;
        }
    }

    li.globalAction {
        display: inline-block;
    }
}

.topNav .navItem {

    &.topTitle {
        display: none;
    }
}

.topNav .topTitle {
    display: none;
}

@include small-breakpoint {
    .navShell .main .topNav.hideSmall {
        display: none;
    }
    .topNav .globalActions {
        display: none; /* shown on left nav */
    }
    .topNav .topTitle {
        display: inline-block;
        .qbIcon {
            vertical-align: middle;
            color: $top-nav-title-icon-color;
        }
        .qbIcon+span {
            margin-left: 5px;
        }
    }
    .topNav .top .navGroup.left {
        display: flex;
        flex-direction: row;
        .navItem {
            flex: 0 0 auto;
        }
        .topTitle {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
        }
    }
}

