@import '../../assets/css/_qbColorVariables';
@import '../../assets/css/_qbVariables';

.checkbox {
    /* Remove default checkbox */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
      opacity: 0;
    }

    [type="checkbox"] {
      // Focused styles
      &.tabbed:focus + label:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.1);
      }

      // General
      + label:after {
        border-radius: 3px;
        height: $checkbox-size;
        width: $checkbox-size;

        @media(max-width: $small-breakpoint-width) {
            height: $checkbox-size-mobile;
            width: $checkbox-size-mobile;
        }
      }

      + label:before,
      + label:after {
        content: '';
        left: 0;
        position: absolute;
        /* .1s delay is for check animation */
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
      }

      // Unchecked style
      &:not(:checked) + label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;

        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
      }

      &:not(:checked) + label:after {
        background-color: $checkbox-background-unchecked-color;
        border: 2px solid $checkbox-border-color;
        top: 0px;
        z-index: 0;
      }

      // Checked style
      &:checked {
        + label:before {
          top: 2px;
          left: 1px;
          width: 6px;
          height: 11px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid $checkbox-checkmark-editable-color;
          border-bottom: 2px solid $checkbox-checkmark-editable-color;
          transform: rotateZ(37deg);

          transform-origin: 100% 100%;

          @media(max-width: $small-breakpoint-width) {
              left: 1px;
              top: 3px;
              width: 10px;
              height: 15px;
          }
        }

        + label:after {
          top: 0;
          border: 2px solid $checkbox-background-checked-color;
          background-color: $checkbox-background-checked-color;
          z-index: 0;
        }
      }

      // Focused styles
      &.tabbed:focus + label:after {
        border-radius: 2px;
        border-color: $checkbox-border-color;
        background-color: rgba(0,0,0,.1);
      }

      &.tabbed:checked:focus + label:after {
        border-radius: 2px;
        background-color: $checkbox-background-checked-color;
        border-color: $checkbox-background-checked-color;
      }

      // Disabled style
      &:disabled:not(:checked) + label:before {
        background-color: $checkbox-background-unchecked-color;
        border: 2px solid transparent;
      }

      &:disabled:not(:checked) + label:after {
        border-color: $checkbox-border-color;
        background-color: $checkbox-background-unchecked-color;
        opacity: .4;
      }

      &.invalid + label:after {
        border-color: $error-color;
      }
    }

    &.hasLabel {
        input, .symbol {
            margin-right: 10px;
        }

        .label {
            color: $color-black-700;
            display: block;
            font-size: 14px;
            line-height: normal;
            margin-bottom: 40px;
            margin-left: 0;
            overflow: auto;
            padding-left: 0;
            padding-top: 1px;
            text-align: left;
            white-space: normal;

            @media(max-width: $small-breakpoint-width) {
                font-size: 16px;
                padding-top: 5px;
            }
        }

        input[type="checkbox"] {
            float: left;
            margin-left: 0;
            margin-right: 9px;
            position: relative;
            height: 20px;
            width: 20px;
        }
    }

    &:not(.hasLabel) {
        text-align: center;
    }

    &.renderer {
        margin: 0;

        .symbol {
            color: $checkbox-checkmark-readonly-color;
            font-size: 20px;
        }

        .checkbox-unchecked {
          background-color: transparent;
          border: 2px solid $checkbox-border-color;
          display: inline-block;
          height: $checkbox-size;
          top: 0px;
          width: $checkbox-size;
          z-index: 0;
        }

    }

    .required-symbol {
        color: $checkbox-checkmark-readonly-color;
        font-size: 18px;
        left: 28px;
        position: relative;
        top: -72px;

        &.invalid {
            color: $error-color;
        }
    }
}
