@import '../../assets/css/_qbColorVariables';
@import '../../assets/css/_qbVariables';

$checkbox-disabled-opacity: .4;

@mixin unchecked-checkbox {
    background-color: $checkbox-background-unchecked-color;
    border: 2px solid $checkbox-border-color;
    border-radius: 3px;
    top: 0px;
    z-index: 0;
}

.checkbox {
    /* Remove default checkbox */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
      opacity: 0;
    }

    [type="checkbox"] {
      // Focused styles
      &.tabbed:focus + label:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.1);
      }

      // General
      + label:after {
        border-radius: 3px;
        height: $checkbox-size;
        width: $checkbox-size;

        @media(max-width: $small-breakpoint-width) {
            height: $checkbox-size-mobile;
            width: $checkbox-size-mobile;
        }
      }

      + label:before,
      + label:after {
        content: '';
        left: 0;
        position: absolute;
        /* .1s delay is for check animation */
        transition: border .25s, background-color .25s, font-size .20s .1s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
      }

      // Unchecked style
      &:not(:checked) + label:before {
        opacity: 0;
        font-size: 0;
      }

      &:not(:checked) + label:after {
        @include unchecked-checkbox
      }

      // Checked style
      &:checked {
        + label:before {
          top: 5px;
          left: 4px;
          font-size: 8px;
          content: "\E904";
          font-family: 'QuickBase-Sturdy';
          opacity: 1;
          color: $checkbox-checkmark-editable-color;

          @media(max-width: $small-breakpoint-width) {
              left: 1px;
              top: 3px;
          }
        }

        + label:after {
          top: 0;
          border: 2px solid $checkbox-background-checked-color;
          background-color: $checkbox-background-checked-color;
          z-index: 0;
        }
      }

      // Focused styles
      &.tabbed:focus + label:after {
        border-radius: 2px;
        border-color: $checkbox-border-color;
        background-color: rgba(0,0,0,.1);
      }

      &.tabbed:checked:focus + label:after {
        border-radius: 2px;
        background-color: $checkbox-background-checked-color;
        border-color: $checkbox-background-checked-color;
      }

      // Disabled style
      &:disabled:not(:checked) + label:before {
        background-color: $checkbox-background-unchecked-color;
        border: 2px solid transparent;
      }

      &:disabled:not(:checked) + label:after {
        border-color: $checkbox-border-color;
        background-color: $checkbox-background-unchecked-color;
        opacity: $checkbox-disabled-opacity;
      }

      &.invalid + label:after {
        border-color: $error-color;
      }
    }

    &.hasLabel {
        input, .symbol {
            margin-right: 10px;
        }

        [type="checkbox"]:checked + label:before {
            top: 4px;
        }

        .label {
            color: $color-black-700;
            display: block;
            font-size: 14px;
            line-height: normal;
            margin-left: 0;
            overflow: auto;
            padding-left: 0;
            padding-top: 0;
            text-align: left;
            white-space: normal;

            @media(max-width: $small-breakpoint-width) {
                font-size: 16px;
                padding-top: 5px;
            }
        }

        input[type="checkbox"] {
            float: left;
            margin-left: 0;
            margin-right: 9px;
            position: relative;
            height: 20px;
            width: 20px;
        }
    }

    &.renderer {
        margin: 0;

        .label {
            display: inline;
        }

        .symbol {
            color: $checkbox-checkmark-readonly-color;
            font-size: 14px;
        }

        .checkbox-unchecked {
            @include unchecked-checkbox
            display: inline-block;
            height: $checkbox-size;
            margin-right: 10px;
            margin-top: 2px;
            width: $checkbox-size;
        }

    }

    &.disabled {
        .checkbox-unchecked {
            opacity: $checkbox-disabled-opacity;
        }
    }

    .required-symbol {
        color: $required-asterisk-color;
        font-size: 18px;
        left: 28px;
        position: absolute;
        top: -9px;

        &.invalid {
            color: $error-color;
        }
    }
}
