@import '../../assets/css/_qbColorVariables';

$checkbox-color: $color-cyan-500;
$checkbox-empty-color: $color-black-400;
$checkbox-check-color: $color-black-100;
$input-disabled-color: gray;
$radio-border: orange;
$input-disabled-solid-color: gray;

.checkbox {
    /* Remove default checkbox */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
    //   position: absolute;
    //   left: -9999px;
      opacity: 0;
    }

    // Checkbox Styles
    [type="checkbox"] {

      /* checkbox aspect */
      + label:before,
      &:not(.filled-in) + label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid $checkbox-empty-color;
        border-radius: 1px;
        margin-top: 2px;
        transition: .2s;
      }

      &:not(.filled-in) + label:after {
        border: 0;
        transform: scale(0);
      }

      &:not(:checked):disabled + label:before {
        border: none;
        background-color: $input-disabled-color;
      }

      // Focused styles
      &.tabbed:focus + label:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.1);
      }
    }



    [type="checkbox"]:checked {
      + label:before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: $radio-border;
        border-bottom: $radio-border;
        transform: rotate(40deg);
        backface-visibility: hidden;
        transform-origin: 100% 100%;
      }

      &:disabled + label:before {
        border-right: 2px solid $input-disabled-color;
        border-bottom: 2px solid $input-disabled-color;
      }
    }

    // Filled in Style
    [type="checkbox"].filled-in {
      // General
      + label:after {
        border-radius: 2px;
      }

      + label:before,
      + label:after {
        content: '';
        left: 0;
        position: absolute;
        /* .1s delay is for check animation */
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
      }

      // Unchecked style
      &:not(:checked) + label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;

        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
      }

      &:not(:checked) + label:after {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid $checkbox-empty-color;
        top: 0px;
        z-index: 0;
      }

      // Checked style
      &:checked {
        + label:before {
          top: 0;
          left: 1px;
          width: 8px;
          height: 13px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid $checkbox-check-color;
          border-bottom: 2px solid $checkbox-check-color;
          transform: rotateZ(37deg);

          transform-origin: 100% 100%;
        }

        + label:after {
          top: 0;
          width: 20px;
          height: 20px;
          border: 2px solid $checkbox-color;
          background-color: $checkbox-color;
          z-index: 0;
        }
      }

      // Focused styles
      &.tabbed:focus + label:after {
        border-radius: 2px;
        border-color: $checkbox-empty-color;
        background-color: rgba(0,0,0,.1);
      }

      &.tabbed:checked:focus + label:after {
        border-radius: 2px;
        background-color: $checkbox-color;
        border-color: $checkbox-color;
      }

      // Disabled style
      &:disabled:not(:checked) + label:before {
        background-color: transparent;
        border: 2px solid transparent;
      }

      &:disabled:not(:checked) + label:after {
        border-color: transparent;
        background-color: $input-disabled-solid-color;
      }

      &:disabled:checked + label:before {
        background-color: transparent;
      }

      &:disabled:checked + label:after {
        background-color: $input-disabled-solid-color;
        border-color: $input-disabled-solid-color;
      }
    }

    &.hasLabel {
        input, .symbol {
            margin-right: 10px;
        }

        .label {
            color: $color-black-700;
            display: block;
            font-size: 14px;
            line-height: normal;
            margin-bottom: 40px;
            margin-left: 0;
            overflow: auto;
            padding-left: 0;
            padding-top: 3px;
            text-align: left;
            white-space: normal;
        }

        input[type="checkbox"] {
            float: left;
            margin-left: 0;
            margin-right: 10px;
            position: relative;
            height: 20px;
            width: 20px;
        }
    }

    &:not(.hasLabel) {
        text-align: center;
    }

    &.renderer {
        margin: 0;

        .symbol {
            color: $checkbox-color;
            font-size: 20px;
        }
    }
}
