@import '../../../src/assets/css/qbVariables';

/* CSS hacks to the 3rd part date time picker to meet visual spec */
.bootstrap-datetimepicker-widget.dropdown-menu {
    padding-top: 0;

    /* the button that switches between views */
    .picker-switch {
        color: $datepicker-select-button-fg;
        background-color:$datepicker-bg;
        border-radius:0;
        &:hover {
            background-color:$datepicker-date-hover-bg;
        }
    }

    /* the time picker view */
    .timepicker {
        background-color: $datepicker-bg;
        .glyphicon {
            color: $datepicker-select-button-fg;
        }
    }

    /* the table cells (day, year etc)   */
    button, .month, .day, .year, .minute, .timepicker-minute, .timepicker-hour {
        border:0;
        border-radius:0;
        &:hover {
            background-color: $datepicker-date-hover-bg;
        }
    }
    .btn .glyphicon:hover {
        background: $datepicker-date-hover-bg;
    }
    .btn-primary, .active  {
        background-color: $datepicker-select-active;
        font-weight:bold;
    }

    //  show a circle for today's date
    .today {
        border-radius: 16px;
        background-color: $datepicker-bg-today;
        color: $color-black-700;
        font-weight: normal;
    }

    //  hide the pickers default identification for today
    .today::before {
        content: inherit;
        border: none;
    }
}

/* the little arrow on the top top right of the popup */
.bootstrap-datetimepicker-widget.pull-right:after {
    border-bottom-color: $color-black-400;
}

.datepicker {

    .table-condensed {

        td,th {
            border-radius:0;
            padding: 4px;
        }

        /* the title bar with prev/next/date etc */
        thead {
            font-size:14px;
            background-color: $datepicker-bg;
            tr:first-child {
                th.switch,th.prev,th.next {
                    .glyphicon {
                        font-size: 22px;
                    }
                }
            }
            tr:first-child th:hover {
                background-color:  $datepicker-date-hover-bg;
                color: $datepicker-select-button-fg;
            }

            .glyphicon-chevron-left:before {
                font-family: "QuickBaseIconUISturdy";
                content: "\E90B";
            }

            /* need to flip the right chevron as we're using the left */
            .glyphicon-chevron-right {
                transform: rotate(180deg);
            }
            /* replace their prev/next bootstrap icons with ours */
            .glyphicon-chevron-right:before {
                font-family: "QuickBaseIconUISturdy";
                content: "\E90B";
            }

            tr {
                th.prev:hover {
                    background-color: transparent;
                }
                th.next:hover {
                    background-color: transparent;
                }
            }

        }

        tbody tr {
            background-color: $datepicker-bg;
            line-height:20px;
            th {
                border:0;
                padding:5px;
            }
        }
    }

    /* ugh, the year and month views use < and > characters not icons */

    .datepicker-years, .datepicker-months {

        /* hide the text node with the < and > characters by making them transparent */
        th.next, th.prev, th.next:hover, th.prev:hover {
            color: transparent !important;
        }

        /* insert our icons */
        th.next:after, th.prev:after {
            font-family: "QuickBaseIconUISturdy";
            content: "\E90B";
            font-size: 22px;
            color: #fff;
        }
        th.next:hover:after, th.prev:hover:after {
            color: $datepicker-select-button-fg;
        }
        th.next {
            padding-bottom:0;
        }
        th.prev {
            /* flip the next icon around */
            transform: rotate(180deg);
        }
    }
}

/* hide datepicker if it's been opened but we're not over that cell */
.dateCell.cellEdit:not(:hover) .bootstrap-datetimepicker-widget {
    display:none !important;
}

//  edit styles for a time cell
.timeCell.cellEdit {
    display:inline-block;
    margin-bottom: 3px;
    width: 100%;
    .Select {
        height: 28px;
        border: 0;
    }
    .Select-control {
        border-radius: 2px;
        height: 28px;
        border: 0;
    }
    .Select-input {
        padding-left: 1px;
        height: 28px;
        color: $color25;
    }
    .Select-value {
        line-height: 28px;
    }
    .Select-placeholder {
        line-height: 28px;
        color: $color-black-700;
        padding: 0 1px;
        margin-left: 2px;
        font-style: normal !important;   // override SelectCommon setting
    }
    .Select-option {
        color: $color25;
        padding-top: 1px;
    }
    .Select-arrow-zone {
        background-color: $datepicker-bg;
        padding-right: 0;
        .glyphicon {
            color: $datepicker-select-button-fg;
        }
        .glyphicon-time {
            color: $color-black-700;
            padding-top: 3px;
            padding-left: 5px;
        }
    }
    &.ghost-text {
        .Select-placeholder {
            color: $color-black-500;
            font-style: italic;
            font-weight: bold;
            padding: 1px;
            margin-left: 2px;
        }
    }
}

//  edit mode styles for a date cell
.dateCell.cellEdit {
    display:inline-block;
    margin-bottom: 3px;
    vertical-align: middle;

    //  this positions the calendar
    position: relative;
    &.ghost-text {
        .input-group.date input.form-control {
            color: $color-black-500;
            font-style: italic;
            font-weight: bold;
        }
    }
    .glyphicon-calendar {
        color: $color-black-700;
        padding-top: 1px;
    }
}

.dateCell.cellEdit>* {
    border: 0;

    .input-group.date input.form-control {
        border: 0;
        padding: 3px;
        height: 28px;
        border-radius: 0;
    }
    .input-group.date .input-group-addon {
        background: #fff;
        height: 20px;
        padding: 0;
        border: 0;
        color: $icon-color;
    }
    .bootstrap-datetimepicker-widget {
        top: 34px !important;
    }
}

//  edit mode styles for a date/time field combination
.dateTimeField.cellEdit {
    width: 94px;
    vertical-align: middle;

    //  dateCell styles for date/time combo
    &.dateCell {
        .input-group.date input.form-control {
            font-size: 12px;
        }
    }

    //  timeCell styles for date/time combo
    &.timeCell {
        .Select-option {
            font-size: 12px;
        }
        .Select-placeholder {
            font-size: 12px;
        }
        .Select-input {
            font-size: 12px;
        }
        .Select-value {
            padding-right: 20px !important;
            font-size: 12px;
        }
    }
}

