@import '../../../src/assets/css/qbVariables';

$data-font-size: $font-size-p;

@mixin focus-shadow($color:$input-text-focus-border-color) {
  box-shadow: 0 0 2px 1.5px rgba($color, 0.25);
}

// plain user data
.data {
  color : $data-color;
  font-family: $font-family;
  font-size: $data-font-size;
  -webkit-font-smoothing: antialiased;
}

// inline edit of a cell
.cellEdit {
  border: solid 1px $input-text-normal-border-color;
  box-shadow: none;
  border-radius: 2px;
}

// visual style of input userdata
[type="text"].input {
  background-color: $input-bg-color;
}

// layout of input userdata on a form
.formContainer [type="text"].input {
  margin: 10px 20px 10px 10px;
  padding: 10px;
  width: 280px;
  height: 35px;
}

// layout of input userdata in an inline edit table
.reportTable [type="text"].input {
  margin: 0 0 0 1px;
  padding: 0 0 0 2px;
  width: inherit;
  height:  30px;
}

// visual style of focus input shadow
[type="text"]:focus.input  {
  outline: none;
  border: solid 1px $input-text-focus-border-color;
  @include focus-shadow();
}

// visual style of input error
[type="text"]:focus.input.error,
[type="text"].input.error {
  border: solid 1px $input-text-error-border-color;
  @include focus-shadow($input-text-error-border-color);
}
// visual style of focus input error
[type="text"]:focus.input.error {
  outline: none;
  border: solid 1px $input-text-error-border-color;
  border-left: 5px solid $input-text-error-border-color;
  @include focus-shadow($input-text-error-border-color);
}

// visual style of required field indicator
.requiredFlag {
  color: $field-label-normal-color;
  font-size: 17px;
}

.requiredFlag-layout {
  display: block;
  padding-left: 2px;

}