@import '../../assets/css/qbVariables';

$multi-choice-field-box-height: 32px;

.multiChoiceContainer {
    input[type="radio"], input[type="checkbox"] {
        margin: 4px;
        height: 16px;
        width: 16px;
        vertical-align: middle;
    }
    .Select {
        .Select-control {
            height: $multi-choice-field-box-height;
            border-radius: 2px;
            border: solid 1px $input-text-normal-border-color;
            box-shadow: none;
            outline: none;

            .Select-input {
                height: $multi-choice-field-box-height;
            }
            .Select-placeholder {
                line-height: $multi-choice-field-box-height;
            }
        }
    }
    .Select-menu-outer {
        border: solid 1px $input-text-normal-border-color;
        box-shadow: none;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        z-index: 3;

        .Select-menu {
            .Select-option {
                padding-left: 32px;
                padding-top: 4px;
                padding-bottom: 4px;

                .qbIcon {
                    position: absolute;
                    left: 0;
                    margin-top: 1px;
                    font-size: 16px;
                    padding: 7px;
                }
            }
        }
    }

    .multiChoiceRadioContainer {
      height: auto;
      padding-left: 2px;
      padding-right: 2px;
      max-height: 340px;
      min-width: 100%;
      width: auto;

      .multiChoiceRadioOption {
        display: block;
        font-weight: normal;
      }
    }
}