@import '../../assets/css/qbVariables';

$multi-choice-field-box-height: 32px;

.multiChoiceContainer {
    input[type="radio"], input[type="checkbox"] {
        margin: 4px;
        height: 16px;
        width: 16px;
        vertical-align: middle;
    }

    .Select-control, .select {
        height: $multi-choice-field-box-height;
        border: solid 1px $input-text-normal-border-color;
        box-shadow: none;
        outline: none;
        .Select-input {
            height: $multi-choice-field-box-height;
        }
        .Select-placeholder {
            line-height: $multi-choice-field-box-height;
        }
    }
    .Select-menu-outer {
        border: solid 1px $input-text-normal-border-color;
        box-shadow: none;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        z-index: 3;
        border-top: none;
        margin-top: .2px;

        .Select-menu {
            .Select-option {
                padding-left: 32px;
                padding-top: 4px;
                padding-bottom: 4px;

                .qbIcon {
                    position: absolute;
                    left: 0;
                    margin-top: 1px;
                    font-size: 16px;
                    padding: 0 7px;
                }
            }
            .choiceLabel.selected {
                color: $selected-color;
            }
            &.is-focused {
                background-color: $hover-color;
            }
        }
    }

    .multiChoiceRadioContainer {
        padding-left: 2px;
        padding-right: 2px;
        max-height: 340px;
        min-width: 100%;
        position: relative;

        .errorBar {
            height: 100%;
            background-color: $error-color;
            width: 6px;
            position: absolute;
        }
        .multiChoiceRadioOptionContainer {
            margin-left: 10px;
            .multiChoiceRadioOption {
                display: block;
                font-weight: normal;
                position: relative;
                input[type=radio] {
                    position: absolute;
                    visibility: hidden;
                }
                .choiceText {
                    display: inline-block;
                    margin-left: 20px;
                }
                .check {
                    display: block;
                    position: absolute;
                    content: '';
                    border-radius: 100%;
                    top: 2px;
                    left: -5px;
                    margin: auto;
                    width: 16px;
                    height: 16px;
                    box-shadow: 0 0 2px 1.5px rgba(54, 93, 191, 0.25);
                    border: solid 1px #2544a7;
                    .inside {
                        border-radius: 100%;
                        background-color: #fff;
                        height: 100%;
                        width: 100%;
                    }
                }
                .check::before {
                    display: block;
                    position: absolute;
                    content: '';
                    border-radius: 100%;
                    height: 16px;
                    width: 16px;
                    top: -5px;
                    left: -5px;
                    margin: auto;
                }
                input[type=radio]:checked ~ .check {
                    .inside {
                        background-color: #fff;
                        border: 4px solid #00abf4;
                        transition: border 0.25s linear;
                        -webkit-transition: border 0.25s linear;
                    }
                }
                &:hover {
                    .check {
                        .inside {
                            background-color: #c7c7c7;
                            border: 4px solid #fff;
                        }
                    }
                    input[type=radio]:checked ~ .check {
                        .inside {
                            border: 4px solid #0098cd;
                        }
                    }
                }
            }
        }
    }
}

.fieldValueEditor.error {
    .check, .check::before {
        left: 0;
    }
}
