@import '../../../src/assets/css/qbVariables';

.officePhone {
    display: flex;
    width: 100%;
    .x {
        padding: 2px;
        align-self: center;
    }
    @include small-breakpoint {
        .x {
            padding-right: 2px;
            padding-left: 5px;
        }
    }
}

// Resize office number input box and ext input box when editing on form view
.formElement .input {
    &.officeNumber {
        width: 70%;
    }
    &.extNumber {
        width: 30%;
    }
}
