@import '../../../src/assets/css/qbVariables';

.officePhone {
  display: flex;
  .x {
    padding: 2px;
    align-self: center;
  }
  @include small-breakpoint {
    .x {
      align-self: flex-end;
    }
  }
}

// Resize office number input box and ext input box when editing on form view
.formElement .input {
  &.officeNumber {
    width: 80%;
  }
  &.extNumber {
    width: 20%;
  }
  @include small-breakpoint {
    &.officeNumber {
      width: 80%;
    }
    &.extNumber {
      width: 20%;
    }
  }
}