@import '../../../src/assets/css/qbVariables';

.phoneWrapper {
    display: flex;
    width: 100%;
    .ext {
        width: 4%;
        text-align: center;
        align-self: center;
    }

    .input.phoneNumber {
        width: 66%;
    }
    .input.extension {
        width: 28%;
    }

    .extraDigits, .extension {
        color: $text-color;
    }

    .extraDigits::before, .extension::before {
        content: "\00a0";
    }

    a span.phoneData {
        overflow: visible;
    }

    a span.phoneData.extraDigits {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Don't show phone field icons on a report
// Never show the URL icon on Reports
.cellData .urlField .phoneIcon {
    display: none;
}
