@import '../../../src/assets/css/qbVariables';
$urlIcon-margin-left: 10px;
.phoneWrapper {

  .qbIconWrapper {
    display: flex;
  }

  .smsIcon {
    padding-right: 10px;
  }

  .phoneIcon {
    //display: flex;
    padding: 0;
    display: inline;
    float: none;
    margin-left: $urlIcon-margin-left;
    //opacity: 0;
    text-decoration: none;

    @include small-breakpoint {
      //opacity: 1;
      margin-left: auto;
    }
  }

  .qbIcon {
    font-size: $font-size-p;
  }

  .iconTableUISturdy-phone-outline {
    position: relative;
    top: 2px;
  }
}