@import '../../assets/css/qbVariables';

/* common styles for fields using react-select */

$selected-choice-color: $color-cyan-500;
$select-control-height: 28px;

.Select {
    width: 100%;

    .Select-control {
        height: $select-control-height;

        .Select-input {
            height: $select-control-height;
            padding-left: 2px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .Select-value {
            padding-right: 40px;
            padding-left: 3px;
            line-height: $select-control-height;
        }
        .Select-placeholder {
            line-height: $select-control-height;
            padding-left: 3px;
            font-style: italic;
        }
    }

    .Select-menu-outer {
        max-height: 340px; // shouldn't be taller than bottom margin on grid or it will clip
        min-width: 100%;
        width: auto;

        .Select-menu {
            max-height: 338px;
            overflow-y: auto;
            overflow-x: hidden;

            .Select-option {
                position: relative;
                .qbIcon {
                    position: absolute;
                    color: $selected-choice-color;
                }
            }
        }
    }
}
