@import '../../../src/assets/css/qbVariables';

.emptyTextFormula {
  display: block;

  width: 100%;
  height: $formula-background-large-height;

  @include small-breakpoint {
    .ext {
      height: $formula-background-small-height;
    }
  }
}

// For forms
.formElement.field {
  .cellWrapper {
    .emptyTextFormula {
      background-color: $formula-background-empty-color;
      @include small-breakpoint {
        .ext {
          height: $formula-background-small-height;
        }
      }
    }
  }
}

.filledTextFormula {
  display: block;

  width: 100%;
  height: $formula-background-large-height;

  @include small-breakpoint {
    .ext {
      height: $formula-background-small-height;
    }
  }
}
