@import '../../../src/assets/css/qbVariables';
@import './fields';

.urlField {
    &, a {
        color: $link-text-normal-color;
    }

    &:hover:not(.disabled), a:hover {
        text-decoration: underline;

        .urlIcon {
            opacity: 1;
        }
    }

    a:focus, a:active {
        /* Don't show focus state on the whole link. Should be on link and icon separately */
        border: none;
        box-shadow: none;
        outline: none;
    }

    a .link, a .urlIcon {
        /* Set a padding so the element doesn't move when focused (with border) */
        padding: 2px 4px;
    }

    a .link:focus,
    a .link:active,
    a .urlIcon:focus,
    a .urlIcon:active {
        background-color: $stage-backgroundColor;
        outline: none;
        padding: 1px 3px;
        @include text-input-focus-with-rounding;
    }

    .btn {
        .link, .urlIcon {
            & {
                padding: 0;
            }

            &:active, &:focus {
                border: none;
                box-shadow: none;
            }

        }
        &.btn-default {
            @include urlButtonBackgroundGradient();
            color: $link-text-normal-color;
        }

        &.btn-default:focus, &.btn-default:active {
            @include focus-shadow();
            @include urlButtonBackgroundFocusGradient();
            color: $link-text-normal-color;
            border: 1px solid $urlButton-border-focus-color;
        }

        &.btn-default:hover {
            background: $urlButton-background-hover-color;
            color: $link-text-normal-color;
            text-decoration: none;
        }

        &.btn-default.disabled {
            @include urlButtonDisabled();
        }
    }

    .disabled {
        color: $text-color;
    }

    .urlIcon {
        display: inline;
        float: none;
        margin-left: 10px;
        opacity: 0;
        text-decoration: none;

        transition: opacity .2s ease-in-out;

        @include small-breakpoint {
            opacity: 1;
            position: absolute;
            right: 2px;
        }

        .qbIcon {
            font-size: $font-size-p;
        }

        /* Mail Icon is a slightly different size and needs to be adjusted */
        .iconTableUISturdy-mail {
            position: relative;
            top: 2px;
        }
    }
}
