@import '../../assets/css/qbVariables';
@import './selectCommon';

.Select {
    .Select-menu-outer {

        .Select-menu {

            .Select-option {
                &.is-selected {
                    background-color: inherit;
                    .userLabel {
                        color: $selected-choice-color;
                    }
                }
                .deactivatedLabel {
                    font-size: 12px;
                    color: $user-picker-deactivated-label-fg;
                    font-style: italic;
                }
                .userOption {
                    position:relative;
                }
                .userLabel,.email {
                    margin-left:19px;
                }
                .userLabel {
                    font-size:14px;
                    color: $user-picker-user-label-fg;
                }
                .email {
                    font-size: 12px;
                    color: $user-picker-email-label-fg;
                }
            }
        }
    }
}


