// wdioSauce.conf.override.js
// A config file that can be used locally by devs to override settings in wdioSauce.conf.override.js
// There are many Object.assign which allow us to take the default values from wdioSauce.conf.js and only override specific values.

var baseTestDir = './ui/wdio/tests';

var config = require(`./wdioSauce${process.env.BROWSER}.conf`);

var overrides = {
    host: '127.0.0.1',

    // ============
    // Debug config
    // ============
    // Change this option to true if you want to run tests in debug mode either using IntelliJ breakpoints
    // or WebdriverIO's browser.debug() command within your spec files
    // See http://webdriver.io/guide/testrunner/debugging.html for more info.
    debug: true,

    // ==================
    // Specify Test Files
    // ==================
    // Define which test specs should run. The pattern is relative to the directory
    // from which `wdio` was called. Notice that, if you are calling `wdio` from an
    // NPM script (see https://docs.npmjs.com/cli/run-script) then the current working
    // directory is where your package.json resides, so `wdio` will be called from there.
    specs: [
        // specs to run are overwritten by the wdio grunt plugin. See Gruntfile.js 'webdriver' task
        baseTestDir + '/forms/formAdd.e2e.spec.js',
    ],
    // Patterns to exclude.
    exclude: [
        // 'path/to/excluded/files'
    ],

    maxInstances: 10,

    sauceConnectOpts: Object.assign({}, config.config.sauceConnectOpts, {
        dns: '127.0.0.1'
    }),

    capabilities: [Object.assign({}, config.config.capabilities[0], {name: process.env.SAUCE_JOB_NAME})]
};

exports.config = Object.assign({}, config.config, overrides);
