@import '../../../../src/assets/css/qbVariables';
$row-background-color-hover: $color-blue-200;
$row-cell-border-color: $color-black-300;
$row-bg-color: $color-black-100;
$row-non-editable-bg-color: $color-black-200;
$row-border-color: $color-black-300;
$row-box-shadow-color: $color-black-300;
$cell-edit-background-edit: $color-blue-200;
$grid-font-size: $font-size-p;
$grid-default-group-padding: 20px;
$grid-default-cell-padding: 4px;
$grid-group-expand-icon-size: 20px;
$edit-icon-font-size: 18px;

.qbGrid > thead, .qbGrid > tbody {
    color: $default-text-onlight-color;
    -webkit-font-smoothing: antialiased;
    table-layout: fixed;

    > td {
        vertical-align: top;
    }
}

.qbGrid {
    margin: 10px;

    .cellEditIcon {
        display: none;
        color: $ghost-text-color;
        font-size: $edit-icon-font-size;
        position: absolute;
        top: 0;
        right: 5px;

        &:hover {
            color: $default-hover-color;
        }
    }

    .qbCell:hover .cellEditIcon {
        display: inline;
    }

    .qbCell .editingCell .cellEditIcon {
        display: none;
    }

    .emptyRowActions {
        width: 75px;
    }

    .groupHeader {
        padding-left: $grid-default-group-padding + 3;
        vertical-align: top;
        font-weight: bold;
    }

    //assuming that we can have up to 6 group levels
    @for $i from 1 through 6 {
        .subHeaderLevel-#{$i} {
            .subHeaderCell {
                padding-left: $i * $grid-default-group-padding;
            }
        }
    }

    .dateCell, .durationCell, .phoneCell, .urlField {
        white-space: nowrap;
    }

    .AlignRight {
        text-align: right;
    }

    .gridHeaderCell {
        display: block;
    }

    .gridHeaderCell.AlignRight, .gridCell.AlignRight {
        text-align: right;
    }

    .gridHeaderCell.AlignCenter, .gridCell.AlignCenter {
        text-align: center;
    }

    .cellWrapper {
        width: 100%;
        min-width: 60px;
        min-height: 20px;
        position: relative;

        &.numberFormat,
        &.currencyFormat,
        &.percentFormat,
        &.durationFormat.wUnitsText {
            text-align: right;
        }

        &.checkboxFormat {
            text-align: center;
        }

        .dateFormat, .timeFormat {
            min-width: 120px;
        }

        .dateTimeFormat {
            min-width: 210px;
        }
    }

    .editTools {
        z-index: 1;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        background-color: $cell-edit-background-edit;
        box-shadow: -6px 0px 14px $row-box-shadow-color;
        padding: 0 24px;
        border: 1px solid $row-border-color;

        .loadedContent {
            padding: 0;
        }

        .loader {
            padding: 10px 9px;

            .spinner {
                // Need important because the original styles are set directly on the element by react-loader
                left: auto !important;
                top: auto !important;
            }
        }

        button {
            flex: 0 0 auto;
            border: 0;
            background-color: $cell-edit-background-edit;
            margin-right: 2px;
            padding: 6px 4px;

            .qbIcon:hover {
                opacity: 1;
            }

            .qbIcon {
                opacity: 0.7;
                width: 20px;
                font-size: 16px;
                vertical-align: top;
            }

            .qbIcon.saveRecord {
                color: $color-green-700;
                font-size: 18px;
            }

            .qbIcon.invalidRecord {
                color: $tootip-error-color;
                font-size: 18px;
                cursor: default;
            }

            .qbIcon.cancelSelection {
                color: $iconfont-on-light-normal-color;
            }

            .qbIcon.deleteRecord {
                color: $color-red-700;
            }

            .qbIcon.addRecord {
                color: $iconfont-on-light-normal-color;
            }

            .qbIcon.disabled.addRecord {
                color: $iconfont-on-light-disabled-color;
            }
        }
    }
}

.qbGrid > thead > tr > th {
    white-space: nowrap;
    border-right: 1px solid $color-blue-400;
    border-bottom: 2px solid $badcolor1-color6;
    padding: $grid-default-cell-padding;
    color: $color-blue-600;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border-color: $color-blue-400;
    background-color: $color-blue-300;

    .headerCell {
        display: flex;
        justify-content: space-between;

        .dropdown-menu {
            font-size: 12px;
        }

        .qbIcon.iconTableUISturdy-check {
            color: $color-green-600;
        }

        .dropdownToggle {
            opacity: 0.2;
            padding: 0;
            border: 0;
            background-color: inherit;
        }

        &:hover .dropdownToggle {
            opacity: 1;
        }
    }
}

.qbGrid .actionsCol {
    white-space: nowrap;

    > * {
        display: inline-block;
    }

    input[type=checkbox] {
        margin-right: 12px;
    }

    .iconActionButton {
        width: auto;
        margin-right: 4px;
        height: 30px;
    }

    .qbIcon {
        font-size: 20px;
        width: 20px;
    }
}

.qbGrid > tbody > tr > td {
    padding: 6px;
    font-size: $grid-font-size;
    border-right: 1px solid $color-black-300;
    border-bottom: 1px solid $color-black-300;
    vertical-align: top;
}

.qbGrid > tbody > tr > td:first-of-type {
    left: 0;
    width: 80px;
    max-width: 80px;
    position: relative;
    background: $color-black-100;
    vertical-align: middle;
}

.qbGrid .editing {
    box-shadow: 0 10px 0 0 $cell-edit-background-edit, 0 -10px 0 0 $cell-edit-background-edit, 0 0 20px 10px rgba($border-shadow-base-color, 0.5);
    background-color: $cell-edit-background-edit;

    > td:first-child {
        padding-left: 4px;
        border-left: 1px solid $row-border-color;
    }

    > td {

        border: none;
        overflow: visible;
        margin: 0;
        vertical-align: middle;
        padding-bottom: 14px;

        .cellWrapper {
            display: flex;
            padding: 2px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            textarea.cellEdit {
                resize: none;
                overflow: hidden;
                box-sizing: border-box;
            }

            &.editingCell {
                display: inline-block;
                border: none;

                .nonEditable {
                    cursor: not-allowed;
                }

                &.dateTimeField > * {
                    border: 0;

                    .input-group.date input.form-control {
                        border: 0;
                        padding: 0;
                        font-size: 12px;
                        height: 25px;
                        border-radius: 0;
                    }

                    .input-group.date .input-group-addon {
                        background: $color-black-100;
                        height: 21px;
                        padding: 0;
                        border: 0;
                        color: $iconfont-on-light-normal-color;
                    }
                }

                &.input-group {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;
                    margin-right: 0;
                    padding-right: 0;
                    border-right: 0;

                    > input {
                        flex: 1 1 auto;
                        border-radius: 0;
                        border: 0;
                        height: 21px;
                        margin-right: 1px;
                        font-size: $grid-font-size;
                        padding-left: 2px;
                    }

                    > span.dropdown {
                        flex: 0 0 auto;
                        width: 20px;

                        button {
                            padding-left: 4px;
                            padding-top: 0;
                            height: 21px;
                            width: 20px;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

.actionsCol .iconActions {
    line-height: inherit;

    .dropdown-menu a {
        padding-left: 4px;

        .qbIcon {
            margin-right: 6px;
            vertical-align: middle;
            width: 28px;
            padding: 4px;
        }

        &:hover {
            .qbIcon {
                color: $color-black-100;
            }

            .qbIcon.print {
                background-color: $print-icon-normal-color;
            }

            .qbIcon.email {
                background-color: $mail-icon-normal-color;
            }

            .qbIcon.duplicate {
                background-color: $copy-icon-normal-color;
            }

            .qbIcon.delete {
                background-color: $delete-icon-normal-color;
            }
        }
    }

    .iconActionButton {
        opacity: 0.2;
        transition: opacity 200ms ease-in-out;
        height: 30px;
        width: auto;
        background: inherit;

        &:hover {
            color: $topnav-icon-color;
        }
    }

    .qbIcon.print {
        color: $print-icon-normal-color;
    }

    .qbIcon.email {
        color: $mail-icon-normal-color;
    }

    .qbIcon.duplicate {
        color: $copy-icon-normal-color;
    }

    .qbIcon.delete {
        color: $delete-icon-normal-color;
    }
}

.actionsCol:hover .iconActions .iconActionButton {
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}

.multiLineTextCell {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $grid-font-size;
    border-radius: 0;
    color: $font-color;
}
