@import '../../assets/css/qbVariables';

$panel-border-color: $color4;
$panel-background-color: $color2;
$panel-header-icon-color: #404040;
$panel-header-icon-hover-color: #0098cd;
/*
 * Overwrite the following bootstrap classes in their panel component so we have the proper layout
 * panel, panel-default, panel-body
*/
.panel {
    border:0 !important;;
    border-top-width: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 5px !important;
}

.panel-default {
    border:0;
    border-top-width: 0 !important;
    border-radius: 0 !important;
}

.panel-body {
    padding: 0 !important;
}

h3 {
    margin: 0 !important;
}

h5 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

/*
 * Custom css classes for our QBPanel component
*/
.qbPanel {
    margin:2px 2px 6px 2px;
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
    -moz-box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(72, 108, 143, 0.2);
}

.qbPanelHeader {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    min-width: 30%;
    background-color: $panel-background-color;
}

.qbPanelHeaderTitle {
    position:relative;
    padding: 10px 0 10px 0;
}

.qbPanel.iconRight {
    .qbPanelHeaderIcon {
        position:absolute;
        right:4px;
        top:10px;
    }
}

.qbPanel.iconLeft {
    .qbPanelHeaderIcon {
        position: absolute;
        left: 4px;
        top: 14px;
    }
    .qbPanelHeaderTitleText, .panel {
        margin-left:30px;
    }
}

.qbPanelHeaderIcon {
    color: $panel-header-icon-color;
}
.qbPanelHeaderIcon:hover {
    color: $panel-header-icon-hover-color;
}

.qbPanelBody {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.rotateDown {
    transition: all .25s linear;
    transform: rotate(90deg);
    font-size: 16px;
    width:auto;
}

.rotateUp {
    transition: all .25s linear;
    transform: rotate(0deg);
    font-size: 16px;
    width:auto;
}

/*
 * This needs to be cleaned up once we decide what will happen with Lisa's universal pattern story
 * Right now there is no different, but I'd rather leave a place holder incase in the future we do need it
*/
/* For mobile phones: */

@include small-breakpoint {
    .qbPanel {

        font-size: $font-size;
        .qbPanelBody {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

/* For tablet like devices: */
@include medium-breakpoint {
    .qbPanel {
        font-size: $font-size;
        .qbPanelBody {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}