.card {
  z-index:2;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  transform-origin:top left;
  min-width: 30%;
}
.qbPanelHeader {
  padding-left: 3%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  min-width: 30%;
}
.qbPanelHeaderIcon {
  float: right;
  margin-right:2rem;
}
.qbPanelBody {
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.rotateDown {
  transition: all .25s linear;
  transform: rotate(-180deg);
}
.rotateUp {
  transition: all .25s linear;
  transform: rotate(0deg);
}

@media (max-width: 700px) {
  /* For mobile phones: */
  .qbPanelBody{
    padding-left: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}