@import '../../assets/css/qbVariables';

$fieldLabel-font-size-small: $font-size-small;
$fieldValue-font-size: $font-size-base;
$fieldLabel-color: $color3;
$panel-border-color: $color4;
$panel-background-color: $color2;
$margin-spacer: 10px;

/*
 * Overwrite the following bootstrap classes in their panel component so we have the proper layout
 * panel, panel-default, panel-body
*/
.panel {
  border-top-width: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 5px !important;
}
.panel-default {
  border-top-width: 0 !important;
  border-radius: 0 !important;
}
.panel-body {
  padding: 0 !important;
}
.h3 {
  margin: 0 !important;
}
h3 {
  margin: 0 !important;
}

/*
 * Custom css classes for our QBPanel component
*/
.qbPanel{
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
}
.qbPanelHeader {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  min-width: 30%;
  background-color: $panel-background-color;
  border: 1px solid $panel-border-color;
  border-bottom-width: 0;
  border-radius: 0 0 0 0;
}
.qbPanelHeaderIcon {
  float: right;
}
.qbPanelBody {
  padding: 0 10px 15px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.rotateDown {
  transition: all .25s linear;
  transform: rotate(90deg);
  font-size: 22px;
}
.rotateUp {
  transition: all .25s linear;
  transform: rotate(0deg);
  font-size: 22px;
}
.fieldRow{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.field {
  //top right bottom left
  //padding: 0 25px 25px 0;
  padding: $margin-spacer $margin-spacer 0 0;
  max-width: 25%;
  .fieldLabel{
    display: block;
    color: $fieldLabel-color;
  }
  .fieldValue {
    display:block;
    min-width: 0;
  }
}

  /* For mobile phones: */
.small-breakpoint .qbPanel {
  font-size: $font-size;
  .qbPanelBody {
    padding-left: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .field {
    max-width: 100%;
    padding: $margin-spacer $margin-spacer 0 0;
    .fieldLabel {
      display: block;
      font-size: $fieldLabel-font-size-small;
    }
    .fieldValue {
      display: block;
      min-width: 0;
      font-size: $fieldValue-font-size;
    }
  }
}

/* For tablet like devices: */
.medium-breakpoint .qbPanel {
  font-size: $font-size;
  .qbPanelBody {
    padding-left: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .field {
    max-width: 60%;
    padding: $margin-spacer $margin-spacer 0 0;
    .fieldLabel {
      display: block;
      font-size: $fieldLabel-font-size-small;
    }
    .fieldValue {
      display: block;
      min-width: 0;
      font-size: $fieldValue-font-size;
    }
  }
}
