.callout {
  position:absolute;
  z-index: 5;
  top: .7rem;
  left: -2.2rem;
  background: white;
}

.callout .notch {
  position: absolute;
  top: -8px;
  left: 20px;
  margin: 0;
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  padding: 0;
  width: 0;
  height: 0;
}
.border-callout .border-notch {
  border-bottom-color: #dedede;
  top: -10px;
}