<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" type="text/css" rel="stylesheet">

<style>

    * {
        margin: 0;
        padding: 0;
    }

    .base {
        z-index: auto;
    }




</style>
<div class="base">
    <p>Some Top text to have on the page below this callouasdadnasdjas</p>
    <p>Some Top text to have on the page below this callouasdadnasdjasd</p>
    <p>Some Top text to have on the page below this callouasdadnasdjasd</p>
    <p>Some Top text to have on the page below this callouasdadnasdjasd</p>
    <p>Some Top text to have on the page below this callouasdadnasdjasd</p>
    <p>Some Top text to have on the page below this callouasdadnasdjasd</p>

    <div class="callout border-callout">
        <div class="facets ">
            <div class="facet open">
                <div class="facetFieldName">Names</div>
                <ul class="facetValues">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
            <div class="facet">
                <div class="facetFieldName">Types</div>
                <ul class="facetValues">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                    <li>(empty)</li>
                </ul>
            </div>
            <div class="facet open">
                <div class="facetFieldName">Status</div>
                <ul class="facetValues">
                    <li>No</li>
                    <li>Yes</li>
                </ul>
            </div>
            <div class="facet open">
                <div class="facetFieldName">Dates</div>
                <ul class="facetValues">
                    <li>12/03/2001 - 12/03/2015</li>
                </ul>
            </div>
        </div>
        <span class="border-notch notch"></span>
        <span class="notch"></span>
    </div>
</div>