.gridWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    height: 100%;
    min-height: 0;
    margin-left: 10px;
    margin-right:10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    min-height: 0;
}
