@import '../../assets/css/qbVariables';

.drawer {
    position: absolute;
    z-index: $zindex-drawer;
    height: 100%;
    width: 100%;
    background-color: $color-black-200;

    right: 0;

    .stageRight {
        div:first-child {
            text-align: right;
        }
    }
}

