@import '../../assets/css/qbVariables';

.drawer {
    position: absolute;
    z-index: 10; // TODO: what to do? use qbVariable?
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;

    right: 0;

    .stageRight{
        div:first-child {
            text-align: right;
        }
    }
}

