@import '../../assets/css/qbVariables';

.drawer {
    position: absolute;
    z-index: 10; // TODO: what to do? use qbVariable?
    height: 100%;
    width: calc(100% - 20px);
    overflow: hidden;

    // TODO: remove these, these are temporary
    background: bisque;
    //left: 100%;
    right: 0;
    border: 1px solid;

}

