.tableBar {
  padding: 5px 0 10px 0;
  display:flex;


  .input-group {
    width: 200px;
  }
  .searchInput, .reportLinks {
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
  }
}