@import '../../../assets/css/_qbVariables';

.reportContentError {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    width: 100%;

    .errorImage {
        border: 1px solid $color-blue-300;
        border-radius: 5px;
        max-width: 600px;
        width: 40%;

        @include small-breakpoint {
            max-width: 100%;
            width: 75%;
        }
    }

    img:focus {
        outline: none;

        @include focus-shadow;
    }

    /* For Firefox */
    .errorImage:after {
        display: flex;
    }

    /* For Chrome/Safari */
    .errorImage--still {
        content: url("./fix_report_error_still_image.png");
    }
    /* For Firefox */
    .errorImage--still:after {
        content: url("./fix_report_error_still_image.png");
    }

    .errorImage--animation {
        content: url("./fix_report_error.gif");
    }

    /* For Firefox */
    .errorImage--animation:after {
        content: url("./fix_report_error.gif");
    }

    .additionalHelp {
        text-align: center;

        .helpLink {
            position: relative;
        }

        .iconContainer {
            position: absolute;
            left: 0;
            top: -1px;
        }

        .qbIcon {
            color: $color-cyan-600;
            font-size: 18px;
            margin-right: 10px;
        }

        .helpText {
            padding-left: 25px;
        }
    }

    .toggleSupportInfoBtn {
        margin-top: 20px;
    }

    .additionalInfo {
        align-items: flex-start;
    }
}