@import '../../../../src/assets/css/qbVariables';

.report-content {
    display: flex;
    min-height: 200px;
    .left {
        flex: 1;

        > div {
            margin-left: 40px;
            margin-right: 30px;
        }
        .stage-showHide-content {
            margin-top: 20px;
        }

        .header {
            font-size: 22px;
            font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
            color: #404040;
            line-height: 22px;
            margin-top: 3px;
        }

        .subheader {
            margin-top: 7px;
            font-size: 14px;
            color: #6e8ba8;
            text-transform: inherit;
            font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
        }

        .content {
            font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
            color: #404040;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.layout-stage .well {
    background: $stage-backgroundColor;
}