@import '../../../../src/assets/css/qbVariables';

.report-content {
  display: flex;
  min-height: 200px;
  .left {
    flex: 1;

    > div {
      margin-left: 40px;
      margin-right: 30px;
    }
    .stage-showHide-content {
      margin-top: 20px;
    }

    .header {
      font-size: 22px;
      font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
      color: #404040;
      line-height: 22px;
      margin-top: 3px;
    }

    .subheader {
      margin-top: 7px;
      font-size: 14px;
      color: #6e8ba8;
      text-transform: inherit;
      font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
    }

    .content {
      font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
      color: #404040;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .right {
    border-left: 1px solid #dcdcdc;

    .reminder {
      white-space: nowrap;
      padding: 1px 20px 15px 40px;

      .button-container {
        margin-top:20px;
      }

      .icon {
        width: 50px;
        height: 60px;
        background: url('../../../assets/images/images-sf23742373d.png') 0 -30px no-repeat;
      }

      .header {
        margin-top: 10px;
        margin-left: 17px;
        font-size: 1.2rem;
        font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
        color: #404040;
      }

      .subheader {
        font-size: 12px;
        height: 18px;
        margin-top: 2px;
        margin-left: 17px;
        color: #6e8ba8;
        text-transform: uppercase;
        font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
      }
    }
  }
}

.layout-stage .well{
  background: $color2;
}