@import '../../assets/css/qbVariables';

@include not-small-breakpoint {
    .secondaryBar .iconActions {
        display: none;
    }

    .iconActions {
        // Tooltips normally display as block elements. To keep actions in a horizontal line, we need to override tooltips default display.
        .tipChildWrapper {
            display: inline-block;
        }

        .iconActionButton {
            border: 0;
            margin-right: 2px;
            border-radius: 0;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 24px;
            height: 24px;
            font-size: 20px;
            color: $topnav-icon-color;
            padding: 0;
            line-height: 1px;

            &.dropdownToggle {
                width: 20px;
                margin-right: 10px;
                background-color: transparent;
            }

            .iconActionButton:not([disabled]):hover {
                background: $topnav-hover-background-color;
                color: $topnav-hover-color;
                cursor: pointer;
            }
        }

        &.pageActions {
            .iconActionButton {
                width: 40px;
                height: 40px;
            }

            .addRecord {
                border-radius: 20px;
                background-color: $color-green-600;
                color: $color-black-100;
                margin-right: 30px;

                .qbIcon {
                    color: $color-black-100;
                }
            }
        }
    }
}

@include small-breakpoint {
    .secondaryBar {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        justify-content: space-between;
        height: 40px;
        background-color: $secondary-bar-background-color;
        width: 100%;

        .iconActions {
            flex: 0 0 auto;
            line-height: 40px;
            display: block;

            .iconActionButton {
                border: 0;
                border-radius: 0;
                padding: 0;
                padding-right: 6px;
                padding-left: 6px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 32px;
                font-size: 20px;
                color: $secondary-bar-icon-action-icon-color;
                background-color: inherit;
            }

            &.pageActions .iconActionButton {
                background-color: $secondary-bar-page-actions-background-color;
            }
        }

        .pageActions {
            background-color: $secondary-bar-page-actions-background-color;
        }
    }
}
