<p>Please click <a id="signin" href="#">here</a> to return to
    QuickBase.</p>

<script type="text/javascript">
var hostnameSplit = window.location.hostname.split(".");
var hostname = "." + hostnameSplit.pop();
var currentStackDomain = hostnameSplit.shift() + "." + hostnameSplit.pop() + hostname;
var currentStackSignIn=  "https://" + currentStackDomain + "/db/main?a=SignIn";
document.getElementById("signin").href = currentStackSignIn;
</script>