@import "../../../assets/css/qbVariables";

.fieldEditingTools {
    transition: opacity 0.4s;
    border-radius: $radius-base;
    position: absolute;
    height: 100%;
    width: 310px;

    &:focus {
        //For keyboard nav
        opacity: 2;
        outline: none;
        box-shadow: 0 0 2px 0px rgba(0, 157, 235, 0.75);
        border: $stroke-width-thin solid $border-focused-color;
    }

    &.selectedFormElement {
        transition: background-color 0.5s ease;
        border: 2px solid #009deb;
        border-radius: $radius-base;
        box-shadow: 0 0 4px 0px rgba(0, 157, 235, 0.75);
        z-index: -1 !important;

        .deleteFieldIcon {
            .qbIcon {
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &:hover {
        transition: background-color 0.5s ease;
        border: $stroke-width-thin solid $border-focused-color;
        border-radius: $radius-base;
        .fieldEditingTools {
            opacity: 1;
            .qbIcon {
                opacity: 1;
            }
        }

        @include small-breakpoint {
            background: none;
        }
    }

    .actionIcons {
        float: right;
    }
    .deleteFieldIcon {
        font-size: $size-iconfont-small;
        position: absolute;
        top: 30px;
        right: -20px;

        .qbIcon {
            color: $color-black-600;
            opacity: 0;
            transition: color 0.4s;
        }
    }

    &.notTouchDevice {
        //No borders, icon, or drag handles are displayed when it is not a touch device
        //Everything shows up on hover

        .deleteFieldIcon .qbIcon {
            &:hover {
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &.isTablet {
        //Icons and borders only display during focus
        //Drag handle always show
        border: none;

        .deleteFieldIcon .qbIcon {
            padding-right: $spacing-medium1;
        }
    }

    @include small-breakpoint {
        //Drag handles and borders always display during small breakpoints
        //Icons only show up when it is focused
        width: 100%;
        border-bottom: $stroke-width-thin solid $color-black-400;

        .deleteFieldIcon .qbIcon {
            margin-right: $spacing-medium1;
        }

        //Scrolling triggers hover on touch, this hides the icon during scroll
        &:hover {
            .qbIcon {
                opacity: 0;
            }
        }
    }

    .tipChildWrapper {
        cursor: pointer;
    }

    &.active {
        opacity: 1;
        @include dragpreview-active-gradient;
    }

    button {
        background: transparent;
        outline: none;
        border: none;
        &:focus {
            opacity: 1;
            outline: none;
            border: $stroke-width-thin solid $border-focused-color;
        }
    }
}
