@import "../../../assets/css/qbVariables";

.fieldEditingTools {
    transition: opacity 0.4s;
    border-radius: $border-radius-base;
    //By giving it a border the same size as the focus border and a transparent background,
    //it keeps the container from 'jumping' on focus
    border: $stroke-width-thick solid transparent;
    box-shadow: 0 0 4px 0px rgba(transparent, 0);
    position: absolute;
    height: 100%;
    width: 335px;

    .actionIcons {
        float: right;
    }

    .deleteFieldIcon {
        font-size: $size-iconfont-large2;
        position: absolute;
        bottom: 15%;
        right: 5px;

        .qbIcon {
            color: $iconfont-on-light-normal-color;
            transition: color 0.4s;
        }
        button {
            background: transparent;
            outline: none;
            padding: 0px;
            //By giving it a border the same size as the focus border and a transparent background,
            //it keeps the container from 'jumping' on focus
            border: $stroke-width-thin solid transparent;
            &:focus {
                opacity: 1;
                outline: none;
                border: $stroke-width-thin solid $selected-color;
            }
        }
    }

    .tipChildWrapper {
        cursor: pointer;
    }



    &.notTouchDevice {
        //No borders or icon are displayed when it is not a touch device
        //Everything shows up on hover
        opacity: 0;
        .deleteFieldIcon .qbIcon {
            &:hover {
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &.isTablet {
        //Icon and borders only display during focus
        border: none;

        .deleteFieldIcon .qbIcon {
            padding-right: $spacing-medium1;
        }
    }

    &:focus {
        //For keyboard nav
        opacity: 1;
        outline: none;
        @include text-input-focus;
    }

    &.selectedFormElement {
        opacity: 1;
        @include text-input-focus-thick;

        .deleteFieldIcon {
            button {
                padding: 0px;
            }
            .qbIcon {
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &:hover {
        opacity: 1;
        border: $stroke-width-thin solid $input-text-focus-border-color;
        transition: border 0.5s ease;
        .fieldEditingTools {
            opacity: 1;
            .qbIcon {
                opacity: 1;
            }
        }
    }

    @include small-breakpoint {
        //Borders always display during small breakpoints
        //Icon only show up when it is focused
        width: 100%;
        border-bottom: $stroke-width-thin solid $selected-color;

        .deleteFieldIcon .qbIcon {
            margin-right: $spacing-medium1;
        }

        //Scrolling triggers hover on touch, this hides the icon during scroll
        &:hover {
            .qbIcon {
                opacity: 0;
            }
        }
    }

    &.active {
        box-shadow: none;
        border: $stroke-width-thick dashed $color-black-300;
        background-color: rgba($color-purple-600, 0.08);
        width: 335px;
    }

    &:active {
        box-shadow: none;
        border: $stroke-width-thick dashed $color-black-300;
        background-color: rgba($dragPreview-background-color, 0.08);
        width: 335px;
        z-index: 2;
        .deleteFieldIcon .qbIcon {
            opacity: 0;
        }
    }
}
