@import "../../../assets/css/qbVariables";

.fieldEditingTools {
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: $border-radius-base;
    //By giving it a border the same size as the focus border and a transparent background,
    //it keeps the container from 'jumping' on focus
    border: $stroke-width-thick solid transparent;
    box-shadow: 0 0 4px 0px rgba($color-black-100, 0);
    position: absolute;
    height: 100%;
    width: 335px;

    .deleteFieldIcon {
        font-size: $size-iconfont-large2;
        position: absolute;
        bottom: 15%;
        padding-left: 295px;

        .qbIcon {
            color: $iconfont-on-light-normal-color;
            transition: color 0.3s;
            padding-left: 1px;
        }
        button {
            background: transparent;
            outline: none;
            padding: 0;
            //By giving it a border the same size as the focus border and a transparent background,
            //it keeps the container from 'jumping' on focus
            border: $stroke-width-thin solid transparent;
            &:focus {
                opacity: 1;
                outline: none;
                @include text-input-focus;
            }
        }
    }

    .tipChildWrapper {
        cursor: pointer;
    }

    &.notTouchDevice {
        //No borders or icon are displayed when it is not a touch device
        //Everything shows up on hover
        .deleteFieldIcon .qbIcon {
            &:hover {
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &:focus {
        //For keyboard nav
        opacity: 1;
        outline: none;
        @include text-input-focus;
    }

    &.selectedFormElement {
        opacity: 1;
        @include text-input-focus-thick;

        .deleteFieldIcon {
            button {
                padding: 0;
            }
            .qbIcon {
                padding-left: 1px;
                opacity: 1;
                color: $color-red-700;
            }
        }
    }

    &:hover {
        transition: 0.4s;
        opacity: 1;
        border: $stroke-width-thin solid $input-text-focus-border-color;
        .deleteFieldIcon {
            opacity: 1;
            .qbIcon {
                opacity: 1;
            }
        }
    }

    @include small-breakpoint {
        //Borders always display during small breakpoints
        //Icon only show up when it is focused
        width: 100%;
        border-bottom: $stroke-width-thin solid $selected-color;

        .deleteFieldIcon .qbIcon {
            margin-right: $spacing-medium1;
        }

        //Scrolling triggers hover on touch, this hides the icon during scroll
        &:hover {
            .qbIcon {
                opacity: 0;
            }
        }
    }
    &.isTablet {
        opacity: 1;
        //This is an extra check to keep this code from triggering firefox
        .deleteFieldIcon {
            opacity: 1;
            .qbIcon {
                opacity: 1;
            }
        }
    }

    &.active {
        box-shadow: none;
        border: $stroke-width-thin dashed $color-black-300;
        background-color: rgba($color-purple-600, 0.08);
        width: 335px;
    }

    &:active {
        box-shadow: none;
        border: $stroke-width-thin dashed $color-black-300;
        background-color: rgba($dragPreview-background-color, 0.08);
        width: 335px;
        z-index: 2;
        .deleteFieldIcon .qbIcon {
            opacity: 0;
        }
    }
}
