@import "../../../assets/css/qbVariables";

.fieldEditingTools {
    transition: opacity 0.4s;

    &.notTouchDevice {
        //Nothing is displayed when it is desktop view
        //Borders and icons only show up on hover or on focus for desktop
        opacity: 0;
    }

    &.isTablet {
        //The Border is not displayed when viewing from a tablet
        //Drag handle always show
        //Icons and borders only show up on focus
        border: none;
    }

    @include small-breakpoint {
        //Drag handles and borders always display during small breakpoints
        //Icons only show up when it is focused
        width: 107% !important;
        border: $stroke-width-thin solid $color-black-400;
        border-radius: $radius-base;

        .deleteFieldIcon .qbIcon {
            padding-right: $spacing-medium1;
        }
    }

    .qbIcon {
        //Icons only show up only during focus or hover state
        opacity: 0;
    }

    .tipChildWrapper {
        cursor: pointer;
    }

    &:focus, &:hover {
        opacity: 1;
        outline: none;

        .deleteFieldIcon {
            font-size: $size-iconfont-small;
            position: absolute;
            top: 5px;
            right: 25px;

            .qbIcon {
                opacity: 1;
                color: $color-red-700;
                transition: color 0.4s;
            }
        }

        .fieldPreferencesIcon {
            font-size: $size-iconfont-small;
            position: absolute;
            top: 5px;
            right: 5px;

            .qbIcon {
                opacity: 1;
                color: $color-cyan-700 ;
                transition: color 0.4s;
            }
        }
    }

    &:hover {
        border: $stroke-width-thin solid $color-black-400;
        border-radius: $radius-base;
    }

    &:focus {
        border-color: $border-focused-color;
    }
}