@import '../../assets/css/qbVariables';

.reportContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    background: $report-container-bg;
    .layout-stage {
        flex-shrink: 0;
    }
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    background-color: $report-backgroundColor;

    .reportToolsAndContentContainer {

        //display:flex;
        .reportToolbar {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            flex: 1 0 auto;
            &.noFacets {
                justify-content: flex-start;
            }
            >* {
                flex: 0 0 auto;
            }
            >.facetsMenuContainer {
                flex: 1 0 auto;
            }
            >.recordsCount {
                margin-left:5px;
            }
            >.pageActions {
                line-height:40px;
                align-self:stretch;
            }
            align-items: center;
            color: $icon-color;

            .filterSearchBoxContainer {
                flex: 0 0 auto;
                input {
                    width:100%;
                    margin: 5px 0;
                    min-width: 60px;
                    max-width: 180px;
                }
            }

            .facetsMenuButton {
                margin-left: 1.5rem;
                cursor: pointer;
            }

            .clearAllFacets {
                display: inline-block;
                margin-right: .5rem;
                vertical-align: top;
                font-size: 16px;
                cursor: pointer;
            }

            .recordsCount {
                margin-right: 1rem;
            }
        }

        .loadedContent {
            flex: 1 0 auto;
            overflow-y: auto;
            margin-left: 10px;
            margin-right: 10px;
            min-height: 710px;
        }

        // this fake facet button which hidden in release; devs
        // can show it by commenting this or running
        // document.getElementById('fakeFacet').style.display='block';  or
        // document.getElementsByClassName("testFilterButton").style.display='block';
        // document.getElementsByClassName("testFilterButton").style.display='block';
        // in the browser debugger
        .testFilterButton {
            display: none;
            margin-left: 1rem;
        }
    }

    .reportLinks {
        margin: 0 10px;
        a {
            text-decoration: none;
            .hi {
                padding-right: 4px;
            }
        }
        a:hover {
            text-decoration: none;
        }

    }
}

@include small-breakpoint {
    .layout-stage {
        .right {
            display: none;

        }
        .report-content .left {
            width: 100%;
        }
    }
}

@include medium-breakpoint {
    .layout-stage {
        .right {
            display: none;

        }
        .report-content .left {
            width: 100%;
        }
    }
}

@include small-breakpoint {
    .reportContainer .reportToolsAndContentContainer .loadedContent {
        min-height: 430px;
        margin:0;
    }
}