@import '../../assets/css/qbVariables';

.reportContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    @include not-small-breakpoint {
        background: $report-container-bg;
    }
    .layout-stage {
        flex:0 0 auto;
    }
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    background-color: $report-backgroundColor;

    .reportLinks {
        margin: 0 10px;
        a {
            text-decoration: none;
            .hi {
                padding-right: 4px;
            }
        }
        a:hover {
            text-decoration: none;
        }

    }
}
.reportToolsAndContentContainer {
    display:flex;
    flex: 1 1 auto;
    flex-direction:column;

    .tableActionsContainer {
        position: relative;
        padding-left: 10px;
        @include small-breakpoint {
            padding-top: 0px; // no stage so to need add space after
            &:not(.selectionActionsOpen) {
                background-color: $secondary-bar-bg;
            }

        }
    }

    .reportToolbar {
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        align-items: center;
        color: $icon-color;


        &.noFacets {
            justify-content: flex-start;
        }

        >.pageActions {
            line-height:40px;
            align-self:stretch;
        }
        .leftReportToolbar {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .recordsCount{
            flex: 0 0 auto;
            margin-left:5px;
        }
        .filterSearchBoxContainer {
            flex-shrink: 0;
            .filterSearchBox {
                min-width: 60px;
                max-width: 180px;
            }
        }
        >.facetsMenuContainer {
            flex-shrink: 1;
        }

        .clearAllFacets {
            display: inline-block;
            margin-right: .5rem;
            margin-left: .5rem;
            vertical-align: top;
            font-size: 16px;
            cursor: pointer;
        }

        .recordsCount {
            margin-right: 1rem;
        }
    }

    .loadedContent {
        display:flex;
        flex: 1 1 auto;
        width:100%;
    }

}


@include small-breakpoint {
    .layout-stage {
        .right {
            display: none;

        }
        .report-content .left {
            width: 100%;
        }
    }
    .filterSearchBox {
        .searchInput {
            border: none;
        }
    }
}

@include medium-breakpoint {
    .layout-stage {
        .right {
            display: none;

        }
        .report-content .left {
            width: 100%;
        }
    }
}

.reportContent {
    width:100%;
    flex:1 1 auto;
    display:flex;
}


.reportToolbarContainer {
    width: 100%;

}
.noData {
    padding-left: 1.5rem;

}
.addNewRecord {
    display:none;
}

$add-record-fg: #fff;
$add-record-bg: #a52363;
$add-record-radius: 20px;

@include small-breakpoint {
    .reportContainer .reportToolsAndContentContainer .reportToolbar {
        color:$secondary-bar-fg;
        justify-content:space-between;
    }
    .reportContainer .reportToolsAndContentContainer .loadedContent {
        margin:0;
        width:100%;
    }
    .addNewRecord {
        display:inline-block;
        position:fixed;
        right:24px;
        bottom:24px;
        font-size:24px;

        color: $add-record-fg;
        background-color: $add-record-bg;
        vertical-align: middle;
        text-align:center;
        width: $add-record-radius * 2;
        height: $add-record-radius * 2;
        -moz-border-radius: $add-record-radius;
        -webkit-border-radius: $add-record-radius;
        border-radius: $add-record-radius;
        .qbIcon {
            line-height: $add-record-radius * 2;
        }
        &:hover {
            color: $add-record-fg;
        }
        &:focus {
            color:$add-record-fg;
        }
    }
}
