
$search-bar-bg: #5f8ba7;

.reportsContainer {
    background-color:#F2F9FE;
    .reportsTop {
        background-color: $search-bar-bg;
        padding:10px 0 10px 16px;
    }
}

.reportGroups {
    margin:16px;
    max-height:60%;

    .qbPanel {
        width:100%;
    }
    .reportGroup {

        margin-bottom:16px;
        background-color: #fff;

        .reportItems {
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
        .reportLink {
            display:flex;
            align-items:baseline;
            min-width:100px;

            .qbIcon {
                flex: 0 0 auto;
                color: red;
            }
            margin-right: 20px;
            margin-bottom: 10px;
            flex:1;
            cursor:pointer;
        }
    }
}