@import '../../assets/css/qbVariables';

.reportContainer {
    flex: 1 1 auto;
    min-width: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    .layout-stage {
        flex: 0 0 auto;
    }
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    .reportLinks {
        margin: 0 10px;

        a {
            text-decoration: none;

            .hi {
                padding-right: 4px;
            }
        }

        a:hover {
            text-decoration: none;
        }
    }

    .tableHomepageLink {
        display: flex;
        align-items: center;
    }

    &.smallBreakPoint {
        // needed in small bp to fix scrolling issues in cardviews
        height: 100vh;
    }

    .saveOrCancelFooter {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
}

.reportToolsAndContentContainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    height: 100%;
    //min-height is required in order for the scrollbar to work in firefox
    min-height: 0;

    .tableActionsContainer {
        position: relative;
        padding-left: 10px;

        @include small-breakpoint {
            padding-top: 0; // no stage so to need add space after
            &:not(.selectionActionsOpen) {
                background-color: $secondary-bar-background-color;
            }
        }
    }

    .reportToolbar {
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        align-items: flex-start;
        color: $search-input-color;

        &.noFacets {
            justify-content: flex-start;
        }

        > .pageActions {
            line-height: 40px;
            align-self: stretch;
        }

        .leftReportToolbar {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            align-items: flex-start;
        }

        .rightReportToolbar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color: $pagination-iconfont-darkblack-color;

            .recordsCountLoaderContainer {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 32px;

                .loadedContent {
                    display: block;
                    width: 100%;
                }

                .loader {
                    position: relative;
                    width: 8%;
                }

                .recordsCount {
                    text-align: right;
                    font-family: "Lato", Sans-Serif;
                    font-size: 14px;

                    @include small-breakpoint {
                        color: $pagination-mobile-topbar-text-color;
                        white-space: nowrap;
                        margin-left: 15px;
                        line-height: 40px;
                    }
                }
            }

            .reportNavigation {
                display: flex;
                align-items: center;
            }

            .loadedContent {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }

        .filterSearchBoxContainer {
            flex-shrink: 0;

            .filterSearchBox {
                min-width: 60px;
                max-width: 190px;
            }
        }

        > .facetsMenuContainer {
            flex-shrink: 1;

            .facetsMenuButton {
                .withoutSelections {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        .clearAllFacets {
            display: inline-block;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            vertical-align: top;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .spacer {
        width: 15px;
    }

    .reportFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 0 1 auto;
        color: $pagination-iconfont-normal-color;

        .leftReportFooter {
            width: 50%;
        }

        .rightReportFooter {
            position: relative;
            width: 50%;
            margin-left: 50%;
        }

        .hidden {
            display: none;
        }
    }

    .loadedContent {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        position: relative;
        //min-height is required in order for the scrollbar to work in firefox
        min-height: 0;
    }
}

@include small-breakpoint {
    .layout-stage {
        .right {
            display: none;
        }

        .report-content .left {
            width: 100%;
        }
    }

    .filterSearchBox {
        .searchInput {
            border: none;
        }
    }
}

@include medium-breakpoint {
    .layout-stage {
        .right {
            display: none;
        }

        .report-content .left {
            width: 100%;
        }
    }
}

.reportContent {
    > * {
        flex: 0 0 auto;
        .loadedContent {
            flex: 1 0 auto;
        }
    }
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;

    &.loading {
        // allow space for the loader spinner
        min-width: 100%;
        min-height: 70px;
        overflow: hidden;
    }
}

.reportToolbarContainer {
    width: 100%;
}

.noData {
    padding-left: 1.5rem;
}

.addNewRecord {
    display: none;
}

.sortAndGroupPopoverContainer {
    margin-left: 10px;
}

.sortButtonSpan {
    display: inline-block;
    cursor: pointer;
    color: $icon-color-hover;

    @include small-breakpoint {
        color: $secondary-bar-color;
    }

    .sortButton {
        font-size: 18px;
        cursor: pointer;

        @include small-breakpoint {
            font-size: $size-iconfont-large;
            line-height: 0.8;

            &:hover {
                color: $icon-light-color-hover;
            }
        }

        &.qbIcon {
            display: inline;
        }
    }
}

$add-record-fg: $color-black-100;
$add-record-bg: $color-cyan-500;
$add-record-radius: 20px;

.embeddedReportContainer {
    margin-bottom: 35px;
}

@include small-breakpoint {
    .reportContainer .reportToolsAndContentContainer .reportToolbar {
        color: $secondary-bar-color;
        justify-content: space-between;

        .popover-content {
            color: $iconfont-on-light-normal-color;
        }
    }

    .reportContainer .reportToolsAndContentContainer .loadedContent {
        margin: 0;
        width: 100%;
    }

    .addNewRecord {
        display: inline-block;
        position: fixed;
        right: 24px;
        bottom: 24px;
        font-size: $size-iconfont-xlarge;
        color: $add-user-button;
        text-align: center;
        width: $add-record-radius * 2;
        height: $add-record-radius * 2;
        -moz-border-radius: $add-record-radius;
        -webkit-border-radius: $add-record-radius;
        border-radius: $add-record-radius;

        // This is temporary until the icon is fixed with a non-transparent plus sign
        &:before {
            position: absolute;
            content: "";
            z-index: -1;
            left: 10px;
            top: 10px;
            background-color: $color-black-100;
            height: 20px;
            width: 20px;
        }

        .qbIcon {
            line-height: $add-record-radius * 2;

            &:hover {
                color: $default-hover-color;
            }
        }
        &:hover {
            color: $add-record-fg;
        }

        &:focus {
            color: $add-record-fg;
        }
    }
}

@include not-small-breakpoint {
    .reportContent .loadedContent {
        padding: 0 10px;
    }
}