@import '../../../src/assets/css/qbVariables';

.report-content {
    display: flex;
    min-height: 200px;

    .left {
        flex: 1;
        padding: 0 10px;
        margin-right: 120px;
        .stage-showHide-content {
            margin-top: 20px;
        }

        .stageTop {
            display: flex;
            flex-direction: row;
            .header {
                flex: 1;
                font-size: 22px;
                color: #404040;
                line-height: 22px;
                margin-top: 3px;
            }
            .stageActions {
                a {
                    text-decoration: none;
                }
                flex: 0 1 auto;
                .qbIcon {
                    vertical-align: middle;
                    padding-right: 4px;
                }
            }
        }

        .subheader {
            margin-top: 7px;
            font-size: 14px;
            color: #6e8ba8;
            text-transform: inherit;
        }

        .content {
            color: #404040;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }

    }
}
