@import '../../assets/css/qbVariables';

.reportHeader {
    .center.title {
        .reportLabel {
            flex: 0 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@include not-small-breakpoint {
    .reportHeader {
        display: none;
    }
}
