
$search-bar-bg: #5f8ba7;
$report-group-bg: #fff;
$report-icon-color: #f87878;

.reportsContainer {

    .reportsTop {
        background-color: $search-bar-bg;
        padding:10px 0 10px 16px;
    }
}

.reportGroups {
    margin:16px;
    max-height:60%;

    .qbPanel {
        width:100%;
    }
    .reportGroup {

        margin-bottom:16px;
        background-color: $report-group-bg;

        .reportItems {
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
        .reportLink {
            display:flex;
            align-items:baseline;
            text-overflow:ellipsis;
            overflow:hidden;
            .qbIcon {
                flex: 0 0 auto;
                color: $report-icon-color;
                width:22px;
            }
            margin-right: 20px;
            margin-bottom: 10px;
            flex:0 0 200px;
            cursor:pointer;
        }
    }
}