@import '../../../src/assets/css/qbVariables';

$search-bar-bg: #5f8ba7;
$report-group-bg: #fff;
$report-icon-color: #f87878;
$report-link-color: #404040;

.reportsList {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.reportsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .reportsTop {
        background-color: $search-bar-bg;
        padding: 15px 16px;
        flex: 0 0 auto;
    }
}

.reportGroups {
    flex: 1 1 auto;
    padding: 16px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .qbPanel {
        width: 100%;
    }
    .reportGroup {

        margin-bottom: 16px;
        background-color: $report-group-bg;

        .reportItems {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }

        .reportLink {
            display: flex;
            align-items: baseline;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $report-link-color;
            .qbIcon {
                flex: 0 0 auto;
                width: 22px;
            }
            .iconTableUISturdy-report-table {
                color: $report-icon-table-color;
            }
            .iconTableUISturdy-summary {
                color: $report-icon-summary-color;
            }
            .iconTableUISturdy-report-pie {
                color: $report-icon-pie-color;
            }
            .iconTableUISturdy-report-calendar {
                color: $report-icon-calendar-color;
            }
            .iconTableUISturdy-report-grid-edit {
                color: $report-icon-grid-edit-color;
            }
            .iconTableUISturdy-report-timeline {
                color: $report-icon-timeline-color;
            }
            .iconTableUISturdy-report-map {
                color: $report-icon-map-color;
            }
            margin-right: 20px;
            margin-bottom: 10px;
            flex: 0 0 200px;
            cursor: pointer;

            &:hover,&:focus {
                text-decoration: none;
            }
        }
    }
}
