@import "../../assets/css/qbVariables";

.newItemButton {
    position: sticky !important;
    position: -webkit-sticky !important;
    bottom: 0;
    background-color: $leftnav-background-color;
    border-top: 1px solid $leftnav-background-stroke-color;

    .newItem {
      cursor: pointer;
      line-height: 40px;

      &:hover {
        color: $left-nav-link-hover-color;
        background-color: $leftnav-table-selected-color;
      }
      .hoverComponent {
        span {
          padding-left: 15px;
        }
      }
    }

    .hoverComponent {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      vertical-align: middle;
      line-height: 40px;
      width: 200px;
      background-color: $leftnav-table-selected-color;

      a {
        flex: 1;
        opacity: 1;
        color: $left-nav-color;
      }

      a.right {
        flex: 0 0 auto;
        color: $left-nav-color;
      }
    }

    /* hide tables footer (add new table) for small */

    .link.newItemButton {
      display: none;
    }

}
