@import "../../assets/css/qbVariables";

.emptyState {
    text-align: center;
    border: $stroke-width-thin dashed $emptystate-border-color;
    height: 170px;
    margin-left: 9px;
    margin-right: 6px;
    padding-top: 16px;

    .createNewIcon {
        .addNewIcon {
            font-size: 56px;
            color: $add-user-button;
            padding-top: 20px;

            &:hover {
                color: $default-hover-color;
            }

            &:active {
                color: $edit-icon-normal-color;
            }
        }

        .iconMessage {
            height: 30px;
            font-size: $size-iconfont-small;
            color: $add-user-button;
            padding-top: 13px;
            margin-left: 11px;

            &:hover {
                color: $default-hover-color;
            }

            &:active {
                color: $edit-icon-normal-color;
            }
        }
    }
}
