@import "../../assets/css/qbVariables";

$toolpalette-header-weight: 400;
$toolpalette-header-color: $color-black-400;
$toolpalette-header-font-size: 10px;

.listOfElementsContainer {
    //By giving it a border the same size as the focus border and a transparent background,
    //it keeps the container from 'jumping' on focus
    border: $stroke-width-thin solid transparent;
    overflow: auto;
    background-color: $leftnav-background-color;
    width: 100%;
    height: 100%;

    padding: $spacing-xxx-small;

    transition: padding 0.3s;

    .tooltip {
        z-index: 100;
        opacity: 1;
    }

    .tipChildWrapper {
        cursor: pointer;
    }

    .listOfElementsMainList, .listOfElementsItemList, .animatedListOfElementsItemList {
        list-style-type: none;
        padding: 0;
    }

    .listOfElementsMainList {
        margin-bottom: $spacing-medium3; // Add margin to the bottom so the last element can be seen when scrolled to the bottom
        .listOfElementsItemGroup {
            padding-top: $spacing-xx-small;
        }
    }

    .listOfElementsItemList, .animatedListOfElementsItemList {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .listOfElementsItemHeader {
        color: $toolpalette-header-color;
        font-size: $toolpalette-header-font-size;
        font-weight: $toolpalette-header-weight;
        letter-spacing: 0.7px;
        margin-top: $spacing-tiny;
        margin-bottom: $spacing-tiny;
        text-transform: uppercase;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .listOfElementsItem {
        padding-bottom: 3px; // No semantic spacing for 3px, but requested by design
        .fieldToken:not(.fieldTokenCollapsed) {
            width: 100%;
        }
    }

    .searchInputBox {
        opacity: 1;
        max-width: $leftnav-width-standard;
        max-height: 45px;
        margin-bottom: $spacing-xxx-small;

        @include small-breakpoint {
            // On small breakpoint,
            // the left nav width is based on the device width so set to 100% on mobile.
            max-width: 100%;
        }

        transition: opacity 0.3s, max-width 0.3s, max-height 0.3s;
    }

    &.listOfElementsCollapsed {
        padding: 2px;

        .searchInputBox {
            opacity: 0;
            max-width: 0;
            max-height: 0;

            transition: opacity 0.3s, max-width 0.3s, max-height 0.3s;
        }
    }
    //For the left nav focus
    &:focus {
        outline: none;
        border: $stroke-width-thin solid $selected-color;
    }

    .fieldTokenInMenuWrapper {
        //By giving it a border the same size as the focus border and a transparent background,
        //it keeps the container from 'jumping' on focus
        border: $stroke-width-thin solid transparent;
        box-shadow: 0 0 2px 0 rgba(transparent, 0);
        &:focus {
            outline: none;
            border-radius: $border-radius-base;
            box-shadow: 0 0 2px 0 rgba($selected-color, 0.75);
            border: $stroke-width-thin solid $selected-color;
        }
    }

    /* Icon set up for collapsible headers */
    .Collapsible {
        .is-open {
            .collapsibleHeader {
                .headerCollapseIcon {
                    transform: rotate(0deg);
                    transition: all 300ms linear;
                }
            }
        }
        .is-closed {
            .collapsibleHeader {
                .headerCollapseIcon {
                    transform: rotate(180deg);
                    transition: all 300ms linear;
                }
            }
        }
        .collapsibleHeader {
            > * {
                vertical-align: middle;
                display: inline-block;
            }
            .headerCollapseIcon {
                margin-right: 5px;
            }
        }
    }
}
