@import "../../assets/css/qbVariables";

.standardLeftNav {
    background-color: $leftnav-background-color;
    border-right: 1px solid $leftnav-background-stroke-color;
    color: $color-black-700;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    // Turn off traditional link styling for nav items
    a, a:hover, a:focus {
        text-decoration: none;
    }

    // Prevents the nav from collapsing (i.e., branding appears at the top) when loading nav items
    .loader {
        flex: 1 auto;
    }

    .contextHeader {
        flex: 0 0 auto; // Don't shrink this on a short window.
        background-color: $leftnav-app-background-color; // Default for the left nav
        @include correctFontWeightForLightTextOnDarkBackground;
        min-height: 40px;
        max-height: 105px;

        transition: max-height 0.3s;

        .contextHeaderButton {
            opacity: 1;
            overflow: hidden;
            background-color: transparent;
            padding: 10px 28px;
            color: $leftnav-app-icon-color;
            border: 0;
            border-radius: 0;
            margin: 0;
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            display: block;
            align-items: center;
            font-size: 20px;
            width: 100%;

            transition: opacity 0.3s 0.2s;
        }

        &.contextHeaderCollapsed {
            max-height: 40px;

            transition: max-height 0.3s 0.1s;

            .contextHeaderButton {
                padding: 5px 10px;
            }

            .contextHeaderTitle {
                opacity: 0;

                transition: opacity 0.1s;
            }

            .contextHeaderIcon {
                font-size: 20px;
                width: 100%;

                transition: font-size 0.2s 0.1s;
            }
        }

        &.contextHeaderHidden {
            max-height: 40px;

            transition: max-height 0.3s 0.3s;

            .contextHeaderButton {
                opacity: 0;
                transition: opacity 0.3s 0s; // Need a 0 here to override the 0.2s delay above
            }
        }

        &.contextHeaderSmall {
            max-height: 40px;
            display: flex;

            transition: max-height 0.3s 0.1s;

            .contextHeaderButton {
                display: flex;
                flex-direction: row;
                padding: 0 10px;
                align-items: center;
                justify-content: center;
            }

            .contextHeaderIcon {
                font-size: 24px;
                width: 24px;
                flex-grow: 0;
                flex-shrink: 0;
                // Safari seems to ignore the parent's align-items: center and justify-content: center
                align-self: center;
                margin-left: auto;
            }

            .contextHeaderTitle {
                margin: 0;
                padding-left: 5px;
                margin-right: auto;
            }
        }

        .contextHeaderIcon {
            font-size: 40px;
            width: 40px;
        }

        .contextHeaderTitle {
            opacity: 1;
            margin-top: 10px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;

            transition: opacity 0.1s 0.2s;
        }

        .contextHeaderToggle {
            position: absolute;
            right: 10px;
            bottom: 16px;
            color: $leftnav-app-icon-color;
            font-size: 14px;

            transition: transform 0.3s ease-in;
            transform: rotate(0);

            &.contextToggleDown {
                transform: rotate(-180deg);
            }
        }

        // Override the not allowed icon on tooltips and allow for long title to have ellipses
        .tipChildWrapper {
            cursor: pointer;
            width: calc(100% - 40px);
        }
    }

    // NOTE: When global actions are present, they should look very similar to primary actions.
    // That is why you will see css selectors for globalActions here.
    .standardLeftNavPrimaryActions, .globalActionsList {
        display: flex;
        flex: 0 0 auto; // don't allow the navItems to overlap this element
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        &.standardLeftNavPrimaryActionsCollapsed {
            flex-direction: column;
        }

        .primaryAction {
            flex: 1 auto;

            &:last-child .simpleNavItem {
                border-right: 0;
            }
        }
    }

    .globalAction {
        flex: 1 auto;
        border-top: 1px solid $leftnav-background-stroke-color;

        &:not(:last-child) {
            border-right: 1px solid $leftnav-background-stroke-color;
        }

        .globalActionLink, .globalActionLink .dropdownToggle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $leftnav-items-color;
        }

        .globalActionLink {
            padding-top: $spacing-tiny;
            padding-bottom: $spacing-tiny;

            .qbIcon {
                font-size: 18px;
            }
        }
    }

    .standardLeftNavItems {
        flex: 1 auto;
        width: 100%;
        overflow: auto;

        .standardLeftNavItemsList {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .standardLeftNavBranding {
        opacity: 1;
        background-color: $leftnav-brandarea-background-color;
        border-top: 1px solid $leftnav-background-stroke-color;
        padding: 10px;
        text-align: center;

        transition: opacity 0.3s;

        .leftNavLogo {
            width: 45%;

            @include small-breakpoint {
                width: 28%;

            }
        }
    }

    &.isCollapsedStandardLeftNav {
        .standardLeftNavBranding {
            opacity: 0;
        }
    }

    .standardLeftNavPrimaryActions {
        .primaryAction {

            .navItemPrimaryAction {
                .primaryNavItem {
                    margin: 10px 50px 10px 0px;

                    .navItemSecondaryIcon {
                      margin-left: -1px;
                    }
                }
            }
        }
    }
}