@import "../../assets/css/qbVariables";

.standardLeftNav {
    background-color: $leftnav-background-color;
    border-right: 1px solid $leftnav-background-stroke-color;
    color: $color-black-700;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    // Turn off traditional link styling for nav items
    a, a:hover, a:focus {
        text-decoration: none;
    }

    // Prevents the nav from collapsing (i.e., branding appears at the top) when loading nav items
    .loader {
        flex: 1 auto;
        margin-top: 50px;
    }

    // NOTE: When global actions are present, they should look very similar to primary actions.
    // That is why you will see css selectors for globalActions here.
    .standardLeftNavPrimaryActions, .globalActionsList {
        display: flex;
        flex: 0 0 auto; // don't allow the navItems to overlap this element
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        &.standardLeftNavPrimaryActionsCollapsed {
            flex-direction: column;
        }

        .primaryAction {
            flex: 1 auto;

            &:last-child .simpleNavItem {
                border-right: 0;
            }
        }
    }

    .globalAction {
        flex: 1 auto;
        border-top: 1px solid $leftnav-background-stroke-color;

        &:not(:last-child) {
            border-right: 1px solid $leftnav-background-stroke-color;
        }

        .globalActionLink, .globalActionLink .dropdownToggle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $leftnav-items-color;
        }

        .globalActionLink {
            padding-top: $spacing-tiny;
            padding-bottom: $spacing-tiny;

            .qbIcon {
                font-size: 18px;
            }
        }
    }

    .standardLeftNavItems {
        flex: 1 auto;
        width: 100%;
        overflow: auto;

        .standardLeftNavItemsList {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .standardLeftNavBranding {
        opacity: 1;
        background-color: $leftnav-brandarea-background-color;
        border-top: 1px solid $leftnav-background-stroke-color;
        padding: 10px;
        text-align: center;

        transition: opacity 0.3s;

        .leftNavLogo {
            width: 45%;

            @include small-breakpoint {
                width: 28%;

            }
        }
    }

    &.isCollapsedStandardLeftNav {
        .standardLeftNavBranding {
            opacity: 0;
        }
    }

    .standardLeftNavPrimaryActions {
        .primaryAction {

            .navItemPrimaryAction {
                .primaryNavItem {
                    margin: 10px 50px 10px 0;

                    .navItemSecondaryIcon {
                        margin-left: -1px;
                    }
                }
            }
        }
    }
}