@import '../../assets/css/qbVariables';

.itemCount {
  text-align: right;
  font-family: "Lato", Sans-Serif;
  font-size: 14px;

  @include small-breakpoint {
    white-space: nowrap;
    margin-left: 15px;
    line-height: 40px;
  }
}