@import "../../assets/css/qbVariables";

.stageHeaderComponent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    .stageHeaderTopRow {
        display: flex;
        align-items: center;
    }

    .stageHeaderIcon {
        flex: 0;
        color: $stage-headline-icon-color;
        font-size: $font-size-h3 + 2;
        margin-right: $spacing-xx-small;
    }

    .stageHeaderContent {
        flex: 1 auto;
        display: flex;
        flex-direction: column;
    }

    .stageHeaderTitleContainer {
        flex: 1 auto;
        align-items: center;
        font-size: $font-size-small;
        color: $stage-headline-color;
        margin-bottom: $spacing-xxx-small;

        .stageHeaderTitle {
            height: $font-size-h3 + 2; // Adds extra height so descenders don't get cut off by overflow: hidden
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .stageHeaderDescriptionContainer {
        text-align: left;
        color: $stage-headline-color;
        max-width: 60%;
        white-space: normal;

        @include medium-breakpoint {
            max-width: 100%;
        }

        @include small-breakpoint {
            max-width: 100%;
        }
    }
}