/* app css master stylesheet */
/* imports */
/* line 4, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard ul, .quickbase-app .dashboard ol, .quickbase-app .dashboard dl {
  list-style-type: none;
}
/* line 8, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard h5 {
  background-color: #c7c7c7;
}
/* line 11, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard h3 {
  background-color: #6e8ba8;
}
/* line 14, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard h4 {
  background-color: #6e8ba8;
}
/* line 17, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
/* line 25, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu:before {
  content: "[";
}
/* line 29, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu:after {
  content: "]";
}
/* line 33, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu > li {
  display: inline;
}
/* line 37, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
/* line 42, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* line 47, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard ul, .quickbase-app .dashboard ol, .quickbase-app .dashboard dl {
  list-style-type: none;
  margin: 10px;
}
/* line 52, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .content {
  float: left;
  height: 500px;
  min-height: 300px;
  position: relative;
  width: 66.67%;
}
/* line 62, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .nav-content {
  background-color: #6e8ba8;
  width: 165px;
  float: left;
  position: relative;
  height: 1000px;
}
/* line 69, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .nav-content button {
  margin: 20px;
  height: 51px;
}
/* line 77, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard ul a.ng-binding {
  cursor: pointer;
  color: #131f2b;
}
/* line 81, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard ul a.ng-binding:hover {
  border-left-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), -1px 0 rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(top, #4f8aea 0%, #3e67e5 100%);
  background-image: linear-gradient(to bottom, #4f8aea 0%, #3e67e5 100%);
}
/* line 89, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .harmony-header {
  background-color: #6e8ba8;
  height: 40px;
  float: left;
  position: relative;
  width: 66.67%;
  min-width: 640px;
}
/* line 97, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .harmony-subHeader {
  height: 230px;
  background-color: #193048;
  float: left;
  position: relative;
  width: 66.67%;
  min-width: 640px;
}
/* line 106, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_dashboard.scss */
.quickbase-app .dashboard .harmony-footer {
  background-color: #6e8ba8;
  height: 40px;
  float: left;
  position: relative;
  width: 66.67%;
  min-width: 640px;
}
/* line 1, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report {
  min-width: 640px;
}
/* line 3, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header {
  margin: 25px;
}
/* line 5, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .left {
  float: left;
  width: 50%;
  padding: 0px 50px;
}
/* line 9, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .left p {
  font-size: 12px;
}
/* line 12, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .left p.header {
  font-size: 14px;
  font-weight: bold;
}
/* line 18, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .right {
  font-size: 14px;
  float: left;
  width: 50%;
  padding: 0px 50px;
}
/* line 23, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .right .time {
  float: left;
  width: 50%;
  padding: 0px 25px;
}
/* line 28, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-header .right .reminder {
  float: left;
  width: 50%;
  padding: 0px 25px;
}
/* line 37, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content {
  float: left;
  clear: left;
  width: 100%;
  padding: 50px 70px;
}
/* line 43, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content .grid-table {
  width: 100%;
  border-bottom-color: #cedcea;
}
/* line 46, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content .grid-table .grid-cell {
  padding: 3px;
  text-align: left;
}
/* line 49, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content .grid-table .grid-cell.header {
  height: 32px;
  background-color: #e3eaf3;
  color: #6e8ba8;
}
/* line 54, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content .grid-table .grid-cell.data {
  font-size: 12px;
}
/* line 56, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_report.scss */
.quickbase-app .report .report-content .grid-table .grid-cell.data.currency {
  text-align: right;
}
