/* realm application master css stylesheet */
/* imports */
/* line 3, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_icons.scss */
.attach-clip {
  background: url('images-s35f5aebca5.png') 0 -20px;
}

/* line 4, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/_icons.scss */
.intuit-logo {
  background: url('images-s35f5aebca5.png') 0 0;
}

/* line 9, /Users/dhatch/Projects/qbui/ui/client/quickbase/assets/realm.scss */
.quickbase-realm .intuit-logo {
  width: 68px;
  height: 20px;
  background: url('images-s35f5aebca5.png') 0 0 no-repeat;
}
