@import '../../../../src/assets/css/qbVariables';

$header-cell-border: $color5;
$header-cell-border-bottom: $color6;
$header-cell-background-color: $color7;
$header-cell-color: $color8;

$row-background-color-hover: $color1;
$row-cell-border-color: $color4;

$grid-font-size: $font-size - 2;
// override default font style
.ag-font-style {
    font-size: $grid-font-size;
}

.agGrid {
    font-family: $font-family;
    color: $font-color;
    font-size: $grid-font-size;
    -webkit-font-smoothing: antialiased;
    background-color: $color2;

    .ag-header-cell {
        color: $header-cell-color;
        font-size: 12px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        border-color: $header-cell-border;
        border-right: 1px solid $header-cell-border;
        border-bottom: 2px solid $header-cell-border-bottom;
        background-color: $header-cell-background-color;
        text-align: left;

        .ag-header-cell-label {
            padding: 5px 8px 2px 8px;
        }
    }

    .ag-cell {
        word-wrap: break-word;
        padding: 8px;
        border-right: 1px solid $row-cell-border-color;
        border-bottom: 1px solid $row-cell-border-color;
    }

    .ag-row:hover {
        background-color: $row-background-color-hover;
        cursor:pointer;
    }
    .ag-cell.Bold {
        font-weight: bold;
    }
    .NoWrap {
        white-space: nowrap;
    }
    .ag-header-cell.AlignRight, .ag-cell.AlignRight {
        text-align: right;
    }

    .SelectAllCheckbox {
        margin: 0px;
    }
}

.tableActionsContainer {
    position: relative;
    overflow:hidden;
}
.tableActionsContainer.toolsMenuOpen {
    overflow:visible; /* hidden for css transitions but need overflow:visible to prevent clipping of facets menu etc. */
}

/* table actions transitions */
.tableActions-enter {
    top: -50px;
}

.tableActions-enter.tableActions-enter-active {
    top: 0;
    transition: top 300ms linear;

}

.tableActions-leave {
    top: 0;
}

.tableActions-leave.tableActions-leave-active {
    top: 50px;
    transition: top 300ms linear;
}

.swipeable {
    position: relative;
}

.rowActions {
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;

    white-space: nowrap;
    position: absolute;

    .recordActions {
        padding: 0;
        height:100%;
        width:240px;

        .actionIcons {
            display:flex;
            flex-direction:row;
            width:100%;
            height:100%;

            .iconLink {
                flex:1 1 auto;
                height:100%;
                position:relative;
                .qbIcon {
                    position:absolute;
                    top: calc(50% - 8px);
                    left: calc(50% - 8px);
                }
            }
        }
    }
    &.closed {
        transition: width 100ms ease-in;
        width: 0;
    }
    &.open {
        transition: width 100ms ease-in;
        width: 240px;
    }
}

/* row actions on griddle trickery */

/* hide actions column header */
.QBGriddle tr th.actions {
    display: none;
}

/* hide griddle cell containing actions */
.QBGriddle tr td.actions {
    position: relative;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;

    /* actions */
    > div {
        margin: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: row;
        //align-items: center;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $row-background-color-hover;
        white-space: nowrap;
        border-top: 1px dotted #dcdcdc;
    }
}

.QBGriddle tr:hover td.actions > div {
    visibility: visible;

}

.selectedRows .QBGriddle tr:hover td.actions > div {
    visibility: hidden;
}

