@import '../../../../src/assets/css/qbVariables';

$header-cell-border: $color5;
$header-cell-border-bottom: $color6;
$header-cell-background-color: $color7;
$header-cell-color: $color8;

$row-background-color-hover: $color1;
$row-cell-border-color: $color4;

$grid-font-size: $font-size - 2;

$grid-group-row-header-bkgrd-color: $color1;
$grid-group-row-header-border-top: $color7;
$grid-group-row-header-divider: $color21;

$grid-group-expand-icon-size: 20px;
$grid-default-group-padding: 7px;
$grid-default-cell-padding: 8px;

$row-bg-color: #fff;
$row-border-color: #ddd;
$row-box-shadow-color: #888;
$cell-edit-background-edit: #f3f8fe;

// override default font style
.ag-font-style {
    font-size: $grid-font-size;
}

.reportTable {
    width:100%;
    display:flex;
    flex-direction:column;
    flex:1 1 auto;
}

.agGrid {
    font-family: $font-family;
    color: $font-color;
    font-size: $grid-font-size;
    -webkit-font-smoothing: antialiased;

    .ag-body-container {
        background-color: $color2;
    }

    .gridHeaderCell {
        color: $header-cell-color;
        font-size: 12px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        border-color: $header-cell-border;
        background-color: $header-cell-background-color;
        text-align: left;

        .collapser {
            position: absolute;
            right: $grid-default-group-padding - $grid-default-group-padding;
        }
        .ag-header-cell-label {
            padding: 4px $grid-default-cell-padding 3px $grid-default-cell-padding;
        }
        &.selected {
            background-color: $color5;
            .ag-header-cell-menu-button {
                opacity: 1!important;
                display: block;
            }
        }
    }
    .ag-header-cell-menu-button {
        display: none;
        padding: 4px 0px 3px 0px;
    }
    .ag-header-cell:hover {
        .ag-header-cell-menu-button {
            display: block;
        }
    }

    .gridCell {
        word-wrap: break-word;
        padding: $grid-default-cell-padding;
    }

    .ag-header-row .gridHeaderCell {
        border-right: 1px solid $header-cell-border;
        border-bottom: 2px solid $header-cell-border-bottom;
        &:last-of-type {
            border-right: 0px;
        }
    }

    .ag-row .gridCell {
        border-right: 1px solid $row-cell-border-color;
        border-bottom: 1px solid $row-cell-border-color;
        &:last-of-type {
            border-right: 0px;
        }
    }
    .ag-row-group .gridCell {
        border-right: 0px;
    }

    .ag-row:hover {
        background-color: $row-background-color-hover;
        cursor:pointer;
    }
    .gridCell.Bold {
        font-weight: bold;
    }
    .NoWrap {
        white-space: nowrap;
    }
    .gridHeaderCell.AlignRight, .gridCell.AlignRight {
        text-align: right;
    }
    .gridCell.selectionCell {
        overflow:visible;
        .ag-cell-value {
            padding: 0;
            position: absolute;
            left: 30px;
            top: 1px;
            height:100%;

            .iconActions {

                line-height: inherit;
                .dropdown-menu a {

                    padding-left:4px;
                    .qbIcon {
                        margin-right:6px;
                        vertical-align:middle;
                        width:28px;
                        padding:4px;
                    }

                    &:hover {
                        .qbIcon {
                            color: #fff;
                        }
                        .qbIcon.print {
                            background-color: $icon-print-color;
                        }
                        .qbIcon.email {
                            background-color: $icon-mail-color;
                        }
                        .qbIcon.duplicate {
                            background-color: $icon-duplicate-color;
                        }
                        .qbIcon.delete {
                            background-color: $icon-delete-color;
                        }
                    }
                }
                .iconActionButton {
                    opacity: .2;
                    transition: opacity 200ms ease-in-out;

                    height: 30px;
                    width: auto;
                    background: inherit;
                    &:hover {
                        color: $topnav-icon-color;
                    }
                }
                .qbIcon.print {
                    color: $icon-print-color;
                }
                .qbIcon.email {
                    color: $icon-mail-color;
                }
                .qbIcon.duplicate {
                    color: $icon-duplicate-color;
                }
                .qbIcon.delete {
                    color: $icon-delete-color;
                }
            }
        }
        &:hover .ag-cell-value .iconActions .iconActionButton {
            transition: opacity 200ms ease-in-out;
            opacity:1;
        }
    }

    .qbIcon {
        font-size: $grid-group-expand-icon-size;
        width: $grid-group-expand-icon-size;
    }

    //styling for grouped row headers
    .ag-group-cell-entire-row {
        background-color: $grid-group-row-header-bkgrd-color;
        padding: $grid-default-cell-padding + 2 $grid-default-cell-padding $grid-default-cell-padding $grid-default-cell-padding;
    }
    .ag-row-level-0 .ag-group-cell-entire-row {
        border-top: 4px solid $grid-group-row-header-border-top;
    }
    .ag-row-group {
        &:first-of-type {
            .ag-group-cell-entire-row {
                border-top: 0;
            }
        }
    }
    .ag-group-cell-entire-row::before {
        border-top: 1px solid $grid-group-row-header-divider;
        position: absolute;
        top: -1px;
        bottom: 0;
        right: 0;
        left: 0;
        content: " ";
    }
    .group-header {
        margin-left: $grid-default-group-padding + 3;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
    }
    //assuming that we can have upto 6 group levels
    @for $i from 1 through 6 {
        .ag-row-level-#{$i}{
            .ag-group-cell-entire-row {
                padding-left: $grid-default-cell-padding + $i*($grid-default-group-padding+$grid-group-expand-icon-size)!important;
            }
        }
    }
    //styling for checkboxes - master and rows
    .checkboxHolder {
        position: relative;
        height: 30px;
    }
    .selectAllCheckbox {
        margin: 0px;
        height: 20px;
    }
    .selectAllCheckbox {
        position: absolute;
        left: $grid-default-group-padding - $grid-default-group-padding;
    }
    .ag-selection-checkbox {
        position: absolute;
        margin:0;
        left: $grid-default-group-padding + 1;
        top: $grid-default-group-padding + 1;
    }

    .ag-menu-list {
        border: 1px solid $color4;
        background: $color2;
    }
    .ag-menu-option {
        line-height: 28px;
    }
    .ag-menu-separator {
        border-bottom: 1px solid $color4;
    }
    .ag-menu-option-text {
        padding-right: 20px;
    }
    .ag-menu-option:hover {
        background-color: $color1;
    }
    .ag-menu-option-icon {
        padding: 0 5px;
    }
    .qbIcon.iconssturdy-check {
        font-size: $grid-font-size + 2;
        width: $grid-font-size + 2;
        vertical-align: middle;
        color: $color22;
    }
    .ag-menu {
        top: 24px!important;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);
        -moz-box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);
        box-shadow: 0px 4px 15px 0px rgba(70,66,66,0.15);
    }
    .ag-tab-selected {
        display: none;
    }
}

//Temporary hack - opened an issue with ag-grid
#centerRow {
    height: 100%!important;
}

.tableActionsContainer {
    position: relative;
}
.tableActionsContainer.toolsMenuOpen {
    overflow:visible; /* hidden for css transitions but need overflow:visible to prevent clipping of facets menu etc. */
}



.swipeable {
    position: relative;
}

.actions {
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;

    white-space: nowrap;
    position: absolute;

    .recordActions {
        padding: 0;
        height:100%;
        width:200px;

        .actionIcons {
            display:flex;
            flex-direction:row;
            width:100%;
            height:100%;

            .iconLink {
                flex:1 1 auto;
                height:100%;

                position:relative;
                .qbIcon {
                    position:absolute;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                }
            }
        }
    }
    &.closed {
        transition: width 100ms ease-in;
        width: 0;
    }
    &.open {
        transition: width 100ms ease-in;
        width: 240px;
    }
}

/* row actions on aggrid trickery
-- this isnt pretty but there is a good chance row actions design will change so for now just porting over logic from griddle*/

.ag-body-viewport {
    overflow:visible !important;
}
/* hide griddle cell containing actions */
.ag-row .ag-cell {
    &:nth-last-child(2) {
        border-right: 0px;
    }
}
.ag-header-row .ag-header-cell {
    &:nth-last-child(2) {
        border-right: 0px;
    }
}
.ag-cell[colid="actions"]{
    position: relative;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;

    /* actions */
    > div {
        margin: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: row;
        //align-items: center;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $row-background-color-hover;
        white-space: nowrap;
        border-top: 1px dotted $row-cell-border-color;
    }
}

.ag-row:hover .ag-cell.actions > div {
    visibility: visible;

}

.selectedRows .ag-row:hover .ag-cell.actions > div {
    visibility: hidden;
}

/* hide row editing tools by default */
.editTools {
    display:none;
}

/* hide datepicker if it's been opened but we're not over that cell */
.ag-row-selected .cellEdit.dateTimeField:not(:hover) .bootstrap-datetimepicker-widget{
    display:none !important;
}

/* last to rows are just for padding */
.ag-row:last-child {
    visibility:hidden;

}

.ag-body-container {
    background-color:inherit !important;
}
.ag-row .gridCell .cellWrapper > :not(.cellData) {
     display:none;
}

.reportToolsAndContentContainer.activeSelection .gridCell.selectionCell .iconActions {
    display:none;
}
.reportToolsAndContentContainer.singleSelection .ag-row.ag-row-selected {

    box-shadow: -2px -2px 24px $row-box-shadow-color;

    .ag-cell.gridCell {

        overflow:visible;
        padding: 0;
        margin: 0;

        border-right: 1px solid $row-border-color;
        > .cellWrapper,.ag-cell-wrapper {
            padding:2px;
            position: absolute;

            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            background-color: $cell-edit-background-edit;

            z-index:1;
            display:flex;

            .cellData {
                display:none;
            }
            .cellEdit {
                display:inline-block;
                border:1px solid $row-border-color;

                background: $row-bg-color;
                flex:1 1 auto;
                padding:0 0 0 2px;
                margin-right:2px;

                &.dateTimeField>* {
                    border:0;
                    .input-group.date input.form-control {
                        border:0;
                        padding:0;
                        font-size: 12px;
                        height: 25px;
                        border-radius:0;
                    }
                    .input-group.date .input-group-addon {
                        background: #fff;
                        height:21px;
                        padding:0;
                        border:0;
                        color: $icon-color;

                    }
                }
                &.input-group {
                    flex: 1 1 auto;
                    display:flex;
                    flex-direction: row;
                    margin-right:0;
                    padding-right:0;
                    border-right:0;

                    >input {
                        flex:1 1 auto;
                        border-radius:0;
                        border:0;
                        height:21px;
                        margin-right:1px;
                        font-size: 12px;
                        padding-left:2px;
                    }
                    >span.dropdown {
                        flex:0 0 auto;
                        width: 20px;
                        button {
                            padding-left:4px;
                            padding-top:0;
                            height: 21px;
                            width:20px;
                            border-radius:0;
                        }
                    }
                }
            }


        }
        > .ag-cell-wrapper:first-child {
            border-left:1px solid $row-border-color;
            left:0;
        }
    }

    .gridCell {

        .editTools {
            display:flex;
            flex-direction:column;
            flex: 0 0 auto;
            background-color:$cell-edit-background-edit;
            box-shadow: -8px -2px 12px $row-box-shadow-color;
            position:absolute;
            top:-26px;
            left:-31px;

            border-left: 1px solid $row-border-color;
            border-bottom:1px solid $row-border-color;
            button {
                flex: 0 0 auto;
                border:0;
                background-color:$cell-edit-background-edit;
                margin-right:2px;
                padding:6px 4px;


                .qbIcon:hover {
                    opacity:1;
                }
                .qbIcon {
                    opacity:.7;
                    width:20px;
                    font-size: 16px;
                    vertical-align:top;
                }
                .qbIcon.saveRecord {
                    color:green;
                    font-size:18px;
                }
                .qbIcon.cancelSelection {
                    color:$icon-color;
                }
                .qbIcon.deleteRecord {
                    color:red;
                }
                .qbIcon.addRecord {
                    color:$icon-color;
                }
            }
        }
    }
}


