@import '../../../../src/assets/css/qbVariables';

/* CSS hacks to the 3rd part date time picker to meet visual spec */

.bootstrap-datetimepicker-widget.dropdown-menu {
    background-color:$datepicker-header-bg;
    padding-bottom:0;
    padding-top:0;


    /* the button that switches between views */
    .picker-switch {
        color: $datepicker-select-button-fg;
        background-color:$datepicker-bg;
        border-radius:0;
        &:hover {
            background-color:$datepicker-date-hover-bg;
        }
    }

    /* the time picker view */
    .timepicker {
        background-color: $datepicker-bg;
        .glyphicon {
            color: $datepicker-select-button-fg;
        }
    }

    /* the table cells (day, year etc)   */
    button, .month, .day, .year, .minute, .timepicker-minute, .timepicker-hour {
        border:0;
        border-radius:0;
        &:hover {
            background-color: $datepicker-date-hover-bg;
        }
    }
    .btn .glyphicon:hover {
        background: $datepicker-date-hover-bg;
    }
    .btn-primary, .active  {
        background-color: $datepicker-header-bg;
        font-weight:bold;
    }

}

/* the little arrow on the top top right of the popup */
.bootstrap-datetimepicker-widget.pull-right:after {
    border-bottom-color:$datepicker-header-bg;
}

.datepicker {

    .table-condensed {

        td,th {
            border-radius:0;
        }

        /* the title bar with prev/next/date etc */
        thead {
            font-size:14px;
            background-color: $datepicker-bg;
            tr:first-child {
                background-color: $datepicker-header-bg;
                color: $datepicker-header-fg;

                th.switch,th.prev,th.next {
                    .glyphicon {
                        font-size: 22px;
                    }
                }
            }
            tr:first-child th:hover {
                background-color:  $datepicker-date-hover-bg;
                color: $datepicker-select-button-fg;
            }

            /* replace their prev/next bootstrap icons with ours */
            .glyphicon-chevron-right:before {
                font-family: "QuickBase-Sturdy";
                content: "\E90B";
            }

            /* we don't have a left so use the right one an flip it around */
            .glyphicon-chevron-left     {
                transform: rotate(180deg);
            }
            .glyphicon-chevron-left:before {
                font-family: "QuickBase-Sturdy";
                content: "\E90B";
            }
        }

        tbody tr {
            background-color: $datepicker-bg;
            line-height:20px;
            th {
                border:0;
                padding:5px;
            }
        }
    }

    /* ugh, the year and month views use < and > characters not icons */

    .datepicker-years, .datepicker-months {

        /* hide the text node with the < and > characters by making them transparent */
        th.next, th.prev, th.next:hover, th.prev:hover {
            color: transparent !important;
        }

        /* insert our icons */
        th.next:before, th.prev:after {
            font-family: "QuickBase-Sturdy";
            content: "\E90B";
            font-size: 22px;
            color: #fff;
        }
        th.next:hover:before, th.prev:hover:after {
            color: $datepicker-select-button-fg;
        }
        th.prev {
            /* flip the next icon around */
            transform: rotate(180deg);
        }
    }
}
