.leftMenu.open {
  width:350px;
  nav li {
    a.heading {
      border-top:1px solid #6f8eac;
      border-bottom:1px solid #6f8eac;
      color: #6f8eac;
      background-color: #1e3757;
    }
  }
}
.leftMenu.closed {
  width:40px;
  .nav li a.heading {
    background-color:#002b48;

  }
}

.leftMenu {
  border-right: 1px solid #ccc;
  background-color: #002b48;
  max-width: 250px;

  .nav li {
    a.leftNavLink:hover, a.leftNavLink:focus {
      text-decoration: none;
      background-color: #476b8f;
    }
    a.heading {
      //background-color:#375b7f;
      color:#ddd;
      cursor: default;
    }
    a.leftNavLink {
      color: #bbd;
      cursor: pointer;
      .glyphicon {
        margin-right: 8px;
      }
    }
  }
}


