@import '../../assets/css/qbVariables';
@import '../../assets/css/qbColorVariables';

/*left nav vars */
$left-nav-padding: 15px;
$left-nav-fg: #fff;
$left-nav-link-fg: #7090ab;
$left-nav-link-hover-fg: #fff;
$left-nav-heading-bg: #002b48;
$left-nav-input-fg: #555;

$left-nav-hover-bg: #00b0c2;
$left-nav-heading-bg: #264a6d;
$left-nav-heading-fg: #bfcfe3;
$left-nav-bg: #193048;
$selected-table-fg: #fff;
$right-icon-separator-color:#13dbf1;
$left-nav-horizontal-icon-border-color: #131f2b;

.leftNav.open {
    overflow: hidden;
}

.leftNav {
    .leftNavLabel {
        vertical-align: middle;
    }
}

.leftNav a.leftNavLink {
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.leftNav .link.withSecondary a.leftNavLink {
    padding-right: 28px;
}

.leftNav .link.selected {
    a.leftNavLink {
        color: $selected-table-fg;
    }
    a.right {
        opacity: 1;
        color: $selected-table-fg;
        background-color: $left-nav-hover-bg;
    }
}

.leftNav .globalActions {
    display:none;
}
@include small-breakpoint {
    .leftNav.open {
        width: 180px;
    }
    .leftNav .globalActions {
        display:block;
    }
}
@include medium-breakpoint {
    .leftNav.open {
        width: 200px;
    }
}
@include large-breakpoint {
    .leftNav.open {
        width: 300px;
    }
}
@include xlarge-breakpoint {
    .leftNav.open {
        width: 400px;
    }
}

body.touch .leftNav.open {
    width: 300px;
}

/* show tooltips only if .show is present unless we're on a touchscreen */
div.leftNavTooltip {
    display: none;
}

body:not(.touch) div.leftNavTooltip.show {
    display: block;
}

/* collapsed nav overrides */
body:not(.touch) .leftNav.closed {
    width: 40px;
    //overflow: hidden;
    .branding {
        .logo, .appsToggle .navLabel, .appsToggleIcon {
            display: none;
        }
    }
    li a.heading {
        background-color: $header-bg;
    }
    li.horizontal, .globalActions {
        ul {
            flex-direction: column;
        }
    }
    li.link:hover .hoverComponent {
        display: block;
    }
}

.leftNav {
    background-color: $left-nav-bg;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color: $left-nav-fg;

    position: relative;

    .qbIcon {
        font-size: 22px;
    }

    .branding {
        flex: 0 0 auto;
        border-bottom: $global-actions-border;

        .logo {
            line-height: 54px;
            padding-left: 10px;
            margin: 0;
        }
        .appsToggle {
            padding-left: 8px;
            position: relative;
            line-height: 40px;
            white-space: nowrap;
            cursor: pointer;
            background-color: $left-nav-hover-bg;
            .qbIcon {
                width: 28px;
                vertical-align: middle;
            }
            .iconssturdy-caret-filled-up {
                position: absolute;
                right: 5px;
                width: auto;
                top: 8px;
                transition: transform 300ms ease-in;
                transform: rotate(-180deg);
            }
        }
    }
    .globalActions {
        flex: 0 1 auto;
        bottom: 0;

        .globalAction {
            a {
                width: 100%;
                line-height: 25px;
            }
        }
    }
    .transitionGroup {
        flex: 1;
        overflow: visible;
        z-index: 1;
    }

    ul {
        list-style: none;
        list-style-type: none;
        list-style-position: initial;
        list-style-image: initial;
        padding: 0;
        margin: 0;

        .search {

            color: #555555;
            overflow: hidden;
            height: 0;
            transition: all 250ms ease;
            input {
                padding-left: 5px;
                border: 2px;
                width: 100%;
                color: $left-nav-input-fg;
            }
        }
        .search.open {
            padding: 0 8px;
            height: 42px;
            line-height: 28px;
            transition: all 250ms ease;
        }
        .heading {
            font-size: 12px;
            color: $left-nav-heading-fg;
            margin: 0;
            padding-left: 10px;

            &.withSecondary {
                cursor: pointer;
                line-height: 40px;
                .qbIcon {
                    font-size: 16px;
                    position: absolute;
                    right: 4px;
                    top: 10px;
                }
            }
        }

        li {
            position: relative;
            height: 40px;

            a {
                text-decoration: none;
                line-height: 40px;
                padding-left: 8px;
                color: $left-nav-link-fg;
                display: inline-block;
                cursor: pointer;
            }
            a.right {
                opacity: 0;
                position: absolute;
                right: 0;
            }

            a.backLink {
                cursor: pointer;
                width: 100%
            }

            .qbIcon {
                width: 28px;
                vertical-align: middle;
            }
            .hoverComponent {
                display: none;
                position: absolute;
                top: 0;
                left: 39px;
                vertical-align: middle;
                line-height: 40px;
                width: 200px;
                background: $left-nav-hover-bg;
                color: $left-nav-fg;
            }
        }

        li.link:hover {
            background-color: $left-nav-hover-bg;
            a {
                color: $left-nav-link-hover-fg;
            }
            a.right {
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out;
                border-bottom: 0;
                border-left: 1px solid $right-icon-separator-color;
            }

        }
    }

    .loader {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.leftNav li.horizontal, .leftNav .globalActions {
    height: auto;
    ul {
        display: flex;
        flex-direction: row;
        li {
            flex: 1 0 auto;
            height: auto;
            a.leftNavLink, a.globalActionLink {
                padding: 10px 0 0 0;
                text-align: center;
                line-height: 25px;
                .qbIcon, .navLabel {
                    display: block;
                    width: 100%;
                }
            }
        }
        li:first-child {
            border-right: 1px solid $left-nav-horizontal-icon-border-color;
        }
    }
}

.leftNav .tablesList li.horizontal {
    border-bottom: 1px solid $left-nav-horizontal-icon-border-color;
}

.leftNav .globalActions {
    border-top: 1px solid $left-nav-horizontal-icon-border-color;
}

/* left nav behaves differently on touch devices */

body.touch .leftNav {
    margin: 0;
    height: 100%;
    width: 0;
    z-index: 9999;
    overflow-y: auto;

    /* always show right link on mobile (no hover) */
    ul li.link a.right {
        opacity: 1;
        border: 0;
        .qbIcon {
            border-left: 1px solid $left-nav-link-fg;
            width: 32px;
            padding-left: 2px;
        }
    }
    ul li.link.selected a.right .qbIcon {
        border-left:0;
    }
}

body.touch .navShell.leftNavOpen {
    position: relative;
    left: -300px;

    .topNav.mobile {
        min-width: 640px;
    }
    .main {
        position: absolute;
    }
    .mainContent, .topNav {
        opacity: .1;
        transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -webkit-transition: opacity 250ms ease-in-out;
    }

    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
}

/** REACTCSSTRANSITION BASE CLASSES **/

.leftNavList-enter {
    opacity: 0.01;
}

.leftNavList.leftNavList-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.leftNavList-leave {
    opacity: 1;
}

.leftNavList-leave.leftNavList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

$transition-time: 300ms;
$travel-distance: 15;

.leftNavList-enter.appsList li {
    margin-top: -#{$travel-distance}px;
}

.leftNavList-enter-active.appsList li {
    margin-top: 0;
    transition: all $transition-time ease-in;
}

.leftNavList-enter.tablesList li {
    margin-top: #{$travel-distance}px;
}

.leftNavList-enter-active.tablesList li {
    margin-top: 0;
    transition: all $transition-time ease-in;
}

.leftNav.appsListOpen .branding .qbIcon.iconssturdy-caret-filled-up {
    transform: rotate(0deg);
}




