

.leftMenu.open {
  width:350px;
  nav li {
    a.heading {
      border-top:1px solid #6f8eac;
      border-bottom:1px solid #6f8eac;
      color: #6f8eac;
      background-color: #1e3757;
    }
  }
}

@media (min-width:500px) and (max-width: 1024px) {
  /* For mobile phones: */
  .leftMenu.open {
    width:200px;
  }
}

@media (max-width: 500px) {
  /* For mobile phones: */
  .leftMenu.open {
    width:40px;
    overflow-y:hidden;
  }
  nav li a.heading {
    visibility:hidden;
  }
}

@media (min-width: 500px) {
  /* hide tooltip if the left nav is showing labels (see above) */
  div.leftNavTooltip {
    display:none;
  }
  /* if nav is collapsed always show the tooltip regardless of width */
  div.leftNavTooltip.show {
    display:block;
  }
}


.leftMenu.closed {
  width:40px;
  overflow-y:hidden;
  .nav li a.heading {
    background-color:#002b48;

  }
}

.leftMenu {
  border-right: 1px solid #ccc;
  background-color: #002b48;
  overflow-y:auto;

  .nav li {
    a.leftNavLink:hover, a.leftNavLink:focus {
      text-decoration: none;
      background-color: #476b8f;
    }
    a.heading {
      //background-color:#375b7f;
      color:#ddd;
      cursor: default;
    }
    a.leftNavLink {
      color: #bbd;
      cursor: pointer;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      .glyphicon {
        margin-right: 8px;
      }
      span {

        text-overflow:ellipsis;
      }
    }
    .loader {
      position:absolute;
      right:20px;
      top:20px;
    }
  }
}


