@import '../../assets/css/qbVariables';

/* nav vars */
$left-nav-padding: 15px;
$left-nav-reports-bg: #486C8F;
$left-nav-bg: #002b48;
$left-nav-fg: #fff;
$left-nav-link-fg: #bbd;
$left-nav-heading-bg: #002b48;
$left-nav-input-fg: #555;
$left-nav-hover-bg: #0097CD;

.leftNav.open {
  overflow:hidden;
}

.leftNav a.leftNavLink {
  width:100%;
  cursor:pointer;
}

.xlarge-breakpoint .leftNav.open {
  width:400px;

}
.large-breakpoint .leftNav.open {
  width:300px;

}
.medium-breakpoint .leftNav.open {
  width:200px;
}

.small-breakpoint .leftNav.open {
  width:350px;

}

/* show tooltips only if .show is present unless we're in small (phone) breakpoint */
div.leftNavTooltip {
  display:none;
}
body:not(.small-breakpoint) div.leftNavTooltip.show {
  display:block;
}

body:not(.small-breakpoint) .leftNav.closed {
  width:40px;
  overflow-y:hidden;
  li a.heading {
    background-color:$left-nav-heading-bg;
  }

  .reportsList.open {
    width:40px;
  }
}

.leftNav {
  border-right: 1px solid #ccc;
  background-color: $left-nav-bg;
  display:flex;
  flex-direction:column;

  color: $left-nav-fg;

  position:relative;
  .appsToggle {
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
  }

  .branding {
    flex: 0 0 auto;
    padding:10px;
    border-bottom: $global-actions-border;
    .hi-chevron-down {
      transition: transform 300ms ease-in;
    }
  }
  .globalActions {
    flex: 0 1 auto;
    bottom:0;

    .globalAction {
      border-top: $global-actions-border;
      a {
        width:100%;
      }
    }
  }
  .transitionGroup {
    flex: 1;
    overflow-y:auto;
  }
  .searchApps,.searchReports {
    padding:8px;
    input {
      padding: 5px 10px;
      width: 100%;
      color: $left-nav-input-fg;
      height:25px;
    }
  }

  ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    padding: 0;
    margin: 0;

    .heading {
      font-size: 12px;
      line-height: 30px;
      background-color: #264a6d;
      color: #BFCFE3;
      margin: 0;
      padding-left: 10px;
    }
    .heading:hover {
      color:#fff;
    }

    li {
      position:relative;

      a {
        text-decoration:none;
        line-height: 45px;
        padding-left: 10px;
        color: #CAD8E9;
        display:inline-block;
        //width:100%;
        cursor:pointer;
      }
      a.right {
        opacity:0;
        position:absolute;
        right: 5px;
      }
      a.backLink {
        cursor:pointer;
        width:100%
      }
    }
    li.link:hover {
      color: #fff;
      background-color: $left-nav-hover-bg;

      a.right {
        opacity:1;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
      }
    }
  }

  .loader {
    position:absolute;
    right:20px;
    top:20px;
  }
}

/* small (mobile) left nav behaves differently */

.small-breakpoint .leftNav {
  margin: 0;
  height: 100%;
  width:0;
  z-index: 9999;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.small-breakpoint .navShell.leftNavOpen {
  position: relative;
  left:-350px;

  .main {
    //position:absolute;
  }
  .mainContent {
    opacity: .1;
    transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;
  }

  transform: translate3d(350px, 0, 0);
  -webkit-transform: translate3d(350px, 0, 0);
}

/** REACTCSSTRANSITION BASE CLASSES **/

.leftNavList-enter {
  opacity: 0.01;
}

.leftNavList.leftNavList-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
  // transition: opacity 500ms ease-in;
}

.leftNavList-leave {
  opacity: 1;
}

.leftNavList-leave.leftNavList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

$transition-time: 300ms;
$travel-distance: 15;

.leftNavList-enter.appsList li {
  margin-top: -#{$travel-distance}px;
}

.leftNavList-enter-active.appsList li {
  margin-top: 0;
  transition: all $transition-time ease-in;
}

.leftNavList-enter.tablesList li {
  margin-top: #{$travel-distance}px;
}

.leftNavList-enter-active.tablesList li {
  margin-top: 0;
  transition: all $transition-time ease-in;
}

.leftNav.appsListOpen .branding .hi-chevron-down {
  transform: rotate(-180deg);
}
.leftNav .reportsContainer {
  flex-direction: column;
  display: flex;
  height:100%;

  .reportItems {
    overflow-y:auto;
  }
}

.leftNav .reportsList {
  opacity: 0.5;
  transform: translate3d(100%, 0, 0);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background-color: $left-nav-reports-bg;
}


.leftNav .reportsList.open {
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transform: translate3d(0, 0, 0);

  a {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
  }
}
