@import '../../assets/css/qbVariables';

/*left nav vars */
$left-nav-padding: 15px;
$left-nav-fg: $color2;
$left-nav-link-fg: $color23;
$left-nav-link-hover-fg: $color2;
$left-nav-heading-bg: $color24;
$left-nav-input-fg: $color25;

$left-nav-hover-bg: $color26;
$left-nav-hover-bg-hover: $color27;
$left-nav-heading-bg: $color28;
$left-nav-heading-fg: $color29;
$left-nav-bg: $color30;
$selected-table-fg: $color2;
$right-icon-separator-color: $color3;
$right-icon-separator-color-hover: $color31;
$left-nav-horizontal-icon-border-color: $color32;

.leftNav.expanded {
    overflow: visible;
}

.leftNav {
    a,a:hover,a:focus {
        text-decoration: none;
    }
    .leftNavLabel {
        vertical-align: middle;
    }
}

.leftNav a.leftNavLink {
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.leftNav .link {
    height: 40px;
    a.leftNavLink {
        padding-right: 34px;
    }
}

.leftNav .link.selected {
    background-color: $left-nav-hover-bg-hover !important;
    a.leftNavLink {
        color: $selected-table-fg;
    }
    a.right {
        opacity: 1;
        color: $selected-table-fg;
        border-left: 1px solid $right-icon-separator-color-hover !important;
    }
}

.leftNav .globalActions {
    display: none;
}

@include medium-breakpoint {
    .leftNav.expanded {
        width: 200px;
    }
}

@include large-breakpoint {
    .leftNav.expanded {
        width: 220px;
    }
}

@include xlarge-breakpoint {
    .leftNav.expanded {
        width: 300px;
    }
}

@include small-breakpoint {
    .leftNav .globalActions {
        display: block;
    }
    .leftNav.open {
        width: 300px;
        transition: width 100ms ease;
        .topLinks .leftNavLink {
            padding: 10px 0;
            .qbIcon {
                display: inline-block;
                width: auto;
            }
        }
    }
}

/* show tooltips only if .show is present unless we're on a touchscreen */
div.leftNavTooltip {
    display: none;
}

@include not-small-breakpoint {
    div.leftNavTooltip.show {
        display: block;
    }
}



/* collapsed nav overrides */
@include not-small-breakpoint {
    .leftNav.collapsed {
        width: 40px;
        .branding {

            .logo, .appsToggle .navLabel, .appsToggleIcon {
                display: none;
            }
        }

        li.horizontal, .globalActions {
            ul {
                flex-direction: column;
            }
        }
        li.link:hover .hoverComponent {
            display: flex;
        }

        .globalActions > ul > li > .globalActionLink {

            .navLabel {
                display: none;
            }
        }
        .globalAction:last-child {
            display: none;
        }

        .heading {
            display:none;
        }
        li.search {
            display: none;
        }
        .leftNavLabel {
            display:none;
        }
    }
}

@include small-breakpoint {
    .leftNav.closed {
        overflow: hidden;
    }
}

.leftNav {
    background-color: $left-nav-bg;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color: $left-nav-fg;

    position: relative;

    .qbIcon {
        font-size: 22px;
    }

    .branding {
        position: relative;

        flex: 0 0 auto;
        border-bottom: 1px solid $left-nav-horizontal-icon-border-color;

        .toggleNavButton {
            display: none;
            position: absolute;
            right: 10px;
            top: 11px;
            color: $left-nav-heading-fg;
            .qbIcon {
                font-size: 16px;
            }
        }
        .logo {
            line-height: 54px;
            padding-left: 10px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        button.appsToggle {
            text-overflow:ellipsis;
            overflow:hidden;
            padding-right:25px;
            color: $left-nav-fg;
            height:40px;
            border: 0;
            border-radius:0;
            margin:0;
            text-align:left;
            width:100%;
            padding-left: 8px;
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            background-color: $left-nav-hover-bg-hover;
            .qbIcon {
                width: 28px;
                vertical-align: middle;
            }
            .iconssturdy-caret-filled-up {
                position: absolute;
                right: 5px;
                width: auto;
                top: 8px;
                transition: transform 300ms ease-in;
                transform: rotate(-180deg);
            }
        }
    }
    .globalActions {
        flex: 0 1 auto;
        bottom: 0;

        .globalActionLink, .dropup {
            width: 100%;
            line-height: 25px;
        }
    }

    .search {
        color: $search-input-fg;
        overflow: hidden;
        height: 0;
        visibility:hidden;
        transition: all 250ms ease;
        input {
            padding-left: 5px;
            border: 2px;
            width: 100%;
            color: $left-nav-input-fg;
        }
    }
    .search.open {
        visibility: visible;
        padding: 0 8px;
        height: 42px;
        line-height: 28px;
        transition: all 250ms ease;
    }
    .heading {
        font-size: 12px;
        color: $left-nav-heading-fg;
        margin: 0;
        padding-left: 10px;

        &.withSecondary {
            cursor: pointer;
            line-height: 40px;
            .qbIcon {
                font-size: 16px;
                position: absolute;
                right: 8px;
                width:auto;
                top: 10px;
            }
        }
    }
    .transitionGroup {
        flex: 1;
        overflow: visible;
        z-index: 1;
    }

    ul {
        list-style: none;
        list-style-type: none;
        list-style-position: initial;
        list-style-image: initial;
    }

    ul.globalActionsList>li {
        height:auto;
    }
    ul.topLinks, ul.tablesList, ul.appsList, ul.globalActionsList {
        padding: 0;
        margin: 0;
        > li {
            position: relative;
            a, .globalActionLink {

                line-height: 40px;
                padding-left: 8px;
                color: $left-nav-link-fg;
                display: inline-block;
                cursor: pointer;
            }
            .qbIcon {
                width: 28px;
                vertical-align: middle;
            }

        }
        > li.link:hover {
            background-color: $left-nav-hover-bg;
            > a, .dropdownToggle {
                color: $left-nav-link-hover-fg;
            }
            > a.right, a.right:focus {
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out;
                border-bottom: 0;
                border-left: 1px solid $right-icon-separator-color;
            }
        }
    }

    ul.tablesList {

        > li {

            a.right {
                opacity: 0;
                position: absolute;
                right: 0;
                &:focus {
                    opacity:1;
                }
            }
            .hoverComponent {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                vertical-align: middle;
                line-height: 40px;
                width: 200px;

                background-color: $left-nav-hover-bg;
                a {
                    flex: 1;
                    opacity: 1;
                    color: $left-nav-fg;
                }
                a.right {
                    flex: 0 0 auto;
                    border-left: 1px solid $right-icon-separator-color;
                }
            }
            &.selected .hoverComponent {
                background-color: $left-nav-hover-bg-hover;
            }
        }
    }

    .loader {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.leftNav.expanded li.horizontal ul li {
    height:auto;
}
.leftNav li.horizontal, .leftNav .globalActions {
    height: auto;
    > ul {
        display: flex;
        flex-direction: row;
        > li {
            flex: 1 0 auto;
            border-right: 1px solid $left-nav-horizontal-icon-border-color;
            > a.leftNavLink, .globalActionLink {
                padding: 5px 0;
                text-align: center;
                line-height: 20px;
                border-radius:0;
                border:0;
                background-color:inherit;
                .qbIcon, .navLabel, .dropup {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.leftNav .tablesList li.horizontal {
    border-bottom: 1px solid $left-nav-horizontal-icon-border-color;
}

.leftNav .globalActions {
    border-top: 1px solid $left-nav-horizontal-icon-border-color;
}

/* left nav behaves differently on small breakpoint */

.touch .leftNav {
    /* always show right link on touch */
    ul li.link a.right {
        opacity: 1;
        border: 0;
        .qbIcon {
            border-left: 1px solid $left-nav-link-fg;
            width: 32px;
            padding-left: 2px;
        }
    }
    ul li.link.selected a.right .qbIcon {
        border-left: 0;
    }
}
@include small-breakpoint {
    .leftNav {
        margin: 0;
        height: 100%;
        width: 0;
        transition:width 100ms ease;
        z-index: 9999;

        .branding {
            .toggleNavButton {
                display: block;
            }
            .logo {
                padding-right: 24px;
            }
        }
        .tablesList li.horizontal {
            min-width:300px;
        }

    }

    .navShell.leftNavOpen {
        position: relative;
        left: -300px;

        .topNav.mobile {
            min-width: 640px;
        }
        .main {
            position: absolute;
        }
        .mainContent, .topNav {
            opacity: .1;
            transition: opacity 250ms ease-in-out;
            -moz-transition: opacity 250ms ease-in-out;
            -webkit-transition: opacity 250ms ease-in-out;
        }

        transform: translate3d(300px, 0, 0);
        -webkit-transform: translate3d(300px, 0, 0);
    }
}

/** REACTCSSTRANSITION BASE CLASSES **/

.leftNavList-enter {
    opacity: 0.01;
}

.leftNavList.leftNavList-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.leftNavList-leave {
    opacity: 1;
}

.leftNavList-leave.leftNavList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

$transition-time: 300ms;
$travel-distance: 15;

.leftNavList-enter.appsList li {
    margin-top: -#{$travel-distance}px;
}

.leftNavList-enter-active.appsList li {
    margin-top: 0;
    transition: all $transition-time ease-in;
}

.leftNavList-enter.tablesList li {
    margin-top: #{$travel-distance}px;
}

.leftNavList-enter-active.tablesList li {
    margin-top: 0;
    transition: all $transition-time ease-in;
}

.leftNav.appsListOpen .branding .qbIcon.iconssturdy-caret-filled-up {
    transform: rotate(0deg);
}




