

.leftMenu.open {
  width:300px;
  nav li {
    a.heading {
      //border-top:1px solid #6f8eac;
      //border-bottom:1px solid #6f8eac;
      color: #bbd;
      background-color: #3F5B7D
    }
  }
}

@media (min-width:700px) and (max-width: 1024px) {
  /* For mobile phones: */
  .leftMenu.open {
    width:200px;
  }
}

@media (max-width: 700px) {
  /* For mobile phones: */
  .leftMenu.open {
    width:40px;
    overflow:hidden;
  }
  body:not(.small-breakpoint) nav li a.heading {
    visibility:hidden;
  }
}

/* show tooltips only if .show is present unless we're in small (phone) breakpoint */
div.leftNavTooltip {
  display:none;
}
body:not(.small-breakpoint) div.leftNavTooltip.show {
  display:block;
}



.leftMenu.closed {
  width:40px;
  overflow-y:hidden;
  .nav li a.heading {
    background-color:#002b48;

  }
}


.leftMenu {
  border-right: 1px solid #ccc;
  background-color: #002b48;
  overflow-y:auto;

  .nav li.selected {
    a.leftNavLink {
      background-color: #2E71B5;
    }
  }

  .nav li {
    a.heading {
      padding: 3px 15px;
      color:#ddd;
      cursor: default;
      font-size:12px;
    }
    a.leftNavLink {
      color: #bbd;
      cursor: pointer;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      .glyphicon {
        margin-right: 8px;
      }
      span {

        text-overflow:ellipsis;
      }
    }
    a.leftNavLink:hover {
      background-color: #2E71B5;
    }
    .loader {
      position:absolute;
      right:20px;
      top:20px;
    }
  }
}

/* small (mobile) left nav behaves differently */

.small-breakpoint .leftMenu {
  margin: 0;
  width: 250px;
  height: 100%;
  position: absolute;
  z-index: 9999;
  left: -250px;
  border-right: 1px solid #ccc;
  background-color: #002b48;
  overflow-y: auto;
}

body:not(.small-breakpoint) .leftMenu a.leftNavLink:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.small-breakpoint .leftNavOpen {
  position: absolute;

  .mainContent {
    opacity: .4;
    transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;
  }

  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
}
// fun stuff
@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


