
.mobileLeftMenu {
  margin:0;
  width:300px;
  height:100%;
  position:absolute;
  z-index:9999;
  left:-300px;
  border-right: 1px solid #ccc;
  background-color: #002b48;
  overflow-y:auto;


  a.leftNavLink:hover, a.leftNavLink:focus {
    outline: none;
    text-decoration: none;
    background-color: #2E71B5;
  }
  a.leftNavLink {
    color: #bbd;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .glyphicon {
      margin-right: 8px;
    }
    span {
      text-overflow: ellipsis;
    }
  }
  a.mobileHeading,a.mobileHeading:hover {
    color: #bbd;
    background-color: #3F5B7D;
    padding: 3px 15px;
    cursor: default;
    font-size:12px;
  }
  .loader {
    position: absolute;
    right: 20px;
    top: 20px;
  }

}


