

.mobileLeftMenu.open {
  transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
}

.mobileLeftMenu {
  margin:0;
  width:300px;
  height:100%;
  position:absolute;
  z-index:9999;
  left:-300px;
  border-right: 1px solid #ccc;
  background-color: #002b48;
  overflow-y:auto;
  transition: -webkit-transform ease 150ms;
  -webkit-transition: transform ease 150ms;
  transition: transform ease 150ms;

  .close {
    color: #fff;
    position:absolute;
    right:10px;
    top:5px;
  }
  a.leftNavLink:hover, a.leftNavLink:focus {
    text-decoration: none;
    background-color: #476b8f;
  }
  a.leftNavLink {
    color: #bbd;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .glyphicon {
      margin-right: 8px;
    }
    span {
      text-overflow: ellipsis;
    }
  }
  a.heading {
    border-top: 1px solid #6f8eac;
    border-bottom: 1px solid #6f8eac;
    color: #6f8eac;
    background-color: #1e3757;
  }
  .loader {
    position: absolute;
    right: 20px;
    top: 20px;
  }

}


