
nav .container {
    margin-left:0;
}

.leftMenu  {

    position:absolute;
    z-index:9998;
    top:0;
    width:250px;
    height:100%;
    background:#fff;
    color: #000;
    border-right: 1px solid #ccc;
    left:-250px;

    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.leftMenu.visible {
    transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
}


.leftMenu nav a {
    color: #000;
}