
html, body {
    margin:0;
    height:100%;
    min-height:100%;
    overflow:hidden;
}

#content {
    height:100%;
}

.navShell {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;


    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .mainContent {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -webkit-transition: opacity 250ms ease-in-out;
    }

    .main {
        display:flex;
        flex-direction: column;
        flex:1;

        .topNav {
            display:flex;
            order: 1;
            flex-direction:column;
            background-color: #e1eaf2;

            >.top {
                display:flex;
                flex-basis:50px;
                align-items:center;
                font-size:14px;
                transition: flex-basis 300ms ease-in-out;
                //overflow:hidden; mobile needs this
            }

            .navGroup {
                .navItem {
                    display: inline-block;

                }
            }
            .navGroup.center {
                flex:1;

                .navItem {
                    display:flex;
                    justify-content:center;
                }
            }

            .btn-group.harmonyButtons {
                height:50px;
                button {
                    background-color: #476b8f;
                    border-radius: 0;
                    width: 50px;
                    height: 50px;
                    span {
                        top: 8px;
                        color: #fff;
                        height: 30px;
                    }
                }
                button:hover {
                    background-color:#193048;
                }
            }

            .iconLink {
                color: #777;
                padding:15px;
            }
            .iconLink:hover {
                color:#000;
            }

            a {
                text-decoration: none;
            }
        }

        .mainContent {
            display:flex;
            order: 2;
            overflow-y:auto;
            flex:1;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom:0;
            border-radius:0;
            border: 0;
            border-top: 1px;
        }
    }
}



// transitions

.main-transition-enter {
    position:absolute;
    opacity: 0.01;
    transform: scale(.4);
}

.main-transition-enter.main-transition-enter-active {
    opacity: .9;
    transform: scale(1);
    transition: all 600ms ease-in-out;
}

.main-transition-leave {
    opacity: .5;
    position:absolute;
    top:50px;
    transition: all 600ms ease-out;
}

.main-transition-leave.main-transition-leave-active {
    opacity: 0.01;
    position:absolute;
    top:850px;

}

