@import '../../assets/css/qbVariables';



html, body {
    margin:0;
    height:100%;
    min-height:100%;
    overflow:hidden;
}

body.touch .tooltip {
    display:none !important;
}
a {
    outline:none !important;
}
#content {
    height:100%;
}

.navShell {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;


    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .mainContent {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -webkit-transition: opacity 250ms ease-in-out;
    }

    .main {
        display:flex;
        flex-direction: column;
        flex:1;
        min-width:0;

        .topNav {
            display:flex;
            order: 1;
            flex-direction:column;
            background-color: $header-bg;

            >.top {
                display:flex;
                flex-basis:$top-nav-height;
                align-items:center;
                font-size:14px;
                transition: flex-basis 300ms ease-in-out;
                //overflow:hidden; mobile needs this
            }

            .navGroup {
                line-height: $top-nav-height;
                white-space: nowrap;
                .navItem {
                    display: inline-block;

                }
            }
            .navGroup.center {
                flex:1;

                .navItem {
                    display:flex;
                    justify-content:center;
                }
            }

            .btn-group.harmonyButtons {
                height:50px;
                button {
                    border-radius: 0;
                    width: 50px;
                    height: 50px;
                }
                button:hover .hi {
                    color: #fff;
                }
            }

            .iconLink {
                color: #777;
                padding:15px;
            }
            .iconLink:hover {
                color:#000;
            }

            a {
                text-decoration: none;
            }
        }

        .mainContent {
            display:flex;
            order: 2;
            overflow-y:auto;
            flex:1;
            min-width:0;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom:0;
            border-radius:0;
            border: 0;
            border-top: 1px;
        }
    }
}


