@import '../../assets/css/qbVariables';

#content {
    height: 100%;
}

.navShell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0; // keeps the top nav within the page
        .mainContent {
            display: flex;
            flex-direction: column;
            order: 2;
            flex: 1 1 auto;
            min-width: 0;
            // Enable momentum scrolling on iOS devices
            -webkit-overflow-scrolling: touch;
            // Enable hardware acceleration for scrolling through content.
            transform: translate3d(0, 0, 0);
            //min-height is required in order for the scrollbar to work in firefox
            min-height: 0;
            overflow: auto;
            background-color: $color-black-200;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom: 0;
            border-radius: 0;
            border: 0;
            border-top: 1px;
            height: 40px;
        }
    }
}

body:not(.touch) .navShell .main .topNav .iconLink:hover {
    color: $topnav-hover-color;
    background: $topnav-hover-background-color;
}

@include small-breakpoint {
    .layout-stage {
        display: none;
    }
}

.loader {
    right: 0;
    bottom: 0;
    left: 0;
}


