html, body {
    margin:0;
    height:100%;
    min-height:100%;
}

#content {
    height:100%;
}
.navShell {
    height:100%;
    display:flex;
    flex-direction: row;

    .main {
        display:flex;
        flex-direction: column;
        width:100%;

        .topNav {
            display:flex;
            order: 1;
            flex-shrink:0;
            flex-basis:50px;
            border-radius:0;
            border:0;
            border-bottom: 1px;
            background-color: #e1eaf2;
            color: #333;
            align-items:center;

            .navGroup {
                .navItem {
                    display: block;
                    float:left;
                }
            }
            .navGroup.center {
                flex:1;

                .navItem {
                    display:flex;
                    width:100%;
                    justify-content:center;
                }
            }

            .btn-group {
                height:50px;
                button {
                    background-color: #476b8f;
                    border-radius: 0;
                    width: 50px;
                    height: 50px;
                    span {
                        top: 8px;
                        color: #fff;
                        height: 30px;
                    }
                }
                button:hover {
                    background-color:#193048;
                }
            }

            .iconLink {
                color: #777;
                padding:15px;
            }
            .iconLink:hover {
                color:#000;
            }
        }

        .mainContent {
            order: 2;
            overflow-y:scroll;
            flex:1;
            margin-left:10px;
            margin-right:10px;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom:0;
            border-radius:0;
            border: 0;
            border-top: 1px;
        }
    }
}


