@import '../../assets/css/qbVariables';

$font-path: '../../assets/fonts/';


@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

html body {

    font-family: Open Sans, Arial, Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.3em;

    h1 {
        font-family: Open Sans, Arial, Sans-Serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }
    h3 {
        font-family: Open Sans, Arial, Sans-Serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }

}

body.small-breakpoint {
    font-size: $font-size-small;
}

body.touch {

    .tooltip {
        display: none !important;
    }
}

a {
    outline: none !important;
}

#content {
    height: 100%;
}

.navShell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .mainContent {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -webkit-transition: opacity 250ms ease-in-out;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;

        .topNav {
            flex: 0 0 auto;
            flex-basis: $top-nav-height;
            display: flex;
            order: 1;
            flex-direction: column;
            background-color: $header-bg;

            > .top {
                display: flex;
                flex-basis: $top-nav-height;
                font-size: 14px;
                transition: flex-basis 300ms ease-in-out;
                min-width: 330px;
            }

            .navGroup {
                line-height: $top-nav-height;
                white-space: nowrap;
                .navItem {
                    display: inline-block;

                }
            }
            .navGroup.center {
                flex: 1;

                .navItem {
                    display: flex;
                    justify-content: center;
                }
            }

            .btn-group {
                height: 40px;
                button {
                    font-size: 22px;
                    color: $topnav-icon-color;
                    border-radius: 0;
                    width: $top-nav-height;
                    height: $top-nav-height;
                }
                button:hover .hi {
                    color: #fff;
                }
            }

            .iconLink {
                color: $topnav-icon-color;
                padding: 10px;
            }
            .iconLink:hover {
                color: #fff;
                background: $nav-hover-bg
            }

            a {
                text-decoration: none;
            }
        }

        .mainContent {
            display: flex;
            order: 2;
            overflow-y: auto;
            flex: 1;
            min-width: 0;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom: 0;
            border-radius: 0;
            border: 0;
            border-top: 1px;
            height: 40px;
        }
    }
}


