@import '../../assets/css/qbVariables';

$font-path: '../../assets/fonts/';


@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

html body {

    font-family: Open Sans, Arial, Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.3em;

    h1 {
        font-family: Open Sans, Arial, Sans-Serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }
    h3 {
        font-family: Open Sans, Arial, Sans-Serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }

}

body.touch {

    .tooltip {
        display: none !important;
    }
}

#content {
    height: 100%;
}

.navShell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .main {
        position:relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;

        .topNav {
            min-width: 200px;
            flex: 0 0 auto;
            flex-basis: $top-nav-height;
            display: flex;
            order: 1;
            flex-direction: column;
            background-color: $header-bg;

            > .top {
                display: flex;
                flex-basis: $top-nav-height;
                font-size: 14px;
                //min-width: 300px;
            }

            .navGroup.left, .navGroup.right {
                flex: 0 0 auto;
                white-space: nowrap;
            }
            @include small-breakpoint {
                .navGroup.left {
                    flex: 1 1 auto;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
            }
            .navGroup.center {
                flex: 1 0 auto;

                .navItem {
                    display: flex;
                    justify-content: center;
                }
                @include small-breakpoint {
                    flex: 0 0 auto;
                    .navItem {
                        justify-content: flex-end;
                    }
                }
            }

            .btn-group {
                height: 40px;
                button {
                    width:40px;
                    color: $topnav-icon-color;
                    border-radius: 0;
                    padding:0;
                    height: $top-nav-height;
                    text-align:center;
                    &.dropdownToggle {
                        width:20px;
                    }
                }
                button:hover .hi {
                    color: #fff;
                }
            }

            .iconLink {
                color: $topnav-icon-color;
            }


            a {
                text-decoration: none;
            }
        }

        .mainContent {
            display: flex;
            order: 2;
            flex: 1;
            min-width: 0;
            // Enable momentum scrolling on iOS devices
            -webkit-overflow-scrolling: touch;
            // Enable hardware acceleration for scrolling through content.
            transform: translate3d(0,0,0);
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom: 0;
            border-radius: 0;
            border: 0;
            border-top: 1px;
            height: 40px;
        }
    }
}
body:not(.touch) .navShell .main .topNav .iconLink:hover {
    color: #fff;
    background: $nav-hover-bg
}

@include small-breakpoint {
    .layout-stage {
        display:none;
    }

}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


