html, body {
    margin:0;
    height:100%;
    min-height:100%;
}

#content {
    height:100%;
}

/* yuck */
.navShell .topNav  .open > .dropdown-menu {
    left: -33px;
}
.navShell .topNav.mobile  .open > .dropdown-menu {
    left: -128px;
}

.navShell {
    height:100%;
    display:flex;
    flex-direction: row;

    .main {
        display:flex;
        flex-direction: column;
        flex:1;

        .topNav {
            display:flex;
            order: 1;
            flex-shrink:0;
            flex-basis:50px;
            border-radius:0;
            border:0;
            border-bottom: 1px;
            background-color: #e1eaf2;
            color: #333;
            align-items:center;

            .navGroup {
                .navItem {
                    display: block;
                    float:left;
                }
            }
            .navGroup.center {
                flex:1;

                .navItem {
                    display:flex;
                    width:100%;
                    justify-content:center;
                }
            }

            .btn-group {
                height:50px;
                button {
                    background-color: #476b8f;
                    border-radius: 0;
                    width: 50px;
                    height: 50px;
                    span {
                        top: 8px;
                        color: #fff;
                        height: 30px;
                    }
                }
                button:hover {
                    background-color:#193048;
                }
            }

            .iconLink {
                color: #777;
                padding:15px;
            }
            .iconLink:hover {
                color:#000;
            }

            a {
                text-decoration: none;
            }

        }

        .mainContent {
            display:flex;
            order: 2;
            overflow-y:auto;
            flex:1;

        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom:0;
            border-radius:0;
            border: 0;
            border-top: 1px;
        }
    }
}
.swap-enter {
    opacity: 0.01;
    transform: translateX(5em);
    transition: all .5s ease-in;
}

.swap-enter.swap-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.swap-leave {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in;
}

.swap-leave.swap-leave-active {
    opacity: 0;
    transform: translateX(-5em);
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}


