@import "../../assets/css/qbVariables";
@import "../../assets/css/main.scss";

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

html body {

    font-family: $font-family;
    font-size: $font-size-p;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.3em;

    h1 {
        font-family: $font-family;
        font-size: $font-size-h1;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }
    h3 {
        font-family: $font-family;
        font-size: $font-size-h3;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 24px;
    }

}

body.touch {

    .tooltip {
        display: none !important;
    }
}

#content {
    height: 100%;
}

.navShell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    transition: transform ease 250ms;
    -webkit-transition: transform ease 250ms;

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0px; //wtf?
        .topNav {
            min-width: 200px;
            flex: 0 0 auto;
            flex-basis: $top-nav-height;
            display: flex;
            order: 1;
            flex-direction: column;
            background-color: $header-bg;

            > .top {
                display: flex;
                flex-basis: $top-nav-height;
                font-size: 14px;
                min-width: 300px;
            }

            .navGroup.left, .navGroup.right {
                flex: 0 0 auto;
                white-space: nowrap;
            }
            @include small-breakpoint {
                .navGroup.left {
                    flex: 1 1 auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .navGroup.center {
                flex: 1 0 auto;

                .navItem {
                    display: flex;
                    justify-content: center;
                }
                @include small-breakpoint {
                    flex: 0 0 auto;
                    .navItem {
                        justify-content: flex-end;
                    }
                }
            }

            .btn-group {
                height: 40px;
                button {
                    width: 40px;
                    color: $topnav-icon-color;
                    border-radius: 0;
                    padding: 0;
                    height: $top-nav-height;
                    text-align: center;
                    &.dropdownToggle {
                        width: 20px;
                    }
                }
                button:hover .hi {
                    color: #fff;
                }
            }

            .iconLink {
                color: $topnav-icon-color;
            }


            a {
                text-decoration: none;
            }
        }

        .mainContent {
            display: flex;
            order: 2;
            flex: 1 1 auto;
            min-width: 0;
            // Enable momentum scrolling on iOS devices
            -webkit-overflow-scrolling: touch;
            // Enable hardware acceleration for scrolling through content.
            transform: translate3d(0,0,0);
            //min-height is required in order for the scrollbar to work in firefox
            min-height: 0;
        }

        .footer {
            order: 3;
            flex-shrink: 0;
            margin-bottom: 0;
            border-radius: 0;
            border: 0;
            border-top: 1px;
            height: 40px;
        }
    }
}
body:not(.touch) .navShell .main .topNav .iconLink:hover {
    color: #fff;
    background: $nav-hover-bg
}

@include small-breakpoint {
    .layout-stage {
        display: none;
    }

}

.loader {
    right: 0;
    bottom: 0;
    left: 0;
}


