@import "../../assets/css/qbVariables";

.tempMainErrorMessages {
    .iconContainer {
        display: inline-block;
        padding-left: 3px;
        position: relative;
        width: 25px;
    }

    a .qbIcon {
        color: $icon-color-hover;
        position: absolute;
        top: -15px;
    }

    a:hover .qbIcon {
        color: $icon-color-hover;
    }
}