@import '../../assets/css/qbVariables';

.iconChooser {
    .topRow {
        display: flex;
    }
    .allIcons {
        display: flex;
    }

    &.closed {
        .allIcons {
            display: none;
        }
    }
}

