@import '../../../../src/assets/css/qbVariables';

.fieldPropertiesContainer {
    border: $stroke-width-thin solid  $formBuilder-border-color;
    border-top: none;
    width: 220px;
    background-color: $color-black-250;
}