@import "../../../../src/assets/css/qbVariables";

.toolPaletteContainer {
    background-color: $color-black-250;
    width: 100%;
    height: 100%;

    .tooltip {
        z-index: 100;
        opacity: 1;
    }

    .tipChildWrapper {
        cursor: pointer;
    }

    .toolPaletteList, .toolPaletteItemList {
        list-style-type: none;
        padding: $spacing-xxx-small;

        transition: padding 0.3s;

        &.toolPaletteCollapsed {
            padding: 3px;

            transition: padding 0.3s;
        }
    }

    .toolPaletteItemList {
        padding-left: 0;
        padding-top: 0;
    }

    .toolPaletteItemHeader {
        color: $default-text-onlight-color;
        font-size: $font-size-h6;
        font-weight: 100;
        margin-top: $spacing-tiny;
        margin-bottom: $spacing-tiny;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .toolPaletteItem {
        padding-bottom: $spacing-tiny;

        .fieldToken:not(.fieldTokenCollapsed) {
            width: 100%;
        }
    }
}
