@import '../../../../src/assets/css/qbVariables';

.toolPaletteContainer {
  width: 220px;
  background-color: $left-nav-color;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: #ffffff;
  position: relative;
}