@import "../../../../reuse/client/src/assets/css/_qbColorPalette-QuickBase3.scss";

p > a {
  color: $color-indigo-800;
}

p > a:hover {
    color: $color-cyan-400;
}

.stageHeaderCounts {
  .stageHeaderCountItem {
     .stageHeaderCountDivider {
        border-left: 3px solid #f2b835;
     }
  }
}

