@font-face {
    font-family: 'QuickBaseIconUISturdy';
    src:  url('fonts/QuickBaseIconUISturdy.woff2?vg8bto') format('woff2'),
    url('fonts/QuickBaseIconUISturdy.ttf?vg8bto') format('truetype'),
    url('fonts/QuickBaseIconUISturdy.woff?vg8bto') format('woff'),
    url('fonts/QuickBaseIconUISturdy.svg?vg8bto#QuickBaseIconUISturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconTableUISturdy-"], [class*=" iconTableUISturdy-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'QuickBaseIconUISturdy' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconTableUISturdy-hamburger:before {
    content: "\e100";
}
.iconTableUISturdy-fries:before {
    content: "\e101";
}
.iconTableUISturdy-pickles:before {
    content: "\e911";
}
.iconTableUISturdy-home:before {
    content: "\e90e";
}
.iconTableUISturdy-user:before {
    content: "\e90f";
}
.iconTableUISturdy-add-user:before {
    content: "\e901";
}
.iconTableUISturdy-users:before {
    content: "\e90a";
}
.iconTableUISturdy-edit:before {
    content: "\e907";
}
.iconTableUISturdy-print:before {
    content: "\e91a";
}
.iconTableUISturdy-mail:before {
    content: "\e910";
}
.iconTableUISturdy-duplicate:before {
    content: "\e925";
}
.iconTableUISturdy-delete:before {
    content: "\e906";
}
.iconTableUISturdy-search:before {
    content: "\e913";
}
.iconTableUISturdy-add:before {
    content: "\e912";
}
.iconTableUISturdy-history:before {
    content: "\e905";
}
.iconTableUISturdy-alert:before {
    content: "\e914";
}
.iconTableUISturdy-help:before {
    content: "\e922";
}
.iconTableUISturdy-unlock:before {
    content: "\e91c";
}
.iconTableUISturdy-lock:before {
    content: "\e91e";
}
.iconTableUISturdy-caret-filled-down:before {
    content: "\e91f";
}
.iconTableUISturdy-caret-filled-up:before {
    content: "\e920";
}
.iconTableUISturdy-caret-filled-left:before {
    content: "\e90b";
}
.iconTableUISturdy-caret-filled-right:before {
    content: "\e947";
}
.iconTableUISturdy-first:before {
    content: "\e948";
}
.iconTableUISturdy-last:before {
    content: "\e950";
}
.iconTableUISturdy-pause:before {
    content: "\e951";
}
.iconTableUISturdy-close:before {
    content: "\1234";
}
.iconTableUISturdy-x-secondary:before {
    content: "\e94a";
}
.iconTableUISturdy-small-clear-b:before {
    content: "\e94b";
}
.iconTableUISturdy-clear-mini:before {
    content: "\e916";
}
.iconTableUISturdy-caret-down:before {
    content: "\e900";
}
.iconTableUISturdy-caret-right:before {
    content: "\e902";
}
.iconTableUISturdy-caret-up:before {
    content: "\e903";
}
.iconTableUISturdy-caret-left:before {
    content: "\e8dd";
}
.iconTableUISturdy-return:before {
    content: "\e94c";
}
.iconTableUISturdy-check:before {
    content: "\e904";
}
.iconTableUISturdy-filter-status:before {
    content: "\e908";
}
.iconTableUISturdy-filter-tool:before {
    content: "\e909";
}
.iconTableUISturdy-settings:before {
    content: "\e923";
}
.iconTableUISturdy-settings-hollow:before {
    content: "\e924";
}
.iconTableUISturdy-add-mini:before {
    content: "\e915";
}
.iconTableUISturdy-sort-az:before {
    content: "\e917";
}
.iconTableUISturdy-sort-za:before {
    content: "\e918";
}
.iconTableUISturdy-star-full:before {
    content: "\e919";
}
.iconTableUISturdy-star-half:before {
    content: "\e91b";
}
.iconTableUISturdy-star:before {
    content: "\e91d";
}
.iconTableUISturdy-heart-full:before {
    content: "\e90c";
}
.iconTableUISturdy-heart:before {
    content: "\e90d";
}
.iconTableUISturdy-favicon:before {
    content: "\e921";
}
.iconTableUISturdy-report-table:before {
    content: "\e926";
}
.iconTableUISturdy-report-grid-edit:before {
    content: "\e927";
}
.iconTableUISturdy-report-summary:before {
    content: "\e928";
}
.iconTableUISturdy-report-vert-bar:before {
    content: "\e929";
}
.iconTableUISturdy-report-vert-bar-stacked:before {
    content: "\e92a";
}
.iconTableUISturdy-report-horiz-bar:before {
    content: "\e92b";
}
.iconTableUISturdy-report-horiz-bar-stacked:before {
    content: "\e92c";
}
.iconTableUISturdy-report-line:before {
    content: "\e92d";
}
.iconTableUISturdy-report-line-bar:before {
    content: "\e92e";
}
.iconTableUISturdy-report-area:before {
    content: "\e92f";
}
.iconTableUISturdy-report-pie:before {
    content: "\e930";
}
.iconTableUISturdy-report-funnel:before {
    content: "\e931";
}
.iconTableUISturdy-report-scatter:before {
    content: "\e932";
}
.iconTableUISturdy-report-bubble:before {
    content: "\e933";
}
.iconTableUISturdy-report-gauge:before {
    content: "\e934";
}
.iconTableUISturdy-report-map:before {
    content: "\e935";
}
.iconTableUISturdy-report-calendar:before {
    content: "\e936";
}
.iconTableUISturdy-report-timeline:before {
    content: "\e937";
}
.iconTableUISturdy-report-meter:before {
    content: "\e938";
}
.iconTableUISturdy-report-donut:before {
    content: "\e939";
}
.iconTableUISturdy-report-KPI:before {
    content: "\e93a";
}
.iconTableUISturdy-report-menu-1:before {
    content: "\e93b";
}
.iconTableUISturdy-report-menu-2:before {
    content: "\e93d";
}
.iconTableUISturdy-report-menu-3:before {
    content: "\e93e";
}
.iconTableUISturdy-report-menu-4:before {
    content: "\e93f";
}
.iconTableUISturdy-report-menu-5:before {
    content: "\e940";
}
.iconTableUISturdy-box:before {
    content: "\e93c";
}
.iconTableUISturdy-meter:before {
    content: "\e944";
}
.iconTableUISturdy-monitor:before {
    content: "\e945";
}
.iconTableUISturdy-download-cloud:before {
    content: "\e946";
}
.iconTableUISturdy-refresh:before {
    content: "\e941";
}
.iconTableUISturdy-bell:before {
    content: "\e942";
}
.iconTableUISturdy-cart:before {
    content: "\e949";
}
.iconTableUISturdy-eye:before {
    content: "\e943";
}
.iconTableUISturdy-thumbs-up:before {
    content: "\e94d";
}
.iconTableUISturdy-iconUiSturdy_descending:before {
    content: "\e94e";
}
.iconTableUISturdy-iconUiSturdy_ascending:before {
    content: "\e94f";
}
.iconTableUISturdy-scroll:before {
    content: "\e952";
}
.iconTableUISturdy-check-reversed:before {
    content: "\e953";
}
.iconTableUISturdy-info:before {
    content: "\e955";
}