@import '../../../src/assets/css/qbVariables';

.builderWrapperContent {
    height: 100%;
    width: 100%;

    .builderWrapperBody {
        height: calc(100% - #{$top-nav-height} - 1px);
        width: 100%;
    }

    .topNav {
        border: $stroke-width-thin solid  $formBuilder-border-color;
        flex-direction: column;
        min-width: 200px;
        background-color: $topnav-header-background-color;
        text-align: right;
    }

    .saveOrCancelFooter {
        z-index: 2;
        flex: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 3px 0;
        color: $color-black-100;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
