@import '../../../src/assets/css/qbVariables';

.builderWrapperContent {
    height: 100%;
    width: 100%;

    .navTopHeader {
        min-width: 200px;
        flex: 0 0 auto;
        flex-basis: 40px;
        display: flex;
        flex-direction: column;
        background-color: #e3eaf3;

        .topNav {
            z-index: 7;
            min-width: 200px;
            flex: 0 0 auto;
            flex-basis: $top-nav-height;
            display: flex;
            flex-direction: column;
            background-color: $topnav-header-background-color;
            text-align: right;
        }
    }

    .builderWrapperBody {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        overflow: auto;

        .saveOrCancelFooter {
            position: absolute;
            bottom: 0;
            width: 100%;
            color: $color-black-100;
        }
    }
}