@import '../../../src/assets/css/qbVariables';

.formBuilderContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 100%;
    overflow: auto;

    .loadedContent {
        overflow: auto;
        padding-bottom: 65px;
        width: 100%;
    }

    @include small-breakpoint {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #f2f9fe;
      opacity: 1;
      max-width: 1440px;

      .formContainer .formSection .fieldRow td {
            padding-bottom: 21px;
        }
    }


}
