@import '../../../src/assets/css/qbVariables';

.formBuilder {
    display: flex;
    height: 100%;
    flex-direction: column;

    .loadedContent {
        flex: 1 0 auto;
        height: 100%;
        overflow: auto;
    }

    .formBuilderHeader {
        text-align: center;
    }

    .formBuilderBody {
        padding-bottom: 15px;
        text-align: center;
    }
}
