@import "../../../../reuse/client/src/assets/css/qbVariables";

.formBuilderContainer {
    height: 100%;
    .listOfElementsContainer {
        height: calc(100% - #{$trowser-footer-height + 59px});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
    }
    .formBuilderContainerContent {
        //By giving it a border the same size as the focus border and a transparent background,
        //it keeps the container from 'jumping' on focus
        border: $stroke-width-thin solid transparent;
        height: calc(100% - #{$trowser-footer-height});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
        min-width: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        &:focus {
            outline: none;
            border: $stroke-width-thin solid $input-text-focus-border-color;
        }
    }

    .formBuilderContent {
        flex: 1 auto;
        max-height: 100%;
        @include medium-breakpoint {
            //improves scrolling on tablet, but keeps duplicate scroll bars from appearing on desktop
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        }

    }

    .formContainer {
        padding-bottom: 90px;
    }

    .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
        //Set's a width to keep long form titles from breaking the div
        max-width: 500px;
    }

    @include small-breakpoint {
        display: flex;
        flex-direction: column;
        opacity: 1;
        .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
            //Set's a width to keep long form titles from breaking the div
            max-width: 250px;
        }
    }
}
