@import '../../../src/assets/css/qbVariables';

.formBuilderContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    max-width: 1440px;

    .formBuilderHeader {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .formBuilderChildren {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
    }
}
