@import "../../../../reuse/client/src/assets/css/qbVariables";

.reportBuilderContainer {
    height: 100%;
    .listOfElementsContainer {
        height: calc(100% - #{$trowser-footer-height});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
    }
    .reportBuilderContainerContent {
        background-color: $color-purple-100;
        padding: 10px 10px 0 10px;
        //By giving it a border the same size as the focus border and a transparent background,
        //it keeps the container from 'jumping' on focus
        border: $stroke-width-thin solid transparent;
        height: calc(100% - #{$trowser-footer-height});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
        min-width: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        &:focus {
            outline: none;
            border: $stroke-width-thin solid $input-text-focus-border-color;
        }

        .reportBuilderHeader {
            display: flex;
            flex-direction: row;
            flex: 1 0 auto;
            align-items: flex-start;

            .reportNameEditor .editor h3 {
                margin: 0 0 10px 0;
            }

            .reportToolbar {
                display: flex;
                flex-direction: row;
                flex: 1 0 auto;
                align-items: flex-start;
                color: $search-input-color;

                &.noFacets {
                    justify-content: flex-start;
                }

                > .pageActions {
                    line-height: 40px;
                    align-self: stretch;
                }

                .leftReportToolbar {
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                    align-items: flex-start;
                }

                .rightReportToolbar {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    color: $pagination-iconfont-darkblack-color;

                    .recordsCountLoaderContainer {
                        flex-grow: 1;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .loadedContent {
                            display: block;
                            width: 100%;
                        }

                        .loader {
                            position: relative;
                            width: 8%;
                        }

                        .recordsCount {
                            text-align: right;
                            font-family: "Lato", Sans-Serif;
                            font-size: 14px;

                            @include small-breakpoint {
                                color: $pagination-mobile-topbar-text-color;
                                white-space: nowrap;
                                margin-left: 15px;
                                line-height: 40px;
                            }
                        }
                    }

                    .reportNavigation {
                        display: flex;
                        align-items: center;
                    }

                    .loadedContent {
                        flex-grow: 1;
                        flex-shrink: 0;
                    }
                }

                .filterSearchBoxContainer {
                    flex-shrink: 0;

                    .filterSearchBox {
                        min-width: 60px;
                        max-width: 190px;
                    }
                }

                > .facetsMenuContainer {
                    flex-shrink: 1;

                    .facetsMenuButton {
                        .withoutSelections {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }

                .clearAllFacets {
                    display: inline-block;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                    vertical-align: top;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }

        .recordCount {
            padding-top: 5px;
        }

        .loadedContent .qbGrid {
            padding-bottom: 0;

            .qbRow:not(.editing) .qbCell,
            .qbCell .tipChildWrapper {
                cursor: default;
            }

            // row hover highlighting - only done while not inline editing
            &:not(.inlineEditing) {

                // highlight the row when mouse is over the row
                .qbRow:hover .qbCell:not(.placeholderCell) {
                    background: #fff;
                }
            }
        }
    }

    .reportBuilderContent {
        flex: 1 auto;
        max-height: 100%;
        @include medium-breakpoint {
            //improves scrolling on tablet, but keeps duplicate scroll bars from appearing on desktop
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        }

    }

    .formContainer {
        padding-bottom: 90px;
    }

    .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
        //Set's a width to keep long form titles from breaking the div
        max-width: 500px;
    }

    @include small-breakpoint {
        display: flex;
        flex-direction: column;
        opacity: 1;
        .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
            //Set's a width to keep long form titles from breaking the div
            max-width: 250px;
        }
    }
}
