@import "../../../../reuse/client/src/assets/css/qbVariables";
@import "../../../../reuse/client/src/assets/css/qbColorVariables";

.reportBuilderContainer {
    height: 100%;
    .listOfElementsContainer {
        height: calc(100% - #{$trowser-footer-height});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
    }
    .reportBuilderContainerContent {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        position: relative;
        background-color: $stage-background-color;
        padding: 10px 10px 0 10px;
        //By giving it a border the same size as the focus border and a transparent background,
        //it keeps the container from 'jumping' on focus
        border: $stroke-width-thin solid transparent;
        height: calc(100% - #{$trowser-footer-height});
        @include medium-breakpoint {
            //for tablets and smaller, to keep footer from vanishing
            height: 100%;
        }
        min-width: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        &:focus {
            outline: none;
            border: $stroke-width-thin solid $input-text-focus-border-color;
        }

        .reportBuilderHeader {
            .reportNameEditor .editor h3 {
                margin: 0 0 10px 0;
            }
        }

        .reportToolsAndContentContainer .tableActionsContainer {
            margin: 0 0 -15px -5px;
        }

        .loadedContent {
            max-height: calc(100% - #{$trowser-footer-height});
            padding-bottom: 36px;
        }

        .loadedContent .qbGrid {
            padding-bottom: 0;

            .qbRow:not(.editing) .qbCell,
            .qbCell .tipChildWrapper {
                cursor: default;
            }

            // row hover highlighting - only done while not inline editing
            &:not(.inlineEditing) {

                // don't highlight the row when mouse is over the row
                .qbRow:hover .qbCell:not(.placeholderCell) {
                    background-color: $stage-background-color;
                }
            }
        }
    }

    .reportBuilderContent {
        flex: 1 auto;
        max-height: 100%;
        @include medium-breakpoint {
            //improves scrolling on tablet, but keeps duplicate scroll bars from appearing on desktop
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch; /* This allows for momentum scrolling on touch devices */
        }

    }

    .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
        //Set's a width to keep long form titles from breaking the div
        max-width: 500px;
    }

    @include small-breakpoint {
        display: flex;
        flex-direction: column;
        opacity: 1;
        .qbPanel .qbPanelHeader .qbPanelHeaderTitle .qbPanelHeaderTitleText {
            //Set's a width to keep long form titles from breaking the div
            max-width: 250px;
        }
    }
}
