# gitignore file for the ui folder in the qbui project


# build support folders
/build/
/coverage/
/dist/
/logs/
/lib/
/.sass-cache/

# in the event a local build is configured to download node, don't want
# to track the working directory where node is unpacked
/nodejs/
client-react/dist/

# exclude express server local configuration and logs directory
server/config/environment/local.js
server/logs/


# miscellaneous files to not track
npm-debug.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


