;quickbase cache of npm registry for the modules we use
; comment out if you don't have access and need to use standard public
; registry at https://registry.npmjs.org/ instead
registry = https://nexus1.ci.quickbaserocks.com/nexus/content/repositories/npmjs/
