
<div class="ui-grid-pager  right">
    <div ng-if="pagesHandler.current.pageBottomRow">
        <ul class="pagination">
            <li ng-class="{disabled: pagesHandler.noPrev()}">
                <a ng-click="gridApi.pagination.previousPage()">
                   &LT; Previous</a>
            </li>
            <li>
                <span style="cursor:default; color:inherit;">
                    {{pagesHandler.current.pageTopRow + 1}} - {{pagesHandler.current.pageBottomRow}}
                    {{ pagesHandler.current.foundEnd ? ("of " + pagesHandler.getTotalRowsMsg()) : "" }}</span>
            </li>
            <li ng-class="{disabled: pagesHandler.noNext()}">
                <a ng-click="gridApi.pagination.nextPage()">
                    Next &gt;</a>
            </li>
        </ul>
     </div>
</div>
