
<div class="ui-grid-pager  right">
    <ul class="pagination">
        <li ng-class="{disabled: pagesHandler.noPrev()}">
            <a ng-click="gridApi.pagination.previousPage()">
                Previous</a>
        </li>
        <li>
            <span ng-class="pageNumber">
                {{pagesHandler.current.pageTopRow}} - {{pagesHandler.current.pageBottomRow}}
                {{ pagesHandler.current.foundEnd ? ("of " + pagesHandler.getTotalRowsMsg()) : "" }}</span>
        </li>
        <li ng-class="{disabled: pagesHandler.noNext()}">
            <a ng-click="gridApi.pagination.nextPage()">
                Next</a>
        </li>
    </ul>

</div>
