@font-face {
    font-family: "Lato";
    font-style: normal;
    src: url(Lato/Lato-Regular.woff2) format("woff2"), url(Lato/Lato-Regular.woff) format("woff"), url(Lato/Lato-Regular.ttf) format("truetype"); }

@font-face {
    font-family: "Lato";
    font-style: italic;
    src: url(Lato/Lato-Italic.woff2) format("woff2"), url(Lato/Lato-Italic.woff) format("woff"), url(Lato/Lato-Italic.ttf) format("truetype"); }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: url(Lato/Lato-Bold.woff2) format("woff2"), url(Lato/Lato-Bold.woff) format("woff"), url(Lato/Lato-Bold.ttf) format("truetype"); }

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: bold;
    src: url(Lato/Lato-BoldItalic.woff2) format("woff2"), url(Lato/Lato-BoldItalic.woff) format("woff"), url(Lato/Lato-BoldItalic.ttf) format("truetype"); }
