@import '../../assets/css/qbVariables';

.overlayDialogHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $iconfont-on-light-normal-color;

    .btn.btn-default.action {
        cursor: pointer;

        &:hover {
            color: $icon-color-hover;
        }
    }

    &.smallHeader {
        display: none;
    }

    &.nonSmallHeader {
        display: flex;
    }

    > .overlayLeft, .overlayCenter, .overlayRight {
        flex: 0 0 auto;
    }

    .btn.btn-default {
        border: none;
        padding: 0;
        color: $iconfont-on-light-normal-color;
    }

    .btn.btn-default:hover {
        background-color: transparent;
    }
}

.overlayTitle {
    color: $color-black-700;
}

@include small-breakpoint {
    .overlayDialogHeader {
        &.smallHeader {
            display: flex;
        }

        &.nonSmallHeader {
            display: none;
        }
    }
}





