<!-- NOTE: placeholder..small -->
<div class="shell">
    <div class="drawer-container">
        <nav class="drawer-shell small slide-in">

            <header class="drawer-header">
                <span class="drawer-title">Drawer title goes here..</span>
            </header>

            <div class="drawer-content">
                <div>Small Drawer content displays here...</div>
            </div>

        </nav>
    </div>
</div>
<!-- NOTE: placeholder..large -->
<div class="shell">
    <div class="drawer-container">
        <nav class="drawer-shell large slide-in">

            <header class="drawer-header">
                <span class="drawer-title">Drawer title goes here..</span>
                <span class="drawer-close">&#10005;</span>
            </header>

            <div class="drawer-content">
                <div>Large Drawer content displays here...</div>
            </div>

            <footer class="drawer-footer">
                <button type="button">Some button</button>
            </footer>

        </nav>
    </div>
</div>
