@font-face {
  font-family: 'QuickBaseIconUISturdy';
  src:  url('fonts/QuickBaseIconUISturdy.eot?cx15nv');
  src:  url('fonts/QuickBaseIconUISturdy.eot?cx15nv#iefix') format('embedded-opentype'),
    url('fonts/QuickBaseIconUISturdy.woff2?cx15nv') format('woff2'),
    url('fonts/QuickBaseIconUISturdy.ttf?cx15nv') format('truetype'),
    url('fonts/QuickBaseIconUISturdy.woff?cx15nv') format('woff'),
    url('fonts/QuickBaseIconUISturdy.svg?cx15nv#QuickBaseIconUISturdy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconUISturdy-"], [class*=" iconUISturdy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'QuickBaseIconUISturdy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconUISturdy-add-mini:before {
  content: "\e900";
}
.iconUISturdy-add-new-filled:before {
  content: "\e901";
}
.iconUISturdy-add-new-stroke:before {
  content: "\e902";
}
.iconUISturdy-add-user:before {
  content: "\e903";
}
.iconUISturdy-add:before {
  content: "\e904";
}
.iconUISturdy-address:before {
  content: "\e905";
}
.iconUISturdy-alert-fill:before {
  content: "\e906";
}
.iconUISturdy-alert:before {
  content: "\e907";
}
.iconUISturdy-ascending:before {
  content: "\e908";
}
.iconUISturdy-attachment:before {
  content: "\e909";
}
.iconUISturdy-bell:before {
  content: "\e90a";
}
.iconUISturdy-box:before {
  content: "\e90b";
}
.iconUISturdy-caret-down:before {
  content: "\e90c";
}
.iconUISturdy-caret-filled-down:before {
  content: "\e90d";
}
.iconUISturdy-caret-filled-left:before {
  content: "\e90e";
}
.iconUISturdy-caret-filled-right:before {
  content: "\e90f";
}
.iconUISturdy-caret-filled-up:before {
  content: "\e910";
}
.iconUISturdy-caret-left:before {
  content: "\e911";
}
.iconUISturdy-caret-right:before {
  content: "\e912";
}
.iconUISturdy-caret-up:before {
  content: "\e913";
}
.iconUISturdy-cart:before {
  content: "\e914";
}
.iconUISturdy-check-reversed:before {
  content: "\e915";
}
.iconUISturdy-check:before {
  content: "\e916";
}
.iconUISturdy-checkmarkincircle-outline:before {
  content: "\e917";
}
.iconUISturdy-clear-mini:before {
  content: "\e918";
}
.iconUISturdy-clear:before {
  content: "\e919";
}
.iconUISturdy-close:before {
  content: "\e91a";
}
.iconUISturdy-configure:before {
  content: "\e91b";
}
.iconUISturdy-currency-dollar:before {
  content: "\e91c";
}
.iconUISturdy-currency:before {
  content: "\e91d";
}
.iconUISturdy-date-time:before {
  content: "\e91e";
}
.iconUISturdy-date:before {
  content: "\e91f";
}
.iconUISturdy-deactivate:before {
  content: "\e920";
}
.iconUISturdy-delete:before {
  content: "\e921";
}
.iconUISturdy-descending:before {
  content: "\e922";
}
.iconUISturdy-download-cloud:before {
  content: "\e923";
}
.iconUISturdy-dragger:before {
  content: "\e924";
}
.iconUISturdy-duplicate:before {
  content: "\e925";
}
.iconUISturdy-duration:before {
  content: "\e926";
}
.iconUISturdy-edit:before {
  content: "\e927";
}
.iconUISturdy-email-address:before {
  content: "\e928";
}
.iconUISturdy-errorincircle-fill:before {
  content: "\e929";
}
.iconUISturdy-errorincircle-outline:before {
  content: "\e92a";
}
.iconUISturdy-eye:before {
  content: "\e92b";
}
.iconUISturdy-favicon:before {
  content: "\e92c";
}
.iconUISturdy-filter-status:before {
  content: "\e92d";
}
.iconUISturdy-filter-tool:before {
  content: "\e92e";
}
.iconUISturdy-first:before {
  content: "\e92f";
}
.iconUISturdy-formula:before {
  content: "\e930";
}
.iconUISturdy-fries:before {
  content: "\e931";
}
.iconUISturdy-hamburger:before {
  content: "\e932";
}
.iconUISturdy-heart-full:before {
  content: "\e933";
}
.iconUISturdy-heart:before {
  content: "\e934";
}
.iconUISturdy-help:before {
  content: "\e935";
}
.iconUISturdy-history:before {
  content: "\e936";
}
.iconUISturdy-home:before {
  content: "\e937";
}
.iconUISturdy-info:before {
  content: "\e938";
}
.iconUISturdy-infoincircle-fill:before {
  content: "\e939";
}
.iconUISturdy-last:before {
  content: "\e93a";
}
.iconUISturdy-lock:before {
  content: "\e93b";
}
.iconUISturdy-mail:before {
  content: "\e93c";
}
.iconUISturdy-meter:before {
  content: "\e93d";
}
.iconUISturdy-monitor:before {
  content: "\e93e";
}
.iconUISturdy-multiple-choice:before {
  content: "\e93f";
}
.iconUISturdy-number-formula:before {
  content: "\e940";
}
.iconUISturdy-number:before {
  content: "\e941";
}
.iconUISturdy-pause:before {
  content: "\e942";
}
.iconUISturdy-percentage:before {
  content: "\e943";
}
.iconUISturdy-phone-fill:before {
  content: "\e944";
}
.iconUISturdy-phone-number:before {
  content: "\e945";
}
.iconUISturdy-phone-outline:before {
  content: "\e946";
}
.iconUISturdy-pickles:before {
  content: "\e947";
}
.iconUISturdy-print:before {
  content: "\e948";
}
.iconUISturdy-radio-buttons:before {
  content: "\e949";
}
.iconUISturdy-rating:before {
  content: "\e94a";
}
.iconUISturdy-refresh:before {
  content: "\e94b";
}
.iconUISturdy-report-area:before {
  content: "\e94c";
}
.iconUISturdy-report-bubble:before {
  content: "\e94d";
}
.iconUISturdy-report-calendar:before {
  content: "\e94e";
}
.iconUISturdy-report-donut:before {
  content: "\e94f";
}
.iconUISturdy-report-funnel:before {
  content: "\e950";
}
.iconUISturdy-report-gauge:before {
  content: "\e951";
}
.iconUISturdy-report-grid-edit:before {
  content: "\e952";
}
.iconUISturdy-report-horiz-bar-stacked:before {
  content: "\e953";
}
.iconUISturdy-report-horiz-bar:before {
  content: "\e954";
}
.iconUISturdy-report-KPI:before {
  content: "\e955";
}
.iconUISturdy-report-line-bar:before {
  content: "\e956";
}
.iconUISturdy-report-line:before {
  content: "\e957";
}
.iconUISturdy-report-map:before {
  content: "\e958";
}
.iconUISturdy-report-menu-1:before {
  content: "\e959";
}
.iconUISturdy-report-menu-2:before {
  content: "\e95a";
}
.iconUISturdy-report-menu-3:before {
  content: "\e95b";
}
.iconUISturdy-report-menu-4:before {
  content: "\e95c";
}
.iconUISturdy-report-menu-5:before {
  content: "\e95d";
}
.iconUISturdy-report-menu-6:before {
  content: "\e95e";
}
.iconUISturdy-report-meter:before {
  content: "\e95f";
}
.iconUISturdy-report-pie:before {
  content: "\e960";
}
.iconUISturdy-report-scatter:before {
  content: "\e961";
}
.iconUISturdy-report-summary:before {
  content: "\e962";
}
.iconUISturdy-report-table:before {
  content: "\e963";
}
.iconUISturdy-report-timeline:before {
  content: "\e964";
}
.iconUISturdy-report-vert-bar-stacked:before {
  content: "\e965";
}
.iconUISturdy-report-vert-bar:before {
  content: "\e966";
}
.iconUISturdy-return:before {
  content: "\e967";
}
.iconUISturdy-scroll:before {
  content: "\e968";
}
.iconUISturdy-search:before {
  content: "\e969";
}
.iconUISturdy-selected:before {
  content: "\e96a";
}
.iconUISturdy-settings:before {
  content: "\e96b";
}
.iconUISturdy-small-clear-b:before {
  content: "\e96c";
}
.iconUISturdy-sort-az:before {
  content: "\e96d";
}
.iconUISturdy-sort-za:before {
  content: "\e96e";
}
.iconUISturdy-speechbubble-fill:before {
  content: "\e96f";
}
.iconUISturdy-speechbubble-outline:before {
  content: "\e970";
}
.iconUISturdy-star-full:before {
  content: "\e971";
}
.iconUISturdy-star-half:before {
  content: "\e972";
}
.iconUISturdy-star:before {
  content: "\e973";
}
.iconUISturdy-text-formula:before {
  content: "\e974";
}
.iconUISturdy-text-long:before {
  content: "\e975";
}
.iconUISturdy-text:before {
  content: "\e976";
}
.iconUISturdy-thumbs-up:before {
  content: "\e977";
}
.iconUISturdy-time-of-day:before {
  content: "\e978";
}
.iconUISturdy-time:before {
  content: "\e979";
}
.iconUISturdy-tip-down-stroke:before {
  content: "\e97a";
}
.iconUISturdy-tip-down:before {
  content: "\e97b";
}
.iconUISturdy-tip-left-stroke:before {
  content: "\e97c";
}
.iconUISturdy-tip-left:before {
  content: "\e97d";
}
.iconUISturdy-tip-right-stroke:before {
  content: "\e97e";
}
.iconUISturdy-tip-right:before {
  content: "\e97f";
}
.iconUISturdy-tip-up-stroke:before {
  content: "\e980";
}
.iconUISturdy-tip-up:before {
  content: "\e981";
}
.iconUISturdy-unlock:before {
  content: "\e982";
}
.iconUISturdy-unselected:before {
  content: "\e983";
}
.iconUISturdy-url-formula:before {
  content: "\e984";
}
.iconUISturdy-url:before {
  content: "\e985";
}
.iconUISturdy-user:before {
  content: "\e986";
}
.iconUISturdy-users:before {
  content: "\e987";
}
.iconUISturdy-x-secondary:before {
  content: "\e988";
}

