
.appHomePageContainer {
    display:flex;
    flex-direction:column;
    flex:1 1 auto;

    .layout-stage {
        flex: 0 0 auto;

        .appName {
            padding-left:5px;
        }
    }

    .app-content {
        flex:1 1 auto;
        padding: 0 10px;
    }
}

.appHomePageImageContainer {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    .appHomePageImage {
        content: url('./app_homePageR4_1280.png');
        width: 100%;
        height: 100%;
    }

    .appHomePageMobileImage {
        content: url('./app_homePage_mobile.png');
        width: 100%;
        height: 100%;
    }
}