@import '../../../../reuse/client/src/assets/css/qbVariables';

/*
 * This background color for appHomePageContainer is defined here because it is particular to the temporary app homepage
 * background color. It overrides the white background for the purpose of this temp page. When/If this is deleted,
 * the homepage will revert to the normal color.
*/
.appHomePageContainer {
    background-color: $color-black-200;

    .appHomePageStage {
        padding-left: 30px;

        .appStageHeadline {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: $stage-headline-color;
            margin-bottom: 10px;

            .appHeadLine {
                height: 26px;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.appHomePage {
    background-color: $color-black-200;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 20px;

    .appHomePageWidthConstraint {
        max-width: 1200px;
        min-width: 670px;
        margin: auto;
    }
}

.appHomePageBody {
    margin: 25px 40px 40px 40px;

    .main {
        padding: 0;
        display: flex;
        flex-flow: row;

        .article {
            padding: 5px;
            flex: 3 1 50%;
            order: 2;

            .horizontalPlaceHolder {
                color: $color-black-700;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: $font-size-large;
                border: 1px dashed $color-black-400;
                padding: 70px;

                .horizontalPlaceHolderLine {
                    display: block;
                    margin: auto;
                }
            }
        }

        .article .horizontalPlaceHolder:first-child {
            margin-bottom: 40px;
        }

        .nav {
            margin-right: 40px;
            padding: 5px;
            flex: 1 6 50%;
            order: 1;

            .verticalPlaceHolder {
                height: 100%;
                color: $color-black-700;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px dashed $color-black-400;
                padding: 70px;

                .verticalPlaceHolderIconLine {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .header {
        display: block;
        margin-bottom: 25px;
        padding: 5px;
        min-height: 10px;
        font-size: 18px;
        color: $color-black-500;
    }

    @media all and (max-width: 640px) {
        margin: 10px;

        .main {
            flex-direction: column;

            .article, .nav {
                order: 0;
                margin-top: 10px;
            }

            .nav {
                margin-right: 0px;
            }

            .article .horizontalPlaceHolder:first-child {
                margin-bottom: 20px;
            }
        }

        .header {
            max-height: 5px;
            margin: 10px 10px 10px 0px;
            font-size: 16px;
        }
    }

}
