
.appHomePageContainer {
    display:flex;
    flex-direction:column;
    flex:1 1 auto;

    .layout-stage {
        flex: 0 0 auto;

        .appName {
            padding-left:5px;
        }
    }

    .app-content {
        flex:1 1 auto;
        padding: 0 10px;
    }
}