@import '../../assets/css/_qbVariables.scss';

$error-background-color: rgba($error-color, 0.15);

.appNotFound {
    border: 1px solid $error-color;
    background-color: $error-background-color;
    border-radius: 5px;
    color: $error-color;
    margin: 5px 5px;
    padding: 15px 15px;
    display: flex;
    align-items: flex-start;

    .appNotFoundText, .qbIcon {
        font-size: $font-size-h4;
    }

    .appNotFoundText {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px;
    }

    // Animations for showing message
    &-enter {
        opacity: 0;
        max-height: 0;
    }

    &-enter.appNotFound-enter-active {
        opacity: 1;
        max-height: 800px;

        transition: opacity 1s ease-in, max-height 1s ease-in;
    }

    &-leave {
        opacity: 1;
        max-height: 800px;
    }

    &-leave.appNotFound-leave-active {
        opacity: 0;
        max-height: 0;

        transition: opacity 1s ease-in, max-height 1s ease-in;
    }
}