html, body {
    margin: 0;
}

@keyframes loadingScreen-loadInElement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loadingScreen {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.loadingScreen .leftNav,
.loadingScreen .topNav,
.loadingScreen .header,
.loadingScreen .addButton,
.loadingScreen .mobileAddButton,
.loadingScreen .tableHeader,
.loadingScreen .tableBody,
.loadingScreen .cards {
    animation: loadingScreen-loadInElement 1s normal forwards;
    opacity: 0;
}

.loadingScreen .leftNav {
    background-color: transparent;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    -ms-flex-direction: column;
    width: 100px;
    -ms-flex: 0 1 auto;
}

.loadingScreen .logoArea {
    background-color: rgba(0, 171, 244, 0.2);
    height: 110px;
}

.loadingScreen .appsListArea {
    background-color: #edf0f3;
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
}

.loadingScreen .mainBody {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex: 1;
}

.loadingScreen .mainContent {
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex: 1;
}

.loadingScreen .topNav {
    animation-delay: 0.5s;
    background-color: #edf0f3;
    height: 45px;
}

.loadingScreen .header {
    align-items: center;
    animation-delay: 1s;
    background-color: #f5f5f5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    height: 80px;
}

.loadingScreen .table {
    height: 40%;
    margin-top: 79px;
    width: 90%;
    z-index: 0;
}

.loadingScreen .table .tableHeader {
    animation-delay: 1.5s;
    background-color: rgba(229, 246, 254, 0.6);
    height: 28px;
}

.loadingScreen .tableBody {
    align-items: center;
    animation-delay: 2s;
    background-color: #f5f5f5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 300px;
    justify-content: center;
    width: 100%;
}

.loadingScreen .cards {
    align-items: center;
    animation-delay: 1.5s;
    display: none;
    flex: 1 auto;
    -ms-flex-align: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex: 1 auto;
}

/* Small breakpoing */
@media (max-width: 640px) {
    .loadingScreen .leftNav {
        width: 0;
    }

    .loadingScreen .topNav {
        height: 41px;
    }

    .loadingScreen .header {
        height: 40px;
    }

    .loadingScreen .table {
        display: none;
    }

    .loadingScreen .cards {
        display: -ms-flexbox;
        display: flex;
    }
}

/* Medium breakpoint */
@media (min-width: 641px) and (max-width: 1024px) {
    .loadingScreen .leftNav {
        width: 200px;
    }
}

/* Large breakpoint */
@media (min-width: 1025px) and (max-width: 1440px) {
    .loadingScreen .leftNav {
        width: 220px;
    }
}

/* Extra-Large breakpoint */
@media (min-width: 1441px) {
    .loadingScreen .leftNav {
        width: 300px;
    }
}


/* Loader was created by copying the DOM created by React-Loader, filling in the missing CSS, and then removing inline styles */
/* We cannot use the React-Loader because React/Vendor packages have not loaded yet when this screen appears */
@keyframes loadingScreen-qbLoader {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.loadingScreen .qbLoader {
    position: absolute;
    width: 0;
}

.loadingScreen .qbLoaderCircle {
    animation: loadingScreen-qbLoader 1s infinite ease-in-out;
    opacity: 1;
    position: absolute;
    top: -8px;
}

.loadingScreen .qbLoaderCircleInner {
    background: rgb(150, 150, 150);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px;
    height: 16px;
    position: absolute;
    transform-origin: left center 0;
    -ms-transform-origin: left center 0;
    width: 16px;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-1 {
    animation-delay: 0.143s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-2 {
    animation-delay: 0.286s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-3 {
    animation-delay: 0.429s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-4 {
    animation-delay: 0.571s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-5 {
    animation-delay: 0.714s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-6 {
    animation-delay: 0.857s;
}

.loadingScreen .qbLoaderCircle.qbLoaderCircle-7 {
    animation-delay: 1s;
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-1 {
    transform: rotate(0deg) translate(17px, 0);
    -ms-transform: rotate(0deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-2 {
    transform: rotate(51deg) translate(17px, 0);
    -ms-transform: rotate(51deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-3 {
    transform: rotate(102deg) translate(17px, 0);
    -ms-transform: rotate(102deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-4 {
    transform: rotate(154deg) translate(17px, 0);
    -ms-transform: rotate(154deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-5 {
    transform: rotate(205deg) translate(17px, 0);
    -ms-transform: rotate(205deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-6 {
    transform: rotate(257deg) translate(17px, 0);
    -ms-transform: rotate(257deg) translate(17px, 0);
}

.loadingScreen .qbLoaderCircleInner.qbLoaderCircleInner-7 {
    transform: rotate(308deg) translate(17px, 0);
    -ms-transform: rotate(308deg) translate(17px, 0);
}
