@import "../../assets/css/_qbVariables";

@mixin menuShadow {
    box-shadow: -5px 0 10px -5px rgba($color-black-800, 0.3), 5px 0 10px -5px rgba($color-black-800, 0.3);
}

@mixin baseMenuWidths {
    // The min and max width are set here to help with animating collapsed state
    min-width: $leftnav-width-standard;
    max-width: $leftnav-width-standard;

    @include large-breakpoint {
        max-width: $leftnav-width-standard;
        min-width: $leftnav-width-standard;
    }

    @include medium-breakpoint {
        min-width: $leftnav-width-standard;
        max-width: $leftnav-width-standard;
    }

    @include small-breakpoint {
        min-width: calc(100% - #{$leftNav-width-collapsed});
        max-width: calc(100% - #{$leftNav-width-collapsed});
    }
}

@mixin moveMenuToLeft {
    transform: translateX($leftnav-width-standard);

    @include large-breakpoint {
        transform: translateX($leftnav-width-standard);
    }

    @include medium-breakpoint {
        transform: translateX($leftnav-width-standard);
    }

    @include small-breakpoint {
        transform: translateX(calc(100% - #{$leftNav-width-collapsed}));
    }
}

// When docked on the right, we need to translate in the opposite direction
@mixin moveMenuToRight {
    transform: translateX(-$leftnav-width-standard);

    @include large-breakpoint {
        transform: translateX(-$leftnav-width-standard);
    }

    @include medium-breakpoint {
        transform: translateX(-$leftnav-width-standard);
    }

    @include small-breakpoint {
        transform: translateX(calc(-100% + #{$leftNav-width-collapsed}));
    }
}